@model IEnumerable<WPH.Models.CustomDataModels.BaseInfo.BaseInfoTypeViewModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", k_text = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        k_text = " k-text-align-left ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        k_text = " k-text-align-right ";
    }

}



<style>


    @@media (max-width:767px) {
        .modal-dialog {
            width: 70vw;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5)
        }

        .modal-sm {
            width: 300px
        }

        #new-modal-body {
            width: 90vw;
        }

        #edit-modal-body {
            width: 90vw;
        }
    }

    @@media (min-width:768px) {
        #new-modal-body {
            width: 60vw;
        }

        #edit-modal-body {
            width: 90vw;
        }
    }
</style>


<div class="row page-header font ">
    <div class="@pull ">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["BaseInfo"]
        </h1>
    </div>

    @if ((bool)ViewBag.AccessNewBaseInfo)
    {
        <div class="@font @pull MyFont-Merriweather-grid" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddBaseInfo(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }


    <div class="@font @pull  col-sm-4 col-md-2" style="padding-left:unset;padding-right:unset;">

        @(Html.Kendo().DropDownList()
            .Name("baseInfoTypes")
            .BindTo(Model)
            .DataTextField("FName")
            .DataValueField("Guid")
            ///.Filter("contains")
            .Events(e =>
            {
                e.Select("onSelectBaseInfoType");
            })
            .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
            )
    </div>

    <div class="@pull @k_text col-sm-4 col-md-2" style="padding:0.5rem 1rem">

        @{
            if (ViewBag.Rtl == "True")
            {
                @ViewBag.BaseInfoTypeTranslatedForArabic
            }
            else
            {
                @ViewBag.BaseInfoTypeTranslated
            }
        }

    </div>
</div><!-- /.page-header -->




<input class="hidden" type="text" id="type-id" data-Value="@Model.FirstOrDefault().Guid" />
<div class="space-10"></div>

<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/BaseInfo/dgBaseInfoGrid.cshtml")
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<h3 id="newText" class="hidden"> @Localizer["New"] </h3>

<script>

    function AddBaseInfo(ele) {

        let title = $("#baseInfoTypes").data("kendoDropDownList").text();
        let deopVal = $("#baseInfoTypes").data("kendoDropDownList").value();

        let newTex = $("#newText").text();

        let header = newTex + " - " + title;

        $("#new-modal-header").text(header);

        var link = $("#GridAddLink").attr("data-Value");
        $(".loader").removeClass("hidden");
        $('#my-modal-new').modal('toggle');
        $('#new-modal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
            $("#TypeId").val(deopVal);
        });
    }

</script>