@model WPH.Models.Cash.DoctorWageViewModel
@using WPH.Models.Cash
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewItemForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ReceptionId)
                    @Html.HiddenFor(m => m.ReceptionServiceId)
                    @{
                        string doc = string.IsNullOrWhiteSpace(Model.DoctorName) ? "" : "hidden";

                        string anest = string.IsNullOrWhiteSpace(Model.Anesthesiologist) ? "" : "hidden";

                        string pediat = string.IsNullOrWhiteSpace(Model.Pediatrician) ? "" : "hidden";

                        string resident = string.IsNullOrWhiteSpace(Model.Resident) ? "" : "hidden";
                    }

                    <div>

                        <div style="clear: both;overflow: hidden;margin-bottom:1rem">
                            <div class="col-sm-12">

                                <div class="col-sm-12">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["Wage"] @Localizer["Hospital"] : </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("HospitalWage")
                                            .Min(0)
                                            .Format("N0")
                                            .Value(Model.HospitalWage)
                                            .HtmlAttributes(new { style = "width: 100%;" })
                                            )
                                        </span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["DoctorName"]: </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().TextBox()
                                            .Name("DoctorName")
                                            .Value(Model.DoctorName)
                                            .Enable(false)
                                            .HtmlAttributes(new { style = "width: 100%"})
                                            )
                                        </span>
                                    </label>
                                </div>

                                <div class="col-sm-6">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["Anesthesiologist"]: </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().TextBox()
                                            .Name("Anesthesiologist")
                                            .Value(Model.Anesthesiologist)
                                            .Enable(false)
                                            .HtmlAttributes(new { style = "width: 100%"})
                                            )
                                        </span>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <span id="Empty-Doctor" class="emptybox @doc" style="color:red;">
                                        @Localizer["Surgery1NotExists"]
                                    </span>
                                </div>

                                <div class="col-sm-6">

                                    <span id="Empty-Anesthesiologist" class="emptybox @anest" style="color:red;">
                                        @Localizer["AnesthesiologistNotExists"]
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">

                                    <label class="block clearfix" style="">
                                        <label for="form-field-8">@Localizer["Amount"]: </label>
                                        <span class="block input-icon input-icon-right">

                                            @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("Amount")
                                            .Min(0)
                                            .Max(10000000)
                                            .Format("N0")
                                            .Value(Model.Amount)
                                            .HtmlAttributes(new { style = "width: 100%;" })
                                            )
                                        </span>

                                    </label>
                                </div>

                                <div class="col-sm-6">
                                    <label class="block clearfix" style="">
                                        <label for="form-field-8">@Localizer["Amount"]: </label>
                                        <span class="block input-icon input-icon-right">

                                            @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("AnesthesiologistAmount")
                                            .Min(0)
                                            .Max(10000000)
                                            .Format("N0")
                                            .Value(Model.AnesthesiologistAmount)
                                            .HtmlAttributes(new { style = "width: 100%;"})
                                            )
                                        </span>

                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div style="clear: both;overflow: hidden;">
                        <div class="space-14 row page-header "></div>
                    </div>

                    <div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["Pediatrician"]: </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().TextBox()
                                            .Name("Pediatrician")
                                            .Value(Model.Pediatrician)
                                            .Enable(false)
                                            .HtmlAttributes(new { style = "width: 100%"})
                                            )
                                        </span>
                                    </label>
                                </div>

                                <div class="col-sm-6">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["Resident"]: </label>
                                        <span class="block input-icon input-icon-right">

                                            @(Html.Kendo().DropDownList()
                                            .Name("Resident")
                                            .DataValueField("Guid")
                                            .DataTextField("HumanName")
                                            .OptionLabel(" ")
                                            .Value(Model.ResidentGuid.ToString())
                                            .Filter("contains")
                                            .DataSource(source =>
                                            {
                                                source.Read(read =>
                                                {
                                                    read.Action("GetAllTreatmentStaff", "HumanResource", new
                                                    {
                                                        DoctorGuid = Model.DoctorGuid,
                                                        AnesthesiologistGuid = Model.AnesthesiologistGuid,
                                                        PediatricianGuid = Model.PediatricianGuid
                                                    });
                                                })
                                                .ServerFiltering(false);
                                            })
                                            .HtmlAttributes(new { style = "width: 100%" })

                                            )

                                        </span>
                                    </label>

                                </div>

                            </div>
                        </div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <span id="Empty-Pediatrician" class="emptybox @pediat" style="color:red;">
                                        @Localizer["PediatricianNotExists"]
                                    </span>
                                </div>

                                <div class="col-sm-6">
                                    <span id="Empty-Resident" class="emptybox @resident" style="color:red;">
                                        @Localizer["ResidentNotExists"]
                                    </span>
                                </div>

                            </div>
                        </div>

                        <div style="clear: both;overflow: hidden;">
                            <div class="col-sm-12">

                                <div class="col-sm-6">
                                    <label class="block clearfix" style="">
                                        <label for="form-field-8">@Localizer["Amount"]: </label>
                                        <span class="block input-icon input-icon-right">

                                            @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("PediatricianAmount")
                                            .Min(0)
                                            .Max(10000000)
                                            .Format("N0")
                                            .Value(Model.PediatricianAmount)
                                            .HtmlAttributes(new { style = "width: 100%;" })
                                            )
                                        </span>

                                    </label>
                                </div>

                                <div class="col-sm-6">
                                    <label class="block clearfix">
                                        <label for="form-field-8">@Localizer["Amount"]: </label>
                                        <span class="block input-icon input-icon-right">

                                            @(Html.Kendo().NumericTextBox<decimal>()
                                            .Name("ResidentAmount")
                                            .Min(0)
                                            .Max(10000000)
                                            .Format("N0")
                                            .Value(Model.ResidentAmount)
                                            .HtmlAttributes(new { style = "width: 100%"})
                                        )
                                        </span>

                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div style="clear: both;overflow: hidden;">
                        <div class="space-14 row page-header "></div>
                    </div>

                    <div id="TreatmentStaffContent">
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["TreatmentStaff"]: </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("TreatmentStaff")
                                        .DataValueField("Guid")
                                        .DataTextField("HumanName")
                                        .Filter("contains")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllTreatmentStaff", "HumanResource", new
                                                {
                                                    DoctorGuid = Model.DoctorGuid,
                                                    AnesthesiologistGuid = Model.AnesthesiologistGuid,
                                                    PediatricianGuid = Model.PediatricianGuid,
                                                    ResidentGuid = Model.ResidentGuid
                                                });
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "TreatmentStaff-box" })

                                        )
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Amount"]: </label>
                                    <span class="block input-icon input-icon-right">

                                        @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("TreatmentStaffAmount")
                                        .Min(0)
                                        .Max(10000000)
                                        .Format("N0")
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "TreatmentStaffAmount-box" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">
                                @(Html.Kendo().Button()
                                .Name("btn-add-TreatmentStaff")
                                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary" })
                                .Content(Localizer["Add"]))
                            </div>


                        </div>
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="TreatmentStaff-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="TreatmentStaffAmount-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">

                            </div>

                        </div>

                        <div id="GridRepeatedValue" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_RepeatedWage"]
                        </div>
                        <div id="GridERROR_Data" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_DataNotValid"]
                        </div>
                        <div id="GridERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_InsertWrong"]
                        </div>

                    </div>

                    <div class="col-sm-12">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Cash/dgDoctorWageGrid.cshtml", new DoctorWageViewModel
                        {
                            ReceptionId = Model.ReceptionId,
                            DoctorGuid = Model.DoctorGuid,
                            AnesthesiologistGuid = Model.AnesthesiologistGuid,
                            PediatricianGuid = Model.PediatricianGuid,
                            ResidentGuid = Model.ResidentGuid,
                            CadreType = "TreatmentStaff",
                        })

                    </div>

                    <div style="clear: both;overflow: hidden;">
                        <div class="space-14 row page-header "></div>
                    </div>

                    <div id="SentinelCadreContent">
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["SentinelCadre"]: </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("SentinelCadre")
                                        .DataValueField("Guid")
                                        .DataTextField("HumanName")
                                        .Filter("contains")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllTreatmentStaff", "HumanResource", new
                                                {
                                                    DoctorGuid = Model.DoctorGuid,
                                                    AnesthesiologistGuid = Model.AnesthesiologistGuid,
                                                    PediatricianGuid = Model.PediatricianGuid,
                                                    ResidentGuid = Model.ResidentGuid
                                                });
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "SentinelCadre-box" })

                                        )
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Amount"]: </label>
                                    <span class="block input-icon input-icon-right">

                                        @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("SentinelCadreAmount")
                                        .Min(0)
                                        .Max(10000000)
                                        .Format("N0")
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "SentinelCadreAmount-box" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">
                                @(Html.Kendo().Button()
                                .Name("btn-add-SentinelCadre")
                                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary" })
                                .Content(Localizer["Add"]))
                            </div>


                        </div>
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="SentinelCadre-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="SentinelCadreAmount-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">

                            </div>

                        </div>

                        <div id="GridRepeatedValue" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_RepeatedWage"]
                        </div>
                        <div id="GridERROR_Data" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_DataNotValid"]
                        </div>
                        <div id="GridERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_InsertWrong"]
                        </div>

                    </div>

                    <div class="col-sm-12">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Cash/dgDoctorWageGrid.cshtml", new DoctorWageViewModel
                        {
                            ReceptionId = Model.ReceptionId,
                            DoctorGuid = Model.DoctorGuid,
                            AnesthesiologistGuid = Model.AnesthesiologistGuid,
                            PediatricianGuid = Model.PediatricianGuid,
                            ResidentGuid = Model.ResidentGuid,
                            CadreType = "SentinelCadre",
                        })

                    </div>


                    <div style="clear: both;overflow: hidden;">
                        <div class="space-14 row page-header "></div>
                    </div>

                    <div id="PrematureCadreContent">
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["PrematureCadre"]: </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("PrematureCadre")
                                        .DataValueField("Guid")
                                        .DataTextField("HumanName")
                                        .Filter("contains")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllTreatmentStaff", "HumanResource", new
                                                {
                                                    DoctorGuid = Model.DoctorGuid,
                                                    AnesthesiologistGuid = Model.AnesthesiologistGuid,
                                                    PediatricianGuid = Model.PediatricianGuid,
                                                    ResidentGuid = Model.ResidentGuid
                                                });
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "PrematureCadre-box" })

                                        )
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Amount"]: </label>
                                    <span class="block input-icon input-icon-right">

                                        @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("PrematureCadreAmount")
                                        .Min(0)
                                        .Max(10000000)
                                        .Format("N0")
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "PrematureCadreAmount-box" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">
                                @(Html.Kendo().Button()
                                .Name("btn-add-PrematureCadre")
                                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary" })
                                .Content(Localizer["Add"]))
                            </div>


                        </div>
                        <div class="col-sm-12 " style="display:flex;align-items: flex-end;padding:0px !important;">

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="PrematureCadre-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>

                            </div>

                            <div class="col-sm-5">
                                <label class="block clearfix">
                                    <span id="PrematureCadreAmount-box" class="emptygridbox hidden" data-isEssential="true" style="color:red;">
                                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-2">

                            </div>

                        </div>

                        <div id="GridRepeatedValue" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_RepeatedWage"]
                        </div>
                        <div id="GridERROR_Data" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_DataNotValid"]
                        </div>
                        <div id="GridERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block;clear: both;">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_InsertWrong"]
                        </div>

                    </div>

                    <div class="col-sm-12">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Cash/dgDoctorWageGrid.cshtml", new DoctorWageViewModel
                        {
                            ReceptionId = Model.ReceptionId,
                            DoctorGuid = Model.DoctorGuid,
                            AnesthesiologistGuid = Model.AnesthesiologistGuid,
                            PediatricianGuid = Model.PediatricianGuid,
                            ResidentGuid = Model.ResidentGuid,
                            CadreType = "PrematureCadre",
                        })

                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>

    function LineItems_Databound(status) {
        if (status == 'Paid') {
            return "<div style='background:lightgreen;border-radius: 5px;'>" + status + " </div>";
        } else {
            return "<div style='background:pink;border-radius: 5px;'>" + status + " </div>";
        }
    }

    $(document).ready(function () {


        $("#kendoTreatmentStaffGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoTreatmentStaffGrid").find("tr.k-state-selected td a.edit").click();

        });


        $("#kendoSentinelCadreGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoSentinelCadreGrid").find("tr.k-state-selected td a.edit").click();

        });


        $("#kendoPrematureCadreGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#kendoPrematureCadreGrid").find("tr.k-state-selected td a.edit").click();

        });


        setTimeout(function () {
            let numerictextbox = $("#Amount").data("kendoNumericTextBox");
            numerictextbox.focus();
        }, 200);

    });


    $("#btn-add-TreatmentStaff").on("click", function () {
        $(this).attr("disabled", true);

        $('#TreatmentStaffContent #GridERROR_SomeThingWentWrong').addClass('hidden');
        $('#TreatmentStaffContent #GridERROR_Data').addClass('hidden');
        $('#TreatmentStaffContent #GridRepeatedValue').addClass('hidden');
        $("#TreatmentStaffContent .emptygridbox").addClass("hidden");

        var isEmmpty = true;
        $("#TreatmentStaffContent .emptygridbox").each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-add-TreatmentStaff').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/HumanResource/AddTreatmentStaffWage";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                SurgeryId: $("#DoctorWageModal  #ReceptionId").val(),
                Salary: $("#TreatmentStaffContent  #TreatmentStaffAmount").val(),
                HumanResourceId: $("#TreatmentStaffContent  #TreatmentStaff").val(),
                SalaryType: "Wage",
            },
            success: function (response) {
                $('#btn-add-TreatmentStaff').removeAttr("disabled");

                if (response === "DataNotValid") {
                    $("#TreatmentStaffContent #GridERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "SomeThingWentWrong") {
                    $("#TreatmentStaffContent #GridERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "RepeatedValue") {
                    $("#TreatmentStaffContent #GridRepeatedValue").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                } else {
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                    $("#kendoTreatmentStaffGrid .k-pager-refresh")[0].click();
                }
            }
        });
    });


    $("#btn-add-SentinelCadre").on("click", function () {
        $(this).attr("disabled", true);

        $('#SentinelCadreContent #GridERROR_SomeThingWentWrong').addClass('hidden');
        $('#SentinelCadreContent #GridERROR_Data').addClass('hidden');
        $('#SentinelCadreContent #GridRepeatedValue').addClass('hidden');
        $("#SentinelCadreContent .emptygridbox").addClass("hidden");

        var isEmmpty = true;
        $("#SentinelCadreContent .emptygridbox").each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-add-SentinelCadre').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/HumanResource/AddSentinelCadreWage";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                SurgeryId: $("#DoctorWageModal  #ReceptionId").val(),
                Salary: $("#SentinelCadreContent  #SentinelCadreAmount").val(),
                HumanResourceId: $("#SentinelCadreContent  #SentinelCadre").val(),
                SalaryType: "Wage",
            },
            success: function (response) {
                $('#btn-add-SentinelCadre').removeAttr("disabled");

                if (response === "DataNotValid") {
                    $("#SentinelCadreContent #GridERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "SomeThingWentWrong") {
                    $("#SentinelCadreContent #GridERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "RepeatedValue") {
                    $("#SentinelCadreContent #GridRepeatedValue").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                } else {
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                    $("#kendoSentinelCadreGrid .k-pager-refresh")[0].click();
                }
            }
        });
    });


    $("#btn-add-PrematureCadre").on("click", function () {
        $(this).attr("disabled", true);

        $('#PrematureCadreContent #GridERROR_SomeThingWentWrong').addClass('hidden');
        $('#PrematureCadreContent #GridERROR_Data').addClass('hidden');
        $('#PrematureCadreContent #GridRepeatedValue').addClass('hidden');
        $("#PrematureCadreContent .emptygridbox").addClass("hidden");

        var isEmmpty = true;
        $("#PrematureCadreContent .emptygridbox").each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-add-PrematureCadre').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/HumanResource/AddPrematureCadreWage";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                SurgeryId: $("#DoctorWageModal  #ReceptionId").val(),
                Salary: $("#PrematureCadreContent  #PrematureCadreAmount").val(),
                HumanResourceId: $("#PrematureCadreContent  #PrematureCadre").val(),
                SalaryType: "Wage",
            },
            success: function (response) {
                $('#btn-add-PrematureCadre').removeAttr("disabled");

                if (response === "DataNotValid") {
                    $("#PrematureCadreContent #GridERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "SomeThingWentWrong") {
                    $("#PrematureCadreContent #GridERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "RepeatedValue") {
                    $("#PrematureCadreContent #GridRepeatedValue").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                } else {
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                    $("#kendoPrematureCadreGrid .k-pager-refresh")[0].click();
                }
            }
        });
    });

</script>
