@model WPH.Models.Surgery.SurgeryViewModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", dir = "";

    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-right ";
        dir = " ";
        <input class="hidden" type="text" id="RTL" data-Value="False" />
        <h3 id="newServiceText" class="hidden">@Localizer["New"] @Localizer["Service"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-left ";
        dir = " direction:rtl; ";
        <input class="hidden" type="text" id="RTL" data-Value="True" />
        <h3 id="newServiceText" class="hidden">@Localizer["Service"] @Localizer["New"]</h3>
    }
}


@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.Guid, new { id = "Guid" })
@Html.HiddenFor(m => m.CreatedUserId, new { id = "CreatedUserId" })
@Html.HiddenFor(m => m.CreatedDate, new { id = "CreatedDate" })
@Html.HiddenFor(m => m.ReceptionId, new { id = "ReceptionId" })



<style>

    li span.k-link {
        color: rgba(0,0,0,0.7) !important;
    }

        li span.k-link:hover {
            color: white !important;
        }

    .k-pager-nav {
        background-color: rgba(0, 0, 51,0.8) !important;
    }

    span.k-pager-input {
        color: rgba(0,0,0,0.7) !important;
    }

    span.k-pager-info {
        color: rgba(0,0,0,0.7) !important;
    }

    new-btn-color {
        background-color: rgba(52, 86, 139,0.8) !important;
        color: white !important;
    }


    .modal-open {
        padding-right: 0 !important
    }

    .boldText {
        font-weight: 900 !important;
        color: black !important;
    }


    .analysisButtons {
        background-color: rgba(0, 0, 51,0.8);
        border-radius: 1rem;
        padding: 0.5rem;
        transition: all 0.3s;
        font-weight: 300 !important;
    }

        .analysisButtons:hover {
            background-color: #34568b;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s;
        }

    .k-tabstrip-wrapper li .k-link {
        color: white !important;
    }

    .k-tabstrip-wrapper li.k-state-active .k-link {
        color: black !important;
    }

        .k-tabstrip-wrapper li.k-state-active .k-link:hover {
            color: white !important;
        }
</style>


<input id="Translated" class="hidden" data-TotalTranslated="@Localizer["Total"]" data-DiscountTranslated="@Localizer["Discount"]" data-PriceTranslated="@Localizer["Price"]"
       data-CodeTranslated="@Localizer["Code"]" data-TypeTranslated="@Localizer["Type"]" data-NameTranslated="@Localizer["Name"]" data-AmountTranslated="@Localizer["Amount"]"
       data-DateTranslated="@Localizer["Date"]" />


<div id="allPage" class="row @font" style="@dir">

    <div class="col-sm-12" style="margin:1rem 0;border-bottom:1px dotted rgba(0,0,0,0.3);padding-bottom:1rem">

        <div class="pull-left">

            <h3 class="MyFont-Roboto-grid">Date: <i style="color:#34568b">@Model.Reception.ReceptionDateString</i></h3>

        </div>

        <div class="pull-left" style="margin-left: 1rem">

            <h3 class="MyFont-Roboto-grid">InvoiceNum: <i style="color:#34568b">@Model.Reception.ReceptionNum</i></h3>

        </div>

    </div>

    <h3 id="useDollar" class="hidden">@ViewBag.useDollar</h3>

    <h3 id="Emergency" class="hidden">@ViewBag.Emergency</h3>

    <h3 id="clinicSection" class="hidden">@ViewBag.ClinicSection</h3>

    <div class="col-sm-12 shadow-border" style="margin:0.1rem 0;">


        <div class="col-sm-12">

            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <span class="red fa fa-asterisk smaller-60 redStar"></span>
                    <label id="PatientNameLabel" for="form-field-8">@Localizer["PatientName"]</label>
                    <span class="block input-icon input-icon-right">


                        @{
                            var patientName = "";
                            try
                            {
                                patientName = Model.Reception.Patient.User.Name;
                            }
                            catch
                            {
                                patientName = "";
                            }
                        }


                        @(Html.Kendo().TextBox()
                            .Name("Patient.User.Name")
                            .Enable(false)
                            .HtmlAttributes(new { style = "font-size:1.5rem;width:100%" })
                            .Value(patientName)
                        )


                    </span>
                    <span id="Name2-box" class="emptybox hidden" data-isEssential="true" style="color: red; ">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>


                </label>

            </div>



            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Mobile"]</label>
                    <span class="block input-icon input-icon-right">

                        @{
                            var patientPhoneNumber = "";
                            try
                            {
                                patientPhoneNumber = Model.Reception.Patient.User.PhoneNumber;
                            }
                            catch
                            {
                                patientPhoneNumber = "";
                            }
                        }



                        @(Html.Kendo().TextBox()
                            .Name("Patient.User.PhoneNumber")
                            .Enable(false)
                            .HtmlAttributes(new { style = "font-size:1.5rem;width:100%", @id = "PhoneNumber", onkeypress = "return OnlyNumberKey(event)" })
                            .Value(patientPhoneNumber)
                        )

                    </span>
                    <span id="PhoneNumber-box" class="emptybox hidden" data-isEssential="false" style="color:red;">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>
                </label>

            </div>



            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Gender"]</label>
                    <span class="block input-icon input-icon-right">

                        @{
                            var patientGender = "";
                            try
                            {
                                patientGender = Model.Reception.Patient.UserGenderName.ToString();
                            }
                            catch
                            {
                                patientGender = "";
                            }
                        }


                        @(Html.Kendo().TextBox()
                            .Name("Patient.GenderId")
                            .Enable(false)
                            .HtmlAttributes(new { style = "font-size:1.5rem;width:100%", @id = "GenderId" })
                            .Value(patientGender)
                        )


                    </span>
                    <span id="Gender-box" class="emptybox hidden" style="color:red;">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>
                </label>

            </div>



            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["DateOfBirth"]</label>
                    <span class="block input-icon input-icon-right">

                        @{
                            var patientbirth = DateTime.Now;
                            try
                            {
                                patientbirth = Model.Reception.Patient.DateOfBirth ?? DateTime.Now;
                            }
                            catch
                            {
                                patientbirth = DateTime.Now;
                            }
                        }

                        @(Html.Kendo().DatePicker()
                            .Name("Patient.DateOfBirth")
                            .Format("dd/MM/yyyy")
                            .Max(DateTime.Now)
                            .Min(new DateTime(1900, 1, 1))
                            .Enable(false)
                            .Value(patientbirth)
                            .Events(e =>
                            {
                                e.Change("changeBirthOfDatePatientDatetimePicker");
                            })

                            .HtmlAttributes(new { @id = "DateOfBirth", style = "width: 100%;margin:0", title = "datepicker", @data_checkEmpty = "Age-box", onchange = "dateTimePickerWorkWithSpace(this)", @class = "boldText" })
                        )
                    </span>
                    <span id="Age-box" class="emptybox hidden" data-isEssential="false" style="color:red;">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>
                </label>

            </div>

        </div>

        <div class="col-sm-12">

            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">

                    <label for="form-field-8" style="width:100%">@Localizer["Age"]</label>

                    <span style="width:25%">
                        <label for="form-field-8">@Localizer["Year"]: </label>
                        @(Html.Kendo().TextBox()
                            .Name("Patient.Year")
                            .Enable(false)
                            .HtmlAttributes(new { onchange = "ReserveInsertAge(this)", id = "Year", @class = "boldText", style = "width: 25%;margin:0;padding:0" })
                        )
                    </span>

                    <span style="width:25%">

                        <label for="form-field-8">@Localizer["Month"]: </label>
                        @(Html.Kendo().TextBox()
                            .Name("Patient.Month")
                            .Enable(false)
                            .HtmlAttributes(new { onchange = "ReserveInsertAge(this)", id = "Month", @class = "boldText", style = "width: 25%;margin:0;padding:0" })
                        )
                    </span>
                </label>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label id="DoctorNameLabel" for="form-field-8">@Localizer["Address"]</label>
                    <span class="block input-icon input-icon-right " onkeydown="">


                        @{
                            var patientAddress = "";
                            try
                            {
                                patientAddress = Model.Reception.AddressName;
                            }
                            catch
                            {
                                patientAddress = "";
                            }
                        }



                        @(Html.Kendo().TextBox()
                            .Name("Patient.AddressName")
                            .Enable(false)
                            .HtmlAttributes(new { style = "font-size:1.5rem;width:100%", @id = "AddressName" })
                            .Value(patientAddress)
                        )



                    </span>
                    <span id="Doctor-box" class="emptybox hidden" data-isEssential="false" style="color:red;">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>

                </label>

            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Name"] @Localizer["Mother"]</label>
                    <span class="block input-icon input-icon-right ">

                        @{
                            var patientMotherName = "";
                            try
                            {
                                patientMotherName = Model.Reception.Patient.MotherName;
                            }
                            catch
                            {
                                patientMotherName = "";
                            }
                        }

                        @(Html.Kendo().TextBox()
                            .Name("Patient.MotherName")
                            .Enable(false)
                            .HtmlAttributes(new { style = "font-size:1.5rem;width:100%", @id = "MotherName" })
                            .Value(patientMotherName)
                        )


                    </span>


                </label>

            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Section"]</label>
                    <span class="block input-icon input-icon-right">
                        @(Html.Kendo().DropDownList()
                                  .Name("ClinicSectionId")
                                  .Enable(false)
                                  .DataTextField("Name")
                                  .DataValueField("Guid")
                                  .Value(Model.ClinicSectionId.GetValueOrDefault().ToString())
                                  .DataSource(source =>
                                  {
                                      source.Read(read =>
                                      {
                                          read.Action("GetAllNormalClinicSectionsForUser", "ClinicSection");
                                      })
                                      .ServerFiltering(false);
                                  })
                                  .HtmlAttributes(new { style = "width: 100%;" })
                            )
                    </span>
                </label>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Classification"]</label>
                    <span class="block input-icon input-icon-right">

                        <input id="ClassificationId" style="width:100%;margin:0" class="boldText" />

                    </span>
                </label>

            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Anesthesiologist"]</label>
                    <span class="block input-icon input-icon-right">

                        @(Html.Kendo().AutoComplete()
                            .Name("AnesthesiologistName")
                            .DataTextField("UserName")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .HtmlAttributes(new { style = "width:100%;" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllDoctors", "Doctor");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.AnesthesiologistName)
                            )

                    </span>
                    <span id="DuplicateDoctorAnesthesiologist" class="DuplicateDoctor hidden" style="color:red;">
                        @Localizer["DuplicateDoctor"]
                    </span>
                </label>

            </div>


            <div class="col-lg-3 col-md-4 col-sm-6">

                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["AnesthesiologistionType"]</label>
                    <span class="block input-icon input-icon-right">

                        <input id="AnesthesiologistionTypeId" style="width:100%;margin:0" class="boldText" />

                    </span>
                </label>

            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Surgery"] 1</label>
                    <span class="block input-icon input-icon-right">

                        @(Html.Kendo().AutoComplete()
                            .Name("SurgeryOneName")
                            .DataTextField("UserName")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .HtmlAttributes(new { style = "width:100%;" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllDoctors", "Doctor");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.SurgeryOneName)
                            )
                    </span>
                    <span id="DuplicateDoctorSurgery1" class="DuplicateDoctor hidden" style="color:red;">
                        @Localizer["DuplicateDoctor"]
                    </span>
                </label>
            </div>
        </div>

        <div class="col-sm-12 ">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Surgery"] 2</label>
                    <span class="block input-icon input-icon-right">

                        @(Html.Kendo().AutoComplete()
                            .Name("SurgeryTwoName")
                            .DataTextField("UserName")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .HtmlAttributes(new { style = "width:100%;" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllDoctors", "Doctor");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.SurgeryTwoName)
                            )
                    </span>
                    <span id="DuplicateDoctorSurgery2" class="DuplicateDoctor hidden" style="color:red;">
                        @Localizer["DuplicateDoctor"]
                    </span>
                </label>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Pediatrician"]</label>
                    <span class="block input-icon input-icon-right">

                        @(Html.Kendo().AutoComplete()
                            .Name("PediatricianName")
                            .DataTextField("UserName")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .HtmlAttributes(new { style = "width:100%;" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllDoctors", "Doctor");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.PediatricianName)
                            )
                    </span>
                    <span id="DuplicateDoctorPediatrician" class="DuplicateDoctor hidden" style="color:red;">
                        @Localizer["DuplicateDoctor"]
                    </span>
                </label>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <label class="block clearfix">
                    <label for="form-field-8">@Localizer["Operation"]</label>
                    <span class="block input-icon input-icon-right">

                        <a href="\\#" class="  @pull btn btn-danger" onclick="NewOperation()" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>

                        @(Html.Kendo().DropDownList()
                            .Name("Operation")
                            .DataTextField("Name")
                            .DataValueField("Guid")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllOperationServices", "Service");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.OperationId.ToString())
                            .HtmlAttributes(new { style = "width: 90%;" })
                        )
                    </span>
                    <span id="Operation-box" class="emptybox hidden" data-isEssential="true" style="color: red; ">
                        @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                    </span>
                </label>
            </div>
        </div>

        <div class="col-sm-12 ">
            <label class="block clearfix">
                <label for="form-field-8">@Localizer["Detail"] @Localizer["Surgery"]</label>
                <span class="block input-icon input-icon-right ">
                    @(Html.Kendo().TextArea()
                            .Name("SurgeryDetail")
                            .Rows(2)
                            .MaxLength(200)
                            .HtmlAttributes(new { @id = "SurgeryDetail", style = "width: 100%" })
                            .Value(Model.SurgeryDetail)
                        )
                </span>
            </label>
        </div>


        <div class="col-sm-12 ">
            <label class="block clearfix">
                <label for="form-field-8">@Localizer["PostOperativeTreatment"]</label>
                <span class="block input-icon input-icon-right ">
                    @(Html.Kendo().TextArea()
                            .Name("PostOperativeTreatment")
                            .Rows(2)
                            .MaxLength(200)
                            .HtmlAttributes(new { @id = "PostOperativeTreatment", style = "width: 100%" })
                            .Value(Model.PostOperativeTreatment)
                        )
                </span>
            </label>
        </div>


        <div class="col-sm-12 ">
            <label class="block clearfix">
                <label for="form-field-8">@Localizer["SideEffects"]</label>
                <span class="block input-icon input-icon-right ">
                    @(Html.Kendo().TextArea()
                            .Name("SideEffects")
                            .Rows(2)
                            .MaxLength(200)
                            .HtmlAttributes(new { @id = "SideEffects", style = "width: 100%" })
                            .Value(Model.SideEffects)
                        )
                </span>
            </label>
        </div>


        <div class="col-sm-12 ">
            <label class="block clearfix">
                <label for="form-field-8">@Localizer["AnesthesiologistionMedicine"]</label>
                <span class="block input-icon input-icon-right ">
                    @(Html.Kendo().TextArea()
                            .Name("AnesthesiologistionMedicine")
                            .Rows(2)
                            .MaxLength(200)
                            .HtmlAttributes(new { @id = "AnesthesiologistionMedicine", style = "width: 100%" })
                            .Value(Model.AnesthesiologistionMedicine)
                        )
                </span>
            </label>
        </div>

        <div class="col-sm-12 ">
            <label class="block clearfix">
                <label for="form-field-8">@Localizer["Desc"]</label>
                <span class="block input-icon input-icon-right ">

                    @(Html.Kendo().TextArea()
                        .Name("Explanation")
                        .Rows(2)
                        .MaxLength(200)
                        .HtmlAttributes(new { @id = "Explanation", style = "width: 100%" })
                        .Value(Model.Explanation)
                    )
                </span>
            </label>
        </div>



    </div>


    <div class="col-sm-12 @font" style="margin:2rem 0">

        <div class=" @pull">

            <a href="#" id="btnOkExit" class="k-primary " style="padding:0.8rem;font-weight:400;margin-right:0.5rem" onclick="OkAndExit()">@Localizer["Ok"] @Localizer["And"] @Localizer["Exit"]</a>

        </div>

        <div class=" @pull}">

            <a href="#" id="btnExit" class="k-primary " style="padding:0.8rem;margin-right:0.5rem;font-weight:400" onclick="Exit()">@Localizer["Exit"]</a>

        </div>


        <div class=" @pull">

            <a href="#" id="btnPrint" class="k-primary " style="padding:0.8rem;margin-right:0.5rem;font-weight:400" onclick="PrintSurgery()">@Localizer["Print"]</a>

        </div>

        <div style="clear:both;@dir">

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div id="SallaryDependency" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_HumanResourceSallaryDependency"]
                <label id="doctorType"></label>
            </div>
        </div>
    </div>



</div>

<input class="hidden" type="text" id="Speciallity" data-Value="@ViewBag.speciallityId" />
<input class="hidden" type="text" id="Address" data-Value="@ViewBag.addressId" />

<div id="CreateNewOperationModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCreateNewOperationModal()" aria-hidden="true">&times;</button>
                <h3 id="CreateNewOperationModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="CreateNewOperationModal-body" class="modal-body">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                .Name("btn-CreateNewOperationModal-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-CreateNewOperationModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeCreateNewOperationModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div>
    </div>
</div>




<style>

    .OtherCheckbox {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        padding: 0.5rem 0;
        font-weight: bolder;
    }

        .OtherCheckbox:hover {
            background-color: rgba(86, 250, 15,0.2);
            border-radius: 0.7rem;
            cursor: pointer;
        }

    .kendoCheckbox {
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5rem;
        padding: 0.5rem 0;
        font-weight: bolder;
    }

        .kendoCheckbox:hover {
            background-color: rgba(86, 250, 15,0.2);
            border-radius: 0.7rem;
            cursor: pointer;
        }

    .activeCheckbox {
        background-color: greenyellow;
        border-radius: 0.7rem;
        border: solid rgb(56, 176, 4) 2px;
    }

    .k-primary {
        padding: 0.5rem;
    }

        .k-primary:hover {
            cursor: pointer;
            text-decoration: none;
        }

        .k-primary a:hover {
            cursor: pointer;
            text-decoration: none;
        }

    .clearfix label {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .OddDivs {
    }
</style>


<script>

    var RTL = $("#RTL").attr('data-Value');


</script>


<script src="~/Content/Js/Surgery.js"></script>

<script>

    var doctor_list = [];

    $('#AnesthesiologistName').on('input', function () {
        var txt = $("#AnesthesiologistName").val();

        var filter_list = FilterDoctorLists(doctor_list, txt);

        $("#AnesthesiologistName").data("kendoAutoComplete").dataSource.data(filter_list);

    });

    $('#SurgeryOneName').on('input', function () {
        var txt = $("#SurgeryOneName").val();

        var filter_list = FilterDoctorLists(doctor_list, txt);

        $("#SurgeryOneName").data("kendoAutoComplete").dataSource.data(filter_list);

    });

    $('#SurgeryTwoName').on('input', function () {
        var txt = $("#SurgeryTwoName").val();

        var filter_list = FilterDoctorLists(doctor_list, txt);

        $("#SurgeryTwoName").data("kendoAutoComplete").dataSource.data(filter_list);

    });

    $('#PediatricianName').on('input', function () {
        var txt = $("#PediatricianName").val();

        var filter_list = FilterDoctorLists(doctor_list, txt);

        $("#PediatricianName").data("kendoAutoComplete").dataSource.data(filter_list);

    });

    $(document).ready(function () {

        GetAllDoctorList().done(function (data) {
            doctor_list = data;
        });

        $('#ERROR_SomeThingWentWrong').addClass('hidden');
        $('.DuplicateDoctor').addClass('hidden');
        $('#SallaryDependency').addClass('hidden');

        DateTranslated = $("#Translated").attr("data-DateTranslated");

        let date = $("#DateOfBirth").data("kendoDatePicker");
        if ($("#DateOfBirth").val() !== "")
            getAge(kendo.toString(date.value(), 'd'));

        let modelGuid = $("#Guid").val();

        $("#AnesthesiologistionTypeId").kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.AnesthesiologistionTypeId.GetValueOrDefault().ToString()",
            dataSource: {

                serverFiltering: false,
                transport: {
                    read: {
                        url: "/BaseInfo/GetBaseInfoGeneralsByName?BaseInfoGeneralName=" + "AnesthesiologistionType",
                    }
                }
            }
        });

        $("#ClassificationId").kendoDropDownList({

            dataTextField: "Name",
            dataValueField: "Id",
            value: "@Model.ClassificationId.GetValueOrDefault().ToString()",
            dataSource: {

                serverFiltering: false,
                transport: {
                    read: {
                        url: "/BaseInfo/GetBaseInfoGeneralsByName?BaseInfoGeneralName=" + "ClassificationType",
                    }
                }
            }
        });

    })


    function NewOperation() {

        txt = 'Operation';

        $("#CreateNewOperationModal #ERROR_Data").addClass("hidden");
        $("#CreateNewOperationModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = `/Service/SingleNewModal?typeName=${txt}`;
        $(".loader").removeClass("hidden");

        let header = $("#newServiceText").text();
        $('#CreateNewOperationModal-header').text(header);

        $('#CreateNewOperationModal').modal('toggle');
        $('#CreateNewOperationModal-body').load(link + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    $('#btn-CreateNewOperationModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#CreateNewOperationModal #ERROR_Data").addClass("hidden");
        $("#CreateNewOperationModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#CreateNewOperationModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#CreateNewOperationModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-CreateNewOperationModal-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Service/AddOrUpdate";
        var data = $("#addNewServiceForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-CreateNewOperationModal-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#CreateNewOperationModal #Name-Exist').removeClass('hidden');
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "DataNotValid") {

                        $("#CreateNewOperationModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#CreateNewOperationModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#CreateNewOperationModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                        $("#Operation").data("kendoDropDownList").dataSource.read();
                        let pr = $("#Operation").data("kendoDropDownList");
                        pr.bind("dataBound", function () {
                            pr.value(response);
                        });
                    }
                } else {

                    $("#CreateNewOperationModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeCreateNewOperationModal() {

        $('#CreateNewOperationModal').modal('hide');
        $('#CreateNewOperationModal-body').empty();
        $(".modal-backdrop:last").remove();
    }


</script>