@model WPH.Models.CustomDataModels.BaseInfo.BaseInfosAndPeriodsViewModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        <h3 id="newSurgeryText" class="hidden">@Localizer["New"] @Localizer["Surgery"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        <h3 id="newSurgeryText" class="hidden">@Localizer["Surgery"] @Localizer["New"]</h3>
    }

    <h3 id="editSurgeryText" class="hidden">@Localizer["Edit"] @Localizer["Surgery"]</h3>

}


<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["AllSurgeries"]
        </h1>

    </div>

</div><!-- /.page-header -->
<!-- Modal -->
<!-- Grid -->

<input class="hidden" type="text" id="period-id" data-Value="@Model.periods.FirstOrDefault().Id" />
<h1 id="FromTo" class="hidden">@ViewBag.FromToId</h1>

<div class="space-10"></div>
<div class="row @font">


    <div class="col-xs-12" style="padding:0;margin-bottom:1rem">

        <div class="col-xs-2" style="padding-left:unset;padding-right:unset;">
            @(Html.Kendo().DropDownList()
            .Name("sections")
            .BindTo(Model.sections)
            .DataTextField("Name")
            .DataValueField("Id")
            .Filter("contains")
            .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "SectionChange()" })
        )
        </div>

        <div class="col-xs-1" style="padding-left:unset;padding-right:unset;">

        </div>

        <div class="col-xs-3" style="padding-left:unset;padding-right:unset;">

            <div class="col-xs-12" style="padding-left:unset;padding-right:unset;">

                <div class="col-xs-3" style="padding-left:unset;padding-right:unset;">
                    @Localizer["SurgeryDoctor"]
                </div>

                <div class="col-xs-1" style="padding-left:unset;padding-right:unset;">
                   
                </div>

                <div class="col-xs-8" style="padding-left:unset;padding-right:unset;">
                    <input id="SurgeryOne" style="width:100%;margin:0" class="boldText" />
                </div>

            </div>
            
        </div>

        <div class="col-xs-1" style="padding-left:unset;padding-right:unset;">

        </div>

        <div class="col-xs-3" style="padding-left:unset;padding-right:unset;">
            <div class="col-xs-12" style="padding-left:unset;padding-right:unset;">

                <div class="col-xs-3" style="padding-left:unset;padding-right:unset;">
                    @Localizer["Operation"]
                </div>

                <div class="col-xs-1" style="padding-left:unset;padding-right:unset;">

                </div>

                <div class="col-xs-8" style="padding-left:unset;padding-right:unset;">
                    <input id="Operation" style="width:100%;margin:0" class="boldText" onchange="OperationChange()" />
                </div>

            </div>
            

        </div>

    </div>

    <div class="col-xs-2" style="padding-left:unset;padding-right:unset;">
        @(Html.Kendo().DropDownList()
        .Name("periods")
        .BindTo(Model.periods)
        .DataTextField("Name")
        .DataValueField("Id")
        .Filter("contains")
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "PeriodsChange()" })
        )
    </div>

    <div class="col-xs-10">

        <div id="DateFromDiv" class="col-xs-12 col-sm-5 hidden">
            <div class="col-xs-4 " style="text-align:left">

                <h5 class="MyFont-Roboto-grid">@Localizer["FromDate"]</h5>

            </div>
            <div class="col-xs-8">
                @(Html.Kendo().DatePicker()
                        .Name("KendoFromDate")
                        .Value(DateTime.Now)
                        .Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "dateTimePickerWorkWithSpace(this)" })
                )

            </div>
        </div>

        <div id="DateToDiv" class="col-xs-12 col-sm-5 hidden">

            <div class="col-xs-4" style="text-align:left">

                <h5 class="MyFont-Roboto-grid">@Localizer["ToDate"]</h5>

            </div>

            <div class="col-xs-8">

                @(Html.Kendo().DatePicker()
                        .Name("KendoDateTo")
                        .Value(DateTime.Now)
                        .Format("dd/MM/yyyy")
                        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "dateTimePickerWorkWithSpace(this)" })
                )
            </div>

        </div>

        <div id="SearchBtnDiv" class="col-xs-1 hidden">

            @(Html.Kendo().Button()
                .Name("btn-search-visit")
                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem", type = "button", @class = "k-primary pull-right", onclick = "btnSearchClick()" })
                .Content("<i class='fa fa-search'></i>"))

        </div>

    </div>


</div>



<script>

    

    function GetPeriodForSurgery() {

        let doctorId = null;
        let operationId = null;

        var autocomplete = $("#SurgeryOne").data("kendoAutoComplete");
        if (autocomplete !== undefined) {
            let item = autocomplete.dataItem();
            if (item !== undefined && item !== null) {
                doctorId = item.Guid;
            }
        }

        let operation = $("#Operation").data("kendoDropDownList");

        if (operation !== undefined) {
            operationId = operation.value();
            
        }

        var periodId = $('#period-id').attr('data-Value');

        var fromDate = $("#KendoFromDate").data("kendoDatePicker");
        var toDate = $("#KendoDateTo").data("kendoDatePicker");

        var frDate = fromDate.value();
        var tDate = toDate.value();
        let frMonth = frDate.getMonth() + 1;
        let frDay = frDate.getDate();
        let toMonth = tDate.getMonth() + 1;
        let toDay = tDate.getDate();

        if (frMonth < 10)
            frMonth = "0" + frMonth;
        if (toMonth < 10)
            toMonth = "0" + toMonth;
        if (frDay < 10)
            frDay = "0" + frDay;
        if (toDay < 10)
            toDay = "0" + toDay;

        let from = frDate.getFullYear() + "-" + frMonth + "-" + frDay;
        let too = tDate.getFullYear() + "-" + toMonth + "-" + toDay;

        var period = $("#sections").data("kendoDropDownList");

        var periodValue = period.value();
        var periodText = period.text();

        let section = { Id: periodValue, Name: periodText }

        return {

            periodId: periodId,
            dateFrom: from,
            dateTo: too,
            section: section,
            doctorId: doctorId,
            operationId: operationId
        };
    }

</script>


@await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Surgery/dgSurgeryGrid.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    var doctor_list = [];

    $(document).ready(function () {

        GetAllDoctorList().done(function (data) {
            doctor_list = data;
        });


    });

    $("#Operation").kendoDropDownList({
        dataTextField: "Name",
        dataValueField: "Guid",
        filter: "contains",
        optionLabel:" ",
        dataSource: {
            //type: "jsonp",
            serverFiltering: false,
            transport: {
                read: {
                    url: "/Service/GetAllOperationServices",
                }
            }
        }
    });

    function OnSurgeryOneSelect() {
        setTimeout(() => {
            $("#kendoSurgeryGrid").find(".k-i-reload").click();
        }, 20);
        
    }

    $('#SurgeryOne').on('input', function () {
        var txt = $("#SurgeryOne").val();

        var filter_list = FilterDoctorLists(doctor_list, txt);

        $("#SurgeryOne").data("kendoAutoComplete").dataSource.data(filter_list);

    });

    $('#SurgeryOne').keypress(function (e) {
        if (e.which === 13) {
            $("#kendoSurgeryGrid").find(".k-i-reload").click();
        }
    });

    $("#SurgeryOne").kendoAutoComplete({
        dataTextField: "UserName",
        filter: "contains",
        clearButton: false,
        select: OnSurgeryOneSelect,
        placeholder: $("#SurgeryDoctorText").text(),
        dataSource: {
            //type: "odata",
            serverFiltering: false,
            transport: {
                read: {
                    url: "/Doctor/GetAllDoctors"
                }
            }
        }
    });

    function OperationChange() {
        $("#kendoSurgeryGrid").find(".k-i-reload").click();
    }

    function PeriodsChange() {

        var period = $("#periods").data("kendoDropDownList");

        var periodValue = period.value();


        $('#period-id').attr('data-Value', periodValue);

        var fromTo = $("#FromTo").text();

        if (periodValue === fromTo) {
            $("#DateFromDiv").removeClass("hidden");
            $("#DateToDiv").removeClass("hidden");
            $("#SearchBtnDiv").removeClass("hidden");
            let date = $("#KendoFromDate").data("kendoDatePicker");
            date.element.focus();
            date.element.select();
        }

        else {
            $("#DateFromDiv").addClass("hidden");
            $("#DateToDiv").addClass("hidden");
            $("#SearchBtnDiv").addClass("hidden");
            $("#kendoSurgeryGrid").find(".k-i-reload").click();
        }

    }

    function SectionChange() {

        $("#kendoSurgeryGrid").find(".k-i-reload").click();

    }

    function btnSearchClick() {
        var period = $("#periods").data("kendoDropDownList");

        var periodValue = period.value();

        $('#period-id').attr('data-Value', periodValue);
        $("#kendoSurgeryGrid").find(".k-i-reload").click();

    }


    function AddPatientReceptionAnalysis() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/PatientReceptionAnalysis/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }


    $('#KendoFromDate').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            let date = $("#KendoDateTo").data("kendoDatePicker");
            date.element.focus();
            //date.element.select();
        }

    });

    $('#KendoFromDate').focus(function (e) {

        let date = $("#KendoFromDate").data("kendoDatePicker");
        date.element.select();

    });

    $('#KendoDateTo').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            $("#btn-search-visit").focus();
        }

    });


    $('#KendoDateTo').focus(function (e) {

        let date = $("#KendoDateTo").data("kendoDatePicker");
        date.element.select();

    });

</script>
