@*@using Stimulsoft.Report.Mvc*@
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer



@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
    }

}


<div class="row page-header">
    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["FundReport"]
        </h1>

    </div>
</div><!-- /.page-header -->


<div id="signup-box" class="signup-box no-border @font">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewForm">
                <fieldset>

                    <div class="col-xs-12" style="@direction">

                        <div class="col-xs-6" style="padding:0">

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["DateFrom"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        <input id="FromDate" class="hidden" title="datepicker" style="width: 100%;font-size:1.5rem" type="date" />
                                        @(Html.Kendo().DateTimePicker()
                                          .Name("KendoFromDate")
                                          .Format("dd/MM/yyyy HH:mm")
                                          .Value(DateTime.Now)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["DateTo"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        <input id="ToDate" class="hidden" title="datepicker" style="width: 100%;font-size:1.5rem" type="date" />
                                        @(Html.Kendo().DateTimePicker()
                                          .Name("KendoDateTo")
                                          .Format("dd/MM/yyyy HH:mm")
                                          .Value(DateTime.Now)
                                          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </span>
                                </label>
                            </div>

                        </div>

                        <div class="col-xs-6" style="padding:0">

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Section"]</label>
                                    <span class="block input-icon input-icon-right">

                                        @(Html.Kendo().DropDownList()
                                              .Name("ClinicSectionId")
                                              .DataTextField("Name")
                                              .DataValueField("Guid")
                                              //.Events(e=>e.Select("selectClinicSection"))
                                              .Filter("contains")
                                              .DataSource(source =>
                                              {
                                                  source.Read(read =>
                                                  {
                                                      read.Action("GetSourceClinicSections", "Fund");
                                                  })
                                                  .ServerFiltering(false);
                                              })
                                              .HtmlAttributes(new { style = "width: 100%;" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-6" style="padding-top:3rem">

                                @(Html.Kendo().CheckBox()
                                    .Name("Detail")
                                    .Label(Localizer["InDetail"])
                                    .HtmlAttributes(new { @class = "kendoCheckbox"}))

                            </div>

                        </div>

                    </div>


                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->
<div class="col-sm-12">
    @if ((bool)ViewBag.AccessPrintFundReport)
    {
        @(Html.Kendo().Button()
        .Name("btn-CostReport-accept")
        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = $"k-primary {pull}", onclick = "AcceptReport()" })
        .Content(Localizer["Ok"]))

    }

</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    $(document).ready(function () {

        //var fromDate = $("#KendoFromDate").data("kendoDatePicker");
        //fromDate.element.focus();
        //fromDate.element.select();
        //var toDate = $("#KendoDateTo").data("kendoDatePicker");

        //var frDate = fromDate.value();
        //var tDate = toDate.value();

        //let frMonth = frDate.getMonth() + 1;
        //let frDay = frDate.getDate();
        //let toMonth = tDate.getMonth() + 1;
        //let toDay = tDate.getDate();

        //if (frMonth < 10)
        //    frMonth = "0" + frMonth;
        //if (toMonth < 10)
        //    toMonth = "0" + toMonth;
        //if (frDay < 10)
        //    frDay = "0" + frDay;
        //if (toDay < 10)
        //    toDay = "0" + toDay;

        //let from = frDate.getFullYear() + "-" + frMonth + "-" + frDay;
        //let too = tDate.getFullYear() + "-" + toMonth + "-" + toDay;

        //$("#FromDate").val(from);
        //$("#ToDate").val(too);

    })




    $('#KendoFromDate').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            let date = $("#KendoDateTo").data("kendoDateTimePicker");
            date.element.focus();
            //date.element.select();
        }


    });

    $('#KendoFromDate').focus(function (e) {

        let date = $("#KendoFromDate").data("kendoDateTimePicker");
        date.element.select();

    });

    $('#KendoDateTo').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            $("#btn-CostReport-accept").focus();
        }

    });


    $('#KendoDateTo').focus(function (e) {

        let date = $("#KendoDateTo").data("kendoDateTimePicker");
        date.element.select();

    });


    function draw2(imgData) {

        "use strict";

        var dataUrl = [];
        for (let index = 0; index < imgData.allb.length; index++) {


            var pf = "data:image/jpeg;base64," + imgData.allb[index];

            dataUrl.push(pf);

        }

        printJS({ printable: dataUrl, type: 'image' });

    }


    function AcceptReport() {

        var fromDate = $("#KendoFromDate").data("kendoDateTimePicker");
        var toDate = $("#KendoDateTo").data("kendoDateTimePicker");

        var frDate = fromDate.value();
        var tDate = toDate.value();
        let frMonth = frDate.getMonth() + 1;
        let frDay = frDate.getDate();
        let toMonth = tDate.getMonth() + 1;
        let toDay = tDate.getDate();

        if (frMonth < 10)
            frMonth = "0" + frMonth;
        if (toMonth < 10)
            toMonth = "0" + toMonth;
        if (frDay < 10)
            frDay = "0" + frDay;
        if (toDay < 10)
            toDay = "0" + toDay;

        let from = frDate.getFullYear() + ":" + frMonth + ":" + frDay + ":" + frDate.getHours() + ":" + frDate.getMinutes();
        
        let to = tDate.getFullYear() + ":" + toMonth + ":" + toDay + ":" + tDate.getHours() + ":" + tDate.getMinutes();
        
        $(".loader").removeClass("hidden");

        
        let clinicSectionId = $("#ClinicSectionId").val();
        let detail = $("#Detail").prop('checked');
       
        var data = {
            fromDate: from,
            toDate: to,
            ClinicSectionId: clinicSectionId,
            Detail: detail
        };

        link = "/Fund/PrintFundReport?";

        $(".loader").removeClass("hidden");

        $.ajax({
            url: link,
            type: "Post",
            data: data,
            success: function (response) {

                draw2(response);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            },
            error: function (response) {
                console.log(response);
                console.log(response.data);
                console.log(response.error);
            }
        });


        

    }


</script>
