@model Guid
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
    }

}



<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Services"]
        </h1>

    </div>

    <div class="@font @pull" style="visibility:hidden;margin:0 2rem;transform:translateY(-10%)">
        <a class="btn btn-danger" onClick="" href="#" style="padding:0.2rem">
            @Localizer["Print"]
            <i class="ace-icon align-top bigger-125"></i>
        </a>
    </div>

</div><!-- /.page-header -->
<!-- Modal -->
<div id="AddReceptionServiceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="position:fixed;left: 0;right: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddReceptionServiceModal()" aria-hidden="true">&times;</button>
                <h3 id="AddReceptionServiceModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["Pay"]
                </h3>
            </div>

            <div id="AddReceptionServiceModal-body" class="modal-body" style="width:60rem;padding:0px !important;">
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addReceptionService-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addReceptionService-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddReceptionServiceModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<!-- Grid -->
<div style="margin-top:102px" class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionService/dgReceptionServiceGrid.cshtml", Model)
</div>


<script>

    function EditReceptionService(element) {

        $('#AddReceptionServiceModal').modal('toggle');

        var link = "/ReceptionService/EditModal?Id=";
        var Id = $(element).attr('data-id');
        var rem = $(element).attr('data-remain');
        $('#btn-addReceptionService-accept').attr('data-id', Id);
        $(".loader").removeClass("hidden");
        $('#AddReceptionServiceModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
            $("#ReceivedAmount").data("kendoNumericTextBox").value(rem);
        });
    }

    $('#btn-addReceptionService-accept').on("click", function () {
        $(this).attr("disabled", true);

        $('#AddReceptionServiceModal #ERROR_SomeThingWentWrong').addClass('hidden');
        $('#AddReceptionServiceModal #ERROR_Data').addClass('hidden');

        var div = $("#pay-tabstrip").find("> div.k-state-active")[0];
        var id = div.getAttribute("id");
        $("#" + id + " .emptybox").addClass("hidden");

        var isEmmpty = true;
        $("#" + id + " .emptybox").each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-addReceptionService-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var _payerName;
        var _amount;
        var _amountStatus;
        var _currencyId;
        var _receptionInvoiceNum;

        if (id == 'pay-tabstrip-1') {

            _payerName = $("#PayerName").val();
            _amount = $("#ReceivedAmount").val();
            _amountStatus = false;
            _receptionInvoiceNum = $("#ReceivedReceptionInvoiceNum").val();
            var cur = document.getElementById("ReciveCurrencyId");
            if (cur != null)
                _currencyId = cur.value;

        } else if (id == 'pay-tabstrip-2') {

            _payerName = $("#ReciverName").val();
            _amount = $("#ReturnedAmount").val();
            _amountStatus = true;
            _receptionInvoiceNum = $("#ReturnedReceptionInvoiceNum").val();
            var cur = document.getElementById("ReturnCurrencyId");
            if (cur != null)
                _currencyId = cur.value;
        }

        var data = {
            ReceptionServiceId: $(this).attr('data-id'),
            PayerName: _payerName,
            Amount: _amount,
            AmountStatus: _amountStatus,
            CurrencyId: _currencyId,
            ReceptionInvoiceNum: _receptionInvoiceNum
        };

        var link = "/ReceptionServiceReceived/PayService";

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-addReceptionService-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "SomeThingWentWrong") {

                        $('#AddReceptionServiceModal #ERROR_SomeThingWentWrong').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "ERROR_Data") {

                        $('#AddReceptionServiceModal #ERROR_Data').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddReceptionServiceModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddReceptionServiceModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#serviceKendoGrid .k-pager-refresh")[0].click();
                        $("#kendoPatientReceptionGrid .k-pager-refresh")[0].click();

                    }
                }
            }
        });
    });

    function closeAddReceptionServiceModal() {

        $('#AddReceptionServiceModal').modal('hide');
        $('#AddReceptionServiceModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

</script>