@model WPH.Models.HumanResourceSalary.HumanResourceSalaryViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewHumanSalaryForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Guid, new { id = "dGuid" })
                    @Html.HiddenFor(x => x.Id, new { id = "dId" })
                    @Html.HiddenFor(x => x.HumanResourceId, new { id = "dHumanResourceId" })
                    @Html.HiddenFor(x => x.Currency, new { id = "dCurrency" })
                    @{
                        bool _Enable = true;
                        if (Model.Guid != Guid.Empty)
                        {
                            _Enable = false;
                        }
                    }
                    <div class="k-d-flex k-flex-row k-justify-content-around ">
                        <div class="col-lg-5 col-md-5 col-xs-12">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Name"]: </label>
                                <span class="block input-icon input-icon-right">

                                    @(Html.Kendo().AutoComplete()
                                    .Name("HumanResourceName")
                                    .DataTextField("Gu.Name")
                                    .Filter(FilterType.Contains)
                                    .HighlightFirst(true)
                                    .ClearButton(false)
                                    .Enable(_Enable)
                                    .HtmlAttributes(new { style = "width:100%;margin:0", @data_checkEmpty = "HumanName-box", @class = "boldText" })
                                    .DataSource(source =>
                                    {
                                    source
                                    .Ajax()
                                    .PageSize(10)
                                    .Read(read => read.Action("GetAllHuman", "HumanResource"));
                                    })
                                    .Value(Model.HumanResourceName)
                                    .Events(e => e.Select("GetFixSalaryq"))
                                    )
                                </span>
                                <span id="HumanName-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["BeginDate"]: </label>
                                <span class="block input-icon input-icon-right">

                                    @(Html.Kendo().DatePicker()
                                    .Name("KendoBeginDate")
                                    .Value(Model.BeginDate??DateTime.Now)
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 100%;margin:0", title = "datepicker", @data_checkEmpty = "BeginDate-box", onchange = "dateTimePickerWorkWithSpace(this)", @class = "boldText" })
                                    )

                                </span>
                                <span id="BeginDate-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                            <label class="salaryItem block clearfix">
                                <label for="form-field-8">@Localizer["ExtraSalary"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("ExtraSalary")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.ExtraSalary)
                                    .Enable(false)
                                    .HtmlAttributes(new { @Id="ExtraSalary",style = "width: 100%", @data_checkEmpty = "ExtraSalary-box" })
                                    )
                                </span>
                                <span id="ExtraSalary-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                            <label class="salaryItem block clearfix">
                                <label for="form-field-8">@Localizer["WorkTime"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("WorkTime")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.WorkTime)
                                    .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "MaxCapacity-box" })
                                    )
                                </span>
                                <span id="MaxCapacity-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>
                        <!--  <>   -->
                        <div class="col-lg-5 col-md-5 col-xs-12">

                            <label class="block clearfix ">
                                <label for="form-field-8">@Localizer["SalaryType"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                    .Name("SalaryType")
                                    .DataTextField("text")
                                    .DataValueField("value")
                                    .Enable(_Enable)
                                    .HtmlAttributes(new { style = "width: 100%;", onchange = "SalaryTypeChange()" })
                                    )
                                </span>
                            </label>

                            <label class="salaryItem block clearfix">
                                <label for="form-field-8">@Localizer["EndDate"]: </label>
                                <span class="block input-icon input-icon-right">

                                    @(Html.Kendo().DatePicker()
                                    .Name("KendoEndDate")
                                    .Value(Model.EndDate ?? DateTime.Now )
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { Id="EnDa", style = "width: 100%;margin:0", title = "datepicker", @data_checkEmpty = "EndDate-box", onchange = "dateTimePickerWorkWithSpace(this)", @class = "boldText" })
                                    )

                                </span>
                                <span id="EndDate-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Salary"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("Salary")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.Salary)
                                    .HtmlAttributes(new { @Id="HumanSalary", style = "width: 100%", @data_checkEmpty = "Salary-box" })
                                    )
                                </span>
                                <span id="Salary-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                            @{

                                var hid = "";
                                if (ViewBag.useDollar == "false")
                                {

                                    hid = "hidden";

                                }
                                <div class="@hid">
                                    <label class="block clearfix ">
                                        <label for="form-field-8">@Localizer["Type"] @Localizer["Currency"]: </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().DropDownList()
                                        .Name("CurrencyId")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        //.Filter("contains")
                                        .DataSource(source =>
                                        {
                                        source.Read(read =>
                                        {
                                        read.Action("GetAllCurrencies", "BaseInfo");
                                        })
                                        .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%;", onchange = "CurrencyCh()" })
                                            )
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div>@*.widget-body*@
</div> @*.signup-box*@
<!-- Begin Add RoomType -->



<script>
    HumanAuto = $("#HumanResourceName").data("kendoAutoComplete");
    $("#HumanResourceName").on('focus', function (e) {
        let value = HumanAuto.value();
        //var autocomplete = $("#ContentTagsAddt").data("kendoAutoComplete");
        HumanAuto.search(value);
    });

    $(document).ready(function () {

        var data = [
            { text: "Salary", value: "1" },
            { text: "Reward", value: "2" }
        ];


        let salaryType = $("#SalaryType").data("kendoDropDownList");
        salaryType.setDataSource(data);

        var set_salary='@Model.SalaryType';
        if(set_salary=="Salary" || set_salary=="" || set_salary==null){
            salaryType.value("1");
            SalaryTypeChange();
        }
        if(set_salary=="Reward"){
            salaryType.value("2");
            SalaryTypeChange();
        }
    });

    function SalaryTypeChange() {

        let salaryType = $("#SalaryType").data("kendoDropDownList");
        var numerictextbox2 = $("#ExtraSalary").data("kendoNumericTextBox");
        numerictextbox2.enable(false);
        var numerictextbox = $("#HumanSalary").data("kendoNumericTextBox");

        if (salaryType.text() === "Salary") {

            $(".salaryItem").removeClass("hidden");
            $(".salaryItem").addClass("block");

            numerictextbox.enable(false);
        }
        else {
            numerictextbox.enable(true);
            $(".salaryItem").removeClass("block");
            $(".salaryItem").addClass("hidden");
            var work=$("#WorkTime");
            var extra=$("#ExtraSalary");
            var dat=$("#EnDa");
            if(work.val()=='')
                work.val("1");
            if(extra.val()=='')
                extra.val("1");
            if(dat.val()=='')
                datval($("#KendoBeginDate").val());
        }

        $("#WorkTime").blur();
        $("#WorkTime").focus();
        $("#ExtraSalary").blur();
        $("#ExtraSalary").focus();
        $("#EnDa").blur();
        $("#EnDa").focus();

    }
</script>