@model WPH.Models.HumanResource.HumanResourceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer
<style>
    #Gu_Email:read-only,
    #MdName:read-only {
        background-color: white !important;
    }
</style>

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewHumanResourceForm" autocomplete="off">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.Guid)
                    @Html.HiddenFor(x => x.RoleTypeIdHolder)
                    @Html.HiddenFor(x => x.Gu.UserNameHolder)
                    @Html.HiddenFor(x => x.Gu.NameHolder)
                    @Html.HiddenFor(x => x.Doctor.Guid)
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <input type="hidden" value="@Model.Id" name="Id" />
                            <label class="block clearfix">
                                <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["Name"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.Name")
                                    .Value(Model.Gu.Name)
                                    .Enable(Model.Guid==Guid.Empty)
                                    .Readonly(true)
                                    .HtmlAttributes(new {id="MdName", style = "width: 100%", @data_checkEmpty = "Name-box1" })
                                    )
                                </span>
                                <span id="Name-box1" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="Name-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["UserType"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                    .Name("RoleTypeId")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    //.Filter("contains")
                                    .DataSource(source =>
                                    {
                                    source.Read(read =>
                                    {
                                    read.Action("GetAllUserTypes", "BaseInfo");
                                    })
                                    .ServerFiltering(false);
                                    })
                                    .Value(Model.RoleTypeId.ToString())
                                    .Enable(Model.Guid==Guid.Empty)
                                    .Events(e => e.Change("onChange").Select("onSelect").DataBound("onDataBound"))
                                    .HtmlAttributes(new { id= "AARole" , style = "width: 100%;" })
                                    )
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Mobile"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.PhoneNumber")
                                    .Value(Model.Gu.PhoneNumber)
                                    .HtmlAttributes(new {id="gph", style = "width: 100%", @validate_mobile = "Mobile-wrong" })
                                    )
                                </span>

                                <span id="Mobile-wrong" class="hidden" style="color:red;">
                                    @Localizer["MobileNotCorrect"]
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Email"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.Email")
                                    .Value(Model.Gu.Email)
                                    .Readonly(true)
                                    .HtmlAttributes(new { style = "width: 100%", @validate_email = "Email-wrong" })
                                    )
                                </span>
                                <span id="Email-wrong" class="hidden emailNotValid" style="color:red;">
                                    @Localizer["EmailNotCorrect"]
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Gender"]</label>
                                <span class="block input-icon input-icon-right">

                                    @(Html.Kendo().DropDownList()
                                    .Name("Gu.GenderId")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Value(Model.Gu.GenderId.ToString())
                                    .DataSource(source =>
                                    {
                                    source.Read(read =>
                                    {
                                    read.Action("GetAllGenders", "BaseInfo");
                                    })
                                    .ServerFiltering(false);
                                    })
                                    .HtmlAttributes(new { @id = "GenderId", style = "width: 100%;margin:0", @data_checkEmpty = "Gender-box", @class = "boldText" })
                                    )

                                </span>
                                <span id="Gender-box" class="emptybox hidden" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["MinWorkTime"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("MinWorkTime")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.MinWorkTime)
                                    .HtmlAttributes(new { @id = "MinWorkTime", style = "width: 100%", @data_checkEmpty = "MaxCapacity-box3" })
                                    )
                                </span>
                                <span id="MaxCapacity-box3" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["FixSalary"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("FixSalary")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.FixSalary)
                                    .HtmlAttributes(new { @id = "FixSal", style = "width: 100%", @data_checkEmpty = "MaxCapacity-box" })
                                    )
                                </span>
                                <span id="MaxCapacity-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["ExtraSalaryPh"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("ExtraSalaryPh")
                                    .Format("{0:N0}")
                                    .Min(0)
                                    .Value(Model.ExtraSalaryPh)
                                    .HtmlAttributes(new { @id = "ExtraSalaryPh", style = "width:100%", @data_checkEmpty = "MaxCapacity-box2" })
                                    )
                                </span>
                                <span id="MaxCapacity-box2" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Explanation"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextArea()
                                    .Name("Explanation")
                                    .Value(Model.Explanation)
                                    .Rows(3)
                                    .MaxLength(200)
                                    .HtmlAttributes(new { style = "width: 100%"})
                                    )
                                </span>
                            </label>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Duty"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextArea()
                                    .Name("Duty")
                                    .Value(Model.Duty)
                                    .Rows(3)
                                    .MaxLength(200)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </span>
                                
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div id="AddDoctorRoleModal-body" class="col-lg-6 col-md-6 hidden">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["DoctorSpeciality"] : </label>
                                <span class="block input-icon input-icon-right">

                                    @(Html.Kendo().AutoComplete()
                                    .Name("Doctor.SpecialityName")
                                    .DataTextField("Name")
                                    //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                                    .Filter("contains")
                                    .HighlightFirst(true)
                                    .ClearButton(false)
                                    .HtmlAttributes(new { id = "spec" , style = "width:100%;" })
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetAllDoctorSpecialities", "BaseInfo");
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .Value(Model.Doctor.SpecialityName)
                                    )

                                </span>
                            </label>
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["MedicalSystemCode"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Doctor.MedicalSystemCode")
                                    .Value(Model.Doctor.MedicalSystemCode)
                                    .HtmlAttributes(new { style = "width: 80%" })
                                    )
                                </span>
                            </label>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            @{
                                var hid = "";
                                var is_use = "";
                                if (!Model.IsUser)
                                {
                                    is_use = "hidden";
                                }
                                if (ViewBag.useDollar == "false")
                                {
                                    hid = "hidden";
                                }
                                <div class="@hid">
                                    <label class="block clearfix ">
                                        <label for="form-field-8">@Localizer["Type"] @Localizer["Currency"]: </label>
                                        <span class="block input-icon input-icon-right">
                                            @(Html.Kendo().DropDownList()
                                        .Name("CurrencyId")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        //.Filter("contains")
                                        .DataSource(source =>
                                        {
                                        source.Read(read =>
                                        {
                                        read.Action("GetAllCurrencies", "BaseInfo");
                                        })
                                        .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%;", onchange = "CurrencyCh()" })
                                            )
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:5px;">
                        <div class="col-lg-6 col-md-6">
                            @(Html.Kendo().CheckBox()
                            .Name("IsUser")
                            .Checked(Model.IsUser)
                            .Label(Localizer["IsUser"])
                            .HtmlAttributes(new {style=""}))

                        </div>

                        <div class="col-md-6 col-lg-6"></div>
                    </div>

                    <div class="row @is_use" id="user_pass_div">

                        <div class="col-lg-6 col-md-6">
                            <label class="block clearfix">
                                <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["UserName"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.UserName")
                                    .Value(Model.Gu.UserName)
                                    .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "UserName-box" })
                                    )
                                </span>

                                <span id="UserName-box" class="emptybox hidden" data-isEssential="false" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="UserName-Exist" class="emptybox hidden" style="color:red;font-size: 11px;">
                                    @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                                </span>
                            </label>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <label class="block clearfix">
                                <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["Password"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.Pass3")
                                    .Value(Model.Gu.Pass3)
                                    .HtmlAttributes(new { style = "width: 100%", type = "password", @data_checkEmpty = "Pass3-box" })
                                    )
                                </span>
                                <span id="Pass3-box" class="emptybox hidden" data-isEssential="false" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                            <label class="block clearfix">
                                <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["Repeat"] @Localizer["Password"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Gu.Pass4")
                                    .Value(Model.Gu.Pass4)
                                    .HtmlAttributes(new { style = "width: 100%", type = "password", @data_checkEmpty = "Pass4-box" })
                                    )
                                </span>
                                <span id="Pass4-box" class="emptybox hidden" data-isEssential="false" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="incorrectPass" class="emptybox hidden" style="color:red;font-size: 11px;">
                                    @Localizer["PassNotMatch"]
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div>@*.widget-body*@
</div> @*.signup-box*@
<!-- Begin Add RoomType -->

@{
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        <h3 id="newSpeciality" class="hidden">@Localizer["New"] @Localizer["Speciality"] </h3>
    }
    else
    {
        <h3 id="newSpeciality" class="hidden"> @Localizer["Speciality"] - @Localizer["New"]</h3>
    }

    <h3 id="editeSpeciality" class="hidden">@Localizer["Edit"] @Localizer["Section"]</h3>
}
<input class="hidden" type="text" id="SpecialityType" data-Value="@ViewBag.SpeciallityId" />
<!-- End Add RoomType -->
<script>

    $(document).ready(function () {

        setTimeout(function () {
            $("#MdName").removeAttr('readonly');
            $("#Gu_Email").removeAttr('readonly');

            if ($("#Gu_UserNameHolder").val() === '') {
                $('#Gu_UserName').val("");
                $('#Gu_Pass3').val("");
                $('#Gu_Pass4').val("");
                //$('#MdName').val("");
            }
        }, 1000);

        $('#IsUser').change(function () {
            if (this.checked) {
                $("#user_pass_div").removeClass("hidden");
                $("#UserName-box").attr("data-isEssential", "true");
                $("#Pass3-box").attr("data-isEssential", "true");
                $("#Pass4-box").attr("data-isEssential", "true");
            } else {
                $("#user_pass_div").addClass("hidden");
                $("#UserName-box").attr("data-isEssential", "false");
                $("#Pass3-box").attr("data-isEssential", "false");
                $("#Pass4-box").attr("data-isEssential", "false");
            }
            $('#Gu_UserName').val("");
            $('#Gu_Pass3').val("");
            $('#Gu_Pass4').val("");
        });
    });


    $("#spec").on('focus', function (e) {

        let inputAuto = $("#spec").data("kendoAutoComplete");
        let value = inputAuto.value();
        inputAuto.search(value);
    });

</script>