@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
        <h3 id="newAmbulanceText" class="hidden">@Localizer["New"] @Localizer["Ambulance"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
        <h3 id="newAmbulanceText" class="hidden">@Localizer["Ambulance"] @Localizer["New"]</h3>
    }

    <h3 id="editAmbulanceText" class="hidden">@Localizer["Edit"] @Localizer["Ambulance"]</h3>
}


<div class="row page-header ">

    <div class="@pull ">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Ambulances"]
        </h1>

    </div>

    @if ((bool)ViewBag.AccessNewAmbulance)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddAmbulance(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }


</div><!-- /.page-header -->
<!-- Modal -->
<div id="AddAmbulanceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddAmbulanceModal()" aria-hidden="true">&times;</button>
                <h3 id="AddAmbulanceModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddAmbulanceModal-body" class="modal-body" style="width:60rem">

            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addAmbulance-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addNewAmbulance()" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addAmbulance-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddAmbulanceModal()" })
                .Content(Localizer["Exit"]))

            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<!-- Grid -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Ambulance/dgAmbulanceGrid.cshtml")
</div>
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")



<script>

    function AddAmbulance(element) {
        $("#AddAmbulanceModal #ERROR_Data").addClass("hidden");
        $("#AddAmbulanceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/Ambulance/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newAmbulanceText").text();

        $('#AddAmbulanceModal-header').text(header);
        $('#AddAmbulanceModal').modal('toggle');
        $('#AddAmbulanceModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditAmbulance(element) {
        $("#AddAmbulanceModal #ERROR_Data").addClass("hidden");
        $("#AddAmbulanceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddAmbulanceModal').modal('toggle');
        let header = $("#editAmbulanceText").text();
        $('#AddAmbulanceModal-header').text(header);
        var link = "/Ambulance/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddAmbulanceModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }


    function addNewAmbulance() {
        $("#AddAmbulanceModal #ERROR_Data").addClass("hidden");
        $("#AddAmbulanceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Ambulance/AddOrUpdate";

        var data = $("#addNewAmbulanceForm").serialize();


        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Name-Exist').removeClass('hidden');
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "DataNotValid") {

                        $("#AddAmbulanceModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddAmbulanceModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddAmbulanceModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $(".k-pager-refresh")[0].click();
                    }
                } else {

                    $("#AddAmbulanceModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    }

    function closeAddAmbulanceModal() {

        $('#AddAmbulanceModal').modal('hide');
        $('#AddAmbulanceModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

</script>