@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Login - @ViewBag.ClinicName</title>

    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    @*@await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/UserHandler/CSS.cshtml")*@
    @*<link rel="stylesheet" href="~/Content/assets/font-awesome/4.5.0/css/font-awesome.min.css" />*@
    <link rel="stylesheet" href="~/Content/assets/font-awesome/6/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="~/Content/assets/css/CustomStyleForApplicationHandler.css" />
    <script src="~/Content/assets/js/jquery-2.1.4.min.js"></script>




</head>

@{
    string loginfont;
    string logindir;
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        loginfont = "MyFont-Roboto-grid login-layout  ";
        logindir = "";
    }
    else
    {
        loginfont = "MyFont-Sarchia-grid login-layout ";
        logindir = "direction:rtl";
    }
}



<body class="@ViewBag.Theme @loginfont" style=@logindir>
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="center" style="margin-bottom:3rem;margin-top:2rem">
                            <h1>
                                <i class="ace-icon fa fa-leaf green"></i>
                                <span class="red">@ViewBag.Name1</span>
                                <span class="white" id="id-text2">@ViewBag.Name2</span>

                            </h1>
                            <h4 class="blue" id="id-company-text">&copy; Trifay Hataw</h4>
                        </div>

                        <div class="space-6"></div>

                        @RenderBody()

                        <div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a class="chooseLoginSkin" id="btn-login-dark" href="#">Dark</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a class="chooseLoginSkin" id="btn-login-blur" href="#">Blur</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a class="chooseLoginSkin" id="btn-login-light" href="#">Light</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <div class="loader hidden"></div>
    <div id="loginJs">
        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/UserHandler/JavaScript.cshtml")
    </div>


    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/ace-elements.min.js"></script>
    <script src="~/Content/assets/js/ace.min.js"></script>
    <script src="~/Content/Js/UserHandler.js"></script>
    <script src="~/Content/Js/ChangeLanguageFunction.js"></script>

    <script>

        function AjaxFunctions() {
            //$(".loader").removeClass("hidden");

            //let login = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        data: { UserName: "developer", Pass3:"12345"}
            //        url: "/UserHandler/LoginUser",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})


            let UserManagment = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/UserManagment/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })


            let BaseInfo = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/BaseInfo/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            let Cost = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/Cost/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })


            //$.ajax({
            //    type: "Post",
            //    url: "/BaseInfo/Form"

            //});

            //$.ajax({
            //    type: "Post",
            //    url: "/Cost/Form"

            //});

            let CostReport = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/CostReport/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            //$.ajax({
            //    type: "Post",
            //    url: "/CostReport/Form"

            //});

            //let AnalysisResult = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/AnalysisResult/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/AnalysisResult/Form"

            //});


            //let AnalysisResultMaster = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/AnalysisResultMaster/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/AnalysisResultMaster/Form"

            //});



            //$.ajax({
            //    type: "Post",
            //    url: "/Disease/Form"

            //});





            //$.ajax({
            //    type: "Post",
            //    url: "/Medicine/Form"

            //});

            //let PatientReception = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/PatientReception/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})


            //$.ajax({
            //    type: "Post",
            //    url: "/PatientReception/Form"

            //});

            //let PatientReceptionAnalysis = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/PatientReceptionAnalysis/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/PatientReceptionAnalysis/Form"

            //});





            //$.ajax({
            //    type: "Post",
            //    url: "/Reserves/Form"

            //});

            //$.ajax({
            //    type: "Post",
            //    url: "/Symptom/Form"

            //});

            //$.ajax({
            //    type: "Post",
            //    url: "/TotalReserves/Form"

            //});



            //$.ajax({
            //    type: "Post",
            //    url: "/Visit/Form"

            //});

            //let GroupAnalysis = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/GroupAnalysis/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/GroupAnalysis/Form"

            //});

            //let Analysis = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/Analysis/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/Analysis/Form"

            //});

            //let AnalysisItem = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/AnalysisItem/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/AnalysisItem/Form"

            //});


            //let Doctor = new Promise((resolve, reject) => {
            //    $.ajax({
            //        type: "Post",
            //        url: "/Doctor/Form",
            //        success: function (data) {
            //            resolve("1")
            //        },
            //    });
            //})

            //$.ajax({
            //    type: "Post",
            //    url: "/Doctor/Form"

            //});

            let MoneyConvert = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/MoneyConvert/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            //$.ajax({
            //    type: "Post",
            //    url: "/MoneyConvert/Form"

            //});

            let Patient = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/Patient/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            //$.ajax({
            //    type: "Post",
            //    url: "/Patient/Form"

            //});



            //$.ajax({
            //    type: "Post",
            //    url: "/PatientReceptionReceived/Form"

            //});

            let ClinicSectionSetting = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/ClinicSectionSetting/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            let reserve = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/Reserves/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            let visit = new Promise((resolve, reject) => {
                $.ajax({
                    type: "Post",
                    url: "/Visit/Form",
                    success: function (data) {
                        resolve("1")
                    },
                });
            })

            //$.ajax({
            //    type: "Post",
            //    url: "/ClinicSectionSetting/Form",
            //    success: function (response) {
            //        $(".loader").fadeIn("slow");
            //        $(".loader").addClass("hidden");
            //    }

            //});

            Promise.all([
                UserManagment,
                BaseInfo,
                Cost,
                CostReport,
                reserve,
                visit,
                //AnalysisResult,
                //AnalysisResultMaster,
                //PatientReception,
                //PatientReceptionAnalysis,
                //GroupAnalysis,
                //Analysis,
                //AnalysisItem,
                //Doctor,
                MoneyConvert,
                Patient,
                //ClinicSectionSetting
            ]).then((m) => {
                //$(".loader").fadeIn("slow");
                //$(".loader").addClass("hidden");
            })


        }

        $(document).ready(function () {
            //AjaxFunctions();

        })


    </script>




</body>
</html>
