@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", dir = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        dir = " ";
        direction = " ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        dir = " direction:rtl;";
        direction = " direction:rtl; ";
    }
}

<style>


    @@media (max-width:767px) {
        .modal-dialog {
            width: 70vw;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5)
        }

        .modal-sm {
            width: 300px
        }

        #AddMaterialProductModal-body {
            width: 90vw;
        }
    }

    @@media (min-width:768px) {
        #AddMaterialProductModal-body {
            width: 60vw;
        }
    }
</style>


<script>

    var firstRequestStart = true;
    function MaterialProductKendoGridRequestStart(e) {
        if (firstRequestStart) {
            e.preventDefault();
        }
    }

    function MaterialProductClinicSectionSelect(e) {

        firstRequestStart = false;
        $("#materialProductKendoGrid .k-pager-refresh")[0].click();
    }

    function GetClinicSectionId() {

        //var dropdownlist = $("#ClinicSectionId").data("kendoDropDownList");
        //var is_parent = dropdownlist.dataItem().Parent;

        //if (is_parent == true) {
        //    $("#MaterialBtnAdd").removeClass("hidden");
        //} else {
        //    $("#MaterialBtnAdd").addClass("hidden");
        //}

        return {
            clinicSectionId: $('#ClinicSectionId').val()
        };
    }

</script>

<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["MaterialStoreroom"]
        </h1>

    </div>

    @if ((bool)ViewBag.AccessNewMaterialStoreroom)
    {
        <div id="MaterialBtnAdd" class="@pull @font" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddProduct()" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }

</div><!-- /.page-header -->


<div class="row" style="padding:0;margin-bottom:1rem">

    <div class="col-xs-6 col-sm-2 MyFont-Roboto-grid" style="padding-left:unset;padding-right:unset;">
        @(Html.Kendo().DropDownList()
        .Name("ClinicSectionId")
        .DataTextField("Name")
        .DataValueField("Guid")
        .Events(e => e.Change("MaterialProductClinicSectionSelect").DataBound("MaterialProductClinicSectionSelect"))
        .AutoBind(true)
        .Value(HttpContextAccessor.HttpContext.Session.GetString("ClinicSectionId"))
        //.Filter("contains")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetSourceClinicSections", "Transfer");
            })
            .ServerFiltering(false);
        })
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
        )
    </div>

</div>


<!-- Modal -->
<div id="AddMaterialProductModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddMaterialProductModal()" aria-hidden="true">&times;</button>
                <h3 id="AddMaterialProductModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddMaterialProductModal-body" class="modal-body" >
            </div>

            <div id="ERROR_Barcode" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["RepeatedBarcode"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addMaterialProduct-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addMaterialProduct-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddMaterialProductModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="MaterialProductHistoryModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeMaterialProductHistoryModal()" aria-hidden="true">&times;</button>
                <h3 id="MaterialProductHistoryModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["History"]
                </h3>
            </div>

            <div id="MaterialProductHistoryModal-body" class="modal-body" style="margin:5px;">
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-materialProductHistory-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeMaterialProductHistoryModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="DeleteMaterialProductModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteMaterialProductModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>
                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deleteMaterialProduct-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deleteMaterialProduct-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="SetProductBarcodeModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeSetProductBarcodeModal()" aria-hidden="true">&times;</button>
                <h3 id="SetProductBarcodeModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="SetProductBarcodeModal-body" class="modal-body" style="margin:5px;">
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-SetProductBarcode-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeSetProductBarcodeModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<!-- Grid -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/MaterialStoreroom/dgMaterialStoreroomGrid.cshtml")
</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")



@{
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        <h3 id="newProductText" class="hidden">@Localizer["New"] @Localizer["Product"]</h3>
    }
    else
    {
        <h3 id="newProductText" class="hidden">@Localizer["Product"] @Localizer["New"]</h3>
    }

    <h3 id="editProductText" class="hidden">@Localizer["Edit"] @Localizer["Product"]</h3>
}

<input class="hidden" type="text" id="Product" data-Value="@ViewBag.ProductId" />
<h3 class="hidden" id="ProductText">@Localizer["New"] @Localizer["Product"] </h3>
<h3 class="hidden" id="EnterText">@Localizer["Enter"] @Localizer["Product"] </h3>
<h3 class="hidden" id="ExitText">@Localizer["Exit"] @Localizer["Product"] </h3>

<script>

    $(document).ready(function () {


    });

    function AddProduct() {
        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/MaterialStoreroom/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newProductText").text();

        $('#AddMaterialProductModal-header').text(header);
        $('#AddMaterialProductModal').modal('toggle');
        $('#AddMaterialProductModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditProduct(element) {
        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddMaterialProductModal').modal('toggle');
        let header = $("#editProductText").text();
        $('#AddMaterialProductModal-header').text(header);

        var link = "/MaterialStoreroom/EditModal?Id=";
        var Id = $(element).attr('data-id');

        $(".loader").removeClass("hidden");
        $('#AddMaterialProductModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    $('#btn-addMaterialProduct-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-addMaterialProduct-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/MaterialStoreroom/AddOrUpdate";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');

        var product = {
            Guid: $("#Guid").val(),
            Name: $("#ProductName").val(),
            ProducerName: $("#ProducerName").val(),
            ProductTypeName: $("#ProductTypeName").val(),
            Barcode: $("#Barcode").val(),
            NameHolder: $("#NameHolder").val(),
        };

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                product: product
            },
            success: function (response) {
                $('#btn-addMaterialProduct-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#ProductName-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#AddMaterialProductModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "RepeatedBarcode") {

                        $("#AddMaterialProductModal #ERROR_Barcode").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddMaterialProductModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddMaterialProductModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#materialProductKendoGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeAddMaterialProductModal() {

        $('#AddMaterialProductModal').modal('hide');
        $('#AddMaterialProductModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

    function MaterialProductHistory(element) {

        var link = "/MaterialStoreroom/MaterialProductHistoryModal?Id=";
        var Id = $(element).attr('data-id');

        $('#MaterialProductHistoryModal').modal('toggle');

        $(".loader").removeClass("hidden");
        $('#MaterialProductHistoryModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeMaterialProductHistoryModal() {

        $('#MaterialProductHistoryModal').modal('hide');
        $('#MaterialProductHistoryModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

    function GridMaterialProductDeleteFunction(element) {

        $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeleteMaterialProductModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-deleteMaterialProduct-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }

    $('#btn-deleteMaterialProduct-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var Id = $(this).attr('data-id');

        var link = "/MaterialStoreroom/Remove";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                Id: Id
            },
            success: function (response) {
                $('#btn-deleteMaterialProduct-accept').removeAttr("disabled");

                if (response === "SUCCESSFUL") {
                    $('#DeleteMaterialProductModal').modal('hide');
                    $(".modal-backdrop:last").remove();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#materialProductHistoryKendoGrid .k-pager-refresh")[0].click();
                }
                else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {
                    $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "ERROR_SomeThingWentWrong") {
                    $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "AreYouSure") {
                    AskForDelete(Id);
                }
                else if (response === "CanNotDelete") {
                    CanNotDelete();
                } else {
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function SetProductBarcode(element) {

        var link = "/ProductBarcode/Form?productId=";
        var Id = $(element).attr('data-id');

        $('#SetProductBarcodeModal').modal('toggle');

        $(".loader").removeClass("hidden");
        $('#SetProductBarcodeModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeSetProductBarcodeModal() {

        $('#SetProductBarcodeModal').modal('hide');
        $('#SetProductBarcodeModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

</script>