@model WPH.Models.Product.ProductViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewProductForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Guid)
                    @Html.HiddenFor(m => m.ProductMasterId)
                    @Html.HiddenFor(m => m.NameHolder)

                    <label class="block clearfix">
                        <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["Name"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                            .Name("Name")
                            .Value(Model.Name)
                            .HtmlAttributes(new { id="ProductName", style = "width: 100%", @data_checkEmpty = "ProductName-box" })
                            )
                        </span>
                        <span id="ProductName-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                        <span id="ProductName-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["ScientificName"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                                .Name("ScientificName")
                                .Value(Model.ScientificName)
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "ScientificName-box" })
                            )
                        </span>
                        <span id="ScientificName-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["Producer"] : </label>
                        <span class="block input-icon input-icon-right">

                            @(Html.Kendo().AutoComplete()
                            .Name("ProducerName")
                            .DataTextField("Name")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .Value(Model.ProducerName)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllProducers", "BaseInfo");
                                })
                                .ServerFiltering(false);
                            })
                            .HtmlAttributes(new { style = "width:100%;", @data_checkEmpty = "ProducerType-box" })
                            )
                        </span>
                        <span id="ProducerType-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="red fa fa-asterisk smaller-60 redStar"></span><label for="form-field-8">@Localizer["ProductType"] : </label>
                        <span class="block input-icon input-icon-right">

                            @(Html.Kendo().AutoComplete()
                            .Name("ProductTypeName")
                            .DataTextField("Name")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .Value(Model.ProductTypeName)
                            .ClearButton(false)
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllProductTypes", "BaseInfo");
                                })
                                .ServerFiltering(false);
                            })
                            .HtmlAttributes(new { style = "width:100%;", @data_checkEmpty = "ProductType-box" })
                            )

                        </span>
                        <span id="ProductType-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                    </label>

                    @if (Model.Guid == Guid.Empty)
                    {
                        <label class="block clearfix">
                            @*<span class="red fa fa-asterisk smaller-60 redStar"></span>*@<label for="form-field-8">@Localizer["Barcode"] : </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                .Name("Barcode")
                                .Value(Model.Barcode)
                                .HtmlAttributes(new { style = "width: 100%"/*, @data_checkEmpty = "Barcode-box"*/ })
                                )
                            </span>
                            <span id="Barcode-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                            </span>
                        </label>
                    }

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["OrderPoint"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().NumericTextBox<int>()
                            .Name("OrderPoint")
                            .Min(0)
                            .Decimals(0)
                            .Format("N0")
                            .Value(Model.OrderPoint)
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["ProductLocation"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                            .Name("ProductLocation")
                            .Value(Model.ProductLocation)
                            .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Description"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                            .Name("Description")
                            .Value(Model.Description)
                            .HtmlAttributes(new { style = "width: 100%", @id = "ProductDescription" })
                            )
                        </span>
                    </label>


                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Section"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().MultiSelect()
                                .Name("ClinicSections")
                                //.BindTo(Model.ClinicSectionGuids)
                                .DataValueField("Guid")
                                .DataTextField("Name")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetAllClinicSectionParentsForUser", "ClinicSection");
                                    })
                                    .ServerFiltering(false);
                                })
                                .Value(Model.ClinicSectionIds)
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "ClinicSections-box" })
                                .AutoClose(false)
                                //.Placeholder(@ViewBag.UserAccess)

                                )
                        </span>

                        <span id="ClinicSections-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>

                    </label>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->


<script>

    var product;

    $(document).ready(function () {

        setTimeout(function () {
            $("#ProductName").focus();
        }, 200);

    });

    $('#ProductName').focus(function () {
        $("#ProductName-Exist").addClass('hidden');
        $("#ProductName-box").addClass('hidden');
        $("#ProductName").select();
    });

    $('#ProductName').on('keypress', function (e) {

        if (e.which === 13) {

            $('#ScientificName').focus();
        }
    });

    $('#ScientificName').on('keypress', function (e) {

        if (e.which === 13) {

            $('#ProducerName').data("kendoAutoComplete").focus();
        }
    });

    $("#ProducerName").on('focus', function (e) {

        let inputAuto = $("#ProducerName").data("kendoAutoComplete");
        let value = inputAuto.value();
        inputAuto.search(value);
    });


    $('#ProducerName').on('keypress', function (e) {

        if (e.which === 13) {

            $('#ProductTypeName').data("kendoAutoComplete").focus();
        }
    });


    $("#ProductTypeName").on('focus', function (e) {

        let inputAuto = $("#ProductTypeName").data("kendoAutoComplete");
        let value = inputAuto.value();
        inputAuto.search(value);
    });

    $("#ProductTypeName").on("keypress", function (e) {
        if (e.which === 13) {
            let barcode = $("#Barcode");

            if (barcode)
                barcode.focus();
            else
                $('#OrderPoint').data("kendoNumericTextBox").focus();
        }
    });

    $('#Barcode').on('keypress', function (e) {

        if (e.which === 13) {

            $('#OrderPoint').data("kendoNumericTextBox").focus();
        }
    });

    $("#OrderPoint").on("keypress", function (e) {
        if (e.which === 13) {
            $('#ProductLocation').focus();
        }
    });

    $("#ProductLocation").on("keypress", function (e) {
        if (e.which === 13) {
            $('#ProductDescription').focus();
        }
    });

    $("#ProductDescription").on("keypress", function (e) {
        if (e.which === 13) {
            $('#btn-addProduct-accept').focus();
        }
    });

</script>
