@model WPH.Models.CustomDataModels.BaseInfo.BaseInfosAndPeriodsViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
    }


}


<div class="row page-header ">

    <div class="@pull ">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["All"] @Localizer["GroupAnalysis"]
        </h1>

    </div>

    @if ((bool)ViewBag.AccessNewGroupAnalysis)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddGroupAnalysis(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }


</div><!-- /.page-header -->
<div class="row">

    <div class="col-xs-12" style="padding:0;margin-bottom:1rem">

        <div class="col-xs-2" style="padding-left:unset;padding-right:unset;">
            @(Html.Kendo().DropDownList()
            .Name("sections")
            .BindTo(Model.sections)
            .DataTextField("Name")
            .DataValueField("Id")
            .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "SectionChange()" })
        )
        </div>

    </div>

</div>


<input class="hidden" type="text" id="groupAnalysis-type-id" data-Value="" />
<h1 id="FromTo" class="hidden">@ViewBag.FromToId</h1>

<div class="space-10"></div>

<script>

    function GetPeriodForGroupAnalysis() {

        var period = $("#sections").data("kendoDropDownList");

        var periodValue = period.value();

        return {

            clinicSectionId: periodValue
        };
    }


</script>

<div class="row Grid-Content @font">

    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/GroupAnalysis/dgGroupAnalysisGrid.cshtml")
</div>


<div id="GroupAnalysisModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="GroupAnalysisModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["New"]
                </h3>
            </div>

            <div id="GroupAnalysisModal-body" class="modal-body" style="width:70rem">

            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                    .Name("btn-GroupAnalysisModal-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "groupAnalysisClick()" })
                    .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-GroupAnalysisModal-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                    .Content(Localizer["Exit"]))

            </div>
        </div>
    </div>
</div>


<div id="GroupAnalysisItemModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" , onclick="closegroupAnalysisItem()" aria-hidden="true">&times;</button>
                <h3 id="GroupAnalysisItemModal-header" class="smaller lighter blue no-margin @font"></h3>
            </div>

            <div id="GroupAnalysisItemModal-body" class="modal-body" style="width:95vw;padding:4rem">

            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                    .Name("btn-GroupAnalysisItemModal-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "closegroupAnalysisItem()", @data_GroupId = "" })
                    .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-GroupAnalysisItemModal-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal", onclick = "closegroupAnalysisItem()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div>
    </div>
</div>



<div id="AnalysisItemModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" , onclick="closeAnalysisItemModal()" aria-hidden="true">&times;</button>
                <h3 id="AnalysisItemModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["New"]
                </h3>
            </div>

            <div id="AnalysisItemModal-body" class="modal-body" style="width:95vw;padding:4rem">

            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                    .Name("btn-AnalysisItemModal-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addAnalysisItem()" })
                    .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-AnalysisItemModal-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal", onclick = "closeAnalysisItemModal()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div>
    </div>
</div>


<div id="GroupAnalysisItem-modal-delete" class="modal fade bd-example-modal-lg @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller'>
                    <i class='ace-icon fa fa-exclamation-triangle red @font'></i>
                    @Localizer["DeleteRecordHeader"]
                </h3>
            </div>




            <div id="delete-modal-body" class="modal-body">
                <div class="label label-warning label-white middle" style="font-size:1.5rem;height:40px;">
                    <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                    @Localizer["DeleteRecordBody"]
                </div>
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity1" class="label label-danger label-white middle hidden" style="font-size:small;height:40px;">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>

                <div id="ERROR_SomeThingWentWrong1" class="label label-danger label-white middle hidden" style="font-size:small;height:40px;">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Button()
                .Name("btn-delete-accept-GroupAnalysisItem")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", @data_id = "" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()

                    .Name("btn-close-modal-update")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeGroupAnalysisAnalysisItemDeleteModal()" })
                    .Content(Localizer["Exit"]))

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



<div id="GroupAnalysis_Analysis-modal-delete" class="modal fade bd-example-modal-lg @font" data-backdrop="static" data-keyboard="false" style="@direction">


    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller'>
                    <i class='ace-icon fa fa-exclamation-triangle red @font'></i>
                    @Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="delete-modal-body" class="modal-body">
                <div class="label label-warning label-white middle" style="font-size:1.5rem;height:40px;">
                    <i class="ace-icon fa fa-exclamation-triangle bigger-120"></i>
                    @Localizer["DeleteRecordBody"]
                </div>
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity2" class="label label-danger label-white middle hidden" style="font-size:small;height:40px;">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>
                <div id="ERROR_SomeThingWentWrong2" class="label label-danger label-white middle hidden" style="font-size:small;height:40px;">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">
                @Html.AntiForgeryToken()

                @(Html.Kendo().Button()
                .Name("btn-delete-accept-GroupAnalysis_Analysis")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", @data_id = "" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-close-modal-update")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeGroupAnalysisAnalysisDeleteModal()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")



<h3 class="hidden" id="newHeader"> @Localizer["New"] @Localizer["GroupAnalysis"]</h3>
<h3 class="hidden" id="editHeader"> @Localizer["Edit"] @Localizer["GroupAnalysis"]</h3>

<script type="text/javascript">

    function AddGroupAnalysis() {

        let header = $("#newHeader").text();

        $("#GroupAnalysisModal-header").text(header);
        var link = $("#GridAddLink").attr("data-Value");
        $(".loader").removeClass("hidden");
        $('#GroupAnalysisModal').modal('toggle');
        $('#GroupAnalysisModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
            kendo.ui.progress($("#window"), true);
        });
    }

    function groupAnalysisClick() {
        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() !== undefined) {
                    let text = $('[data-checkEmpty="' + empty + '"]').val().replace(/ /g, '');
                    if (text === "") {
                        $(this).removeClass('hidden');
                        isEmmpty = false;
                        return;
                    }
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/GroupAnalysis/AddOrUpdate";
        var data = $("#addNewForm").serialize();
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Name-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else {

                        $('#GroupAnalysisModal').modal('toggle');
                        $('#GroupAnalysisModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $(".k-pager-refresh")[0].click();

                    }
                }
            }
        });
    }

    function EditGroupAnalysis(element) {

        let header = $("#editHeader").text();

        $("#GroupAnalysisModal-header").text(header);
        var link = $("#GridEditLink").attr("data-Value");
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#GroupAnalysisModal').modal('toggle');
        $('#GroupAnalysisModal-body').load(link + Id, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }


    ////////////////////////////////////////GroupAnalysisItem



    function AddAnalysisItemToGroup(element) {

        let name = $(element).attr('data-name');

        $("#GroupAnalysisItemModal-header").text(name);
        var link = "/GroupAnalysis/AddItemToGroupAnalysis";
        $(".loader").removeClass("hidden");
        let id = $(element).attr('data-id');
        $('#btn-GroupAnalysisItemModal-accept').attr('data-GroupId', id)
        $('#GroupAnalysisItemModal').modal('toggle');
        $('#GroupAnalysisItemModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }


    function closegroupAnalysisItem() {
        $('#GroupAnalysisItemModal').modal('toggle');
        $('#GroupAnalysisItemModal-body').empty();
        $("#kendoGroupAnalysisGrid").find(".k-pager-refresh").click(); 
    }

    function GridGroupAnalysis_AnalysisDeleteFunction(element) {
        $("#ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#ERROR_SomeThingWentWrong").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#GroupAnalysis_Analysis-modal-delete').modal('toggle');

        var Id = $(element).attr('data-id');
        $('#btn-delete-accept-GroupAnalysis_Analysis').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }

    $('#btn-delete-accept-GroupAnalysisItem').on("click", function () {
        $(this).attr("disabled", true);

        $("#ERROR_ThisRecordHasDependencyOnItInAnotherEntity1").addClass("hidden");
        $("#ERROR_SomeThingWentWrong1").addClass("hidden");

        var Id = $(this).attr('data-id');
        var link = "/GroupAnalysisItem/Remove"
        var GridRefreshLink = $("#GridRefreshLink").attr("data-Value");
        if (!IfUserCheckPass(GridRefreshLink)) {
            $('#btn-delete-accept-GroupAnalysisItem').removeAttr("disabled");
            return;
        }

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {

                Id: Id
            },
            success: function (response) {
                $('#btn-delete-accept-GroupAnalysisItem').removeAttr("disabled");

                if (response === "SUCCESSFUL") {
                    $('#GroupAnalysisItem-modal-delete').modal('hide');

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#kendoGroupAnalysisItemGrid").find(".k-pager-refresh").click();
                    refreshAnalysisItems();
                }
                else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity1") {
                    $("#ERROR_ThisRecordHasDependencyOnItInAnotherEntity1").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "ERROR_SomeThingWentWrong1") {
                    $("#ERROR_SomeThingWentWrong1").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });



    $('#btn-delete-accept-GroupAnalysis_Analysis').on("click", function () {
        $(this).attr("disabled", true);

        $("#ERROR_ThisRecordHasDependencyOnItInAnotherEntity2").addClass("hidden");
        $("#ERROR_SomeThingWentWrong2").addClass("hidden");

        var Id = $(this).attr('data-id');
        var link = "/GroupAnalysis_Analysis/Remove";

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {

                Id: Id
            },
            success: function (response) {
                $('#btn-delete-accept-GroupAnalysis_Analysis').removeAttr("disabled");

                if (response === "SUCCESSFUL") {
                    $('#GroupAnalysis_Analysis-modal-delete').modal('hide');
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    refreshAnalysis();
                    $("#kendoGroupAnalysis_AnalysisGrid").find(".k-pager-refresh").click();
                }
                else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity2") {
                    $("#ERROR_ThisRecordHasDependencyOnItInAnotherEntity2").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "ERROR_SomeThingWentWrong2") {
                    $("#ERROR_SomeThingWentWrong2").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });


    function closeGroupAnalysisAnalysisDeleteModal() {
        $('#GroupAnalysis_Analysis-modal-delete').modal('hide');
    }


    function closeGroupAnalysisAnalysisItemDeleteModal() {
        $('#GroupAnalysisItem-modal-delete').modal('hide');
    }

    function SectionChange() {

        $("#kendoGroupAnalysisGrid").find(".k-i-reload").click();

    }

</script>

