@model string
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    ViewBag.Title = "Licence";
    Layout = "~/Views/Shared/mainViews/_UserHandlerLayout.cshtml";
}

<style>
    .login-container {
        width: 600px !important;
    }
</style>


<div id="login-box" class="login-box visible widget-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            @Html.AntiForgeryToken()
            <div>
                <img style="display:block;margin:0px auto;" src="~/Content/Images/expire.png" />
            </div>

            <div>

                @if (Model == "KeyNotExists")
                {
                    <h2 style="text-align: center; font-weight: bold;" class="header blue lighter bigger">
                        @Localizer["KeyNotExists"]
                    </h2>
                }
                else if (Model == "DateExpired")
                {
                    <h2 style="text-align: center; font-weight: bold;" class="header blue lighter bigger">
                        @Localizer["DateExpired"]
                    </h2>
                }
                else
                {
                    <h2 style="text-align: center; font-weight: bold;" class="header blue lighter bigger">
                        @Localizer["KeyNotValid"]
                    </h2>
                }

            </div>

            <div>
                <label style="text-align: left;" class="block clearfix">
                    <label for="form-field-8">@Localizer["Serial"] </label>

                    <span style="width: 100%" class="block input-icon input-icon-right">
                        <input id="Serial" style="width: 100%;text-align: left;" type="text" placeholder="@Localizer["Serial"]" />
                    </span>

                </label>
            </div>

            <div style="display:flex;flex-direction: row-reverse;">

                <span style="width: 100%" class="block input-icon input-icon-right">
                    <input id="licenceKey" style="width: 100%;text-align: left;" type="text" placeholder="@Localizer["LicenceKey"]" />
                </span>

                <button id="activate" type="button" class="pull-right btn btn-xs btn-primary radius-4">
                    <span class="bigger-110">@Localizer["Activate"]</span>
                </button>

            </div>
            <div>
                <div id="licenceKey-box" class=" hidden" style="color:red;">
                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                </div>

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_InsertWrong"]
                </div>
            </div>



        </div>



    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            url: "/UserHandler/GetSerial",
            success: function (response) {
                $("#Serial").val(response);
            }
        });

    });

    $('#activate').on("click", function () {
        $(this).attr("disabled", true);

        $("#ERROR_SomeThingWentWrong").addClass("hidden");
        $("#licenceKey-box").addClass("hidden");

        var key = $("#licenceKey").val();

        if (key == "" || key == null) {
            $("#licenceKey-box").removeClass("hidden");
            $('#activate').removeAttr("disabled");
            return;
        }

        var link = "/UserHandler/AddLicenceKey";
        var token = $(':input:hidden[name*="RequestVerificationToken"]');

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                licenceKey: key
            },
            success: function (response) {
                $('#activate').removeAttr("disabled");

                if (response !== 0) {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    window.location = response;

                } else {

                    $("#ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });
</script>