@model IEnumerable<WPH.Models.CustomDataModels.BaseInfo.PeriodsViewModel>

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "", flex_direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
        flex_direction = " flex-direction: row; ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl;";
        flex_direction = " flex-direction: row-reverse; ";
    }
}


<style>


    @@media (max-width:767px) {
        .modal-dialog {
            width: 70vw;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5)
        }

        .modal-sm {
            width: 300px
        }

        #AddProductModal-body {
            width: 90vw;
        }
    }

    @@media (min-width:768px) {
        #AddProductModal-body {
            width: 60vw;
        }
    }
</style>



<script>

    var store = false;
    var productdropdown = false;
    var materialdropdown = false;

    function StoreDataBound(e) {
        store = true;


        if ($("#StoreId").val() == 1) {

            $("#ProductGridContent").removeClass('hidden');
            $("#ProductFilters").removeClass('hidden');
            $("#MaterialGridContent").addClass('hidden');
            $("#MaterialFilters").addClass('hidden');
            $("#productNewbtn").removeClass('hidden');
            $("#materialNewbtn").addClass('hidden');
            
            if (store && productdropdown)
                $("#productKendoGrid .k-pager-refresh")[0].click();

        }
        else {


            $("#ProductGridContent").addClass('hidden');
            $("#ProductFilters").addClass('hidden');
            
            $("#MaterialGridContent").removeClass('hidden');
            $("#MaterialFilters").removeClass('hidden');
            $("#materialNewbtn").removeClass('hidden');
            $("#productNewbtn").addClass('hidden');



            if (store && materialdropdown)
                $("#materialProductKendoGrid .k-pager-refresh")[0].click();

        }


    }


    function productSectionDataBound() {
        productdropdown = true;
        if (store && productdropdown)
            $("#productKendoGrid .k-pager-refresh")[0].click();


    }


    function materialSectionDataBound() {
        materialdropdown = true;
        if (store && materialdropdown)
            $("#materialProductKendoGrid .k-pager-refresh")[0].click();


    }

    var click_dblClick = true;

    function GetClinicSectionId() {


        if ($('#StoreId').val() == 1) {
            let data = $('#ClinicSectionId').data("kendoDropDownList").dataItem();

            if (data == undefined)
                return;
            let parentId;

            if (data.ClinicSectionTypeId == null || data.ClinicSectionTypeId == "")
                parentId = $('#ClinicSectionId').val();
            else
                parentId = data.ParentId;

            return {
                OriginalClinicSectionId: parentId,
                ClinicSectionId: $('#ClinicSectionId').val(),
                ProductBarcode: $('#BarcodeSearch').val(),
                FromOrderPoint: $('#FromOrderPoint').val(),
                ToOrderPoint: $('#ToOrderPoint').val(),
                ClinicSectionName: $('#ClinicSectionId').data("kendoDropDownList").text(),
                SupplierId: $("#SupplierFilter").val(),
            };
        }
        else {

            let data = $('#MaterialClinicSectionId').data("kendoDropDownList").dataItem();

            if (data == undefined)
                return;
            let parentId;

            if (data.ClinicSectionTypeId == null || data.ClinicSectionTypeId == "")
                parentId = $('#MaterialClinicSectionId').val();
            else
                parentId = data.ParentId;

            return {
                ClinicSectionId: $('#MaterialClinicSectionId').val(),
                OriginalClinicSectionId: parentId,
                ClinicSectionName: $('#MaterialClinicSectionId').data("kendoDropDownList").text(),
            };
        }

    }

    function ProductFilterChange(e) {

        //var dataItem = this.dataItem(e.item);

        var val = $('#ProductFilter').val();
        if (val == 1) {
            $("#btn-FilterProduct-accept").removeClass("hidden");
            $("#BarcodeSearchContainer").removeClass("hidden");
            $("#OrderPointContainer").addClass("hidden");
            $("#SupplierSearchContainer").addClass("hidden");

            $("#FromOrderPoint").val('');
            $("#ToOrderPoint").val('');
            $("#SupplierFilter").val('');
        } else if (val == 2) {
            $("#btn-FilterProduct-accept").removeClass("hidden");
            $("#BarcodeSearchContainer").addClass("hidden");
            $("#OrderPointContainer").removeClass("hidden");
            $("#SupplierSearchContainer").addClass("hidden");

            $("#BarcodeSearch").val('');
            $("#SupplierFilter").val('');
        } else if (val == 3) {
            $("#SupplierSearchContainer").removeClass("hidden");
            $("#btn-FilterProduct-accept").addClass("hidden");
            $("#BarcodeSearchContainer").addClass("hidden");
            $("#OrderPointContainer").addClass("hidden");

            $.ajax({
                type: "Get",
                url: '/Supplier/GetAllSuppliersByClinicSectionId',
                data:
                {
                    clinicSectionId: $("#ClinicSectionId").val()
                },
                success: function (response) {

                    if (response !== 0) {

                        $("#SupplierFilter").data("kendoDropDownList").dataSource.data(response);
                    } else {
                        bootbox.alert({
                            message: "@Localizer["ERROR_InsertWrong"]",
                            className: 'bootbox-class'
                        });
                    }
                }
            });

            $("#BarcodeSearch").val('');
            $("#FromOrderPoint").val('');
            $("#ToOrderPoint").val('');
        } else {
            $("#btn-FilterProduct-accept").addClass("hidden");
            $("#BarcodeSearchContainer").addClass("hidden");
            $("#OrderPointContainer").addClass("hidden");
            $("#SupplierSearchContainer").addClass("hidden");

            $("#BarcodeSearch").val('');
            $("#FromOrderPoint").val('');
            $("#ToOrderPoint").val('');
            $("#SupplierFilter").val('');
        }
    }

    function SupplierFilterChange(e) {

        $("#productKendoGrid .k-pager-refresh")[0].click();
    }

</script>

<div class="row page-header" style="padding-top:20px;">

    <div class="col-sm-12" style="padding: 0px;">
        <div class="col-sm-2" style="padding: 0px; display: flex; align-items: center; @flex_direction">
            <div class="@pull">
                <h1 class="@font" style="font-size: 2.3rem">
                    @Localizer["Storeroom"]
                </h1>

            </div>

        </div>
        <div class="col-sm-2 MyFont-Roboto-grid">

            @(Html.Kendo().DropDownList()
                    .Name("StoreId")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("StoreDataBound").DataBound("StoreDataBound"))
                    .BindTo(new List<SelectListItem> { new SelectListItem(){Text = Localizer["MedicineStoreroom"],Value = "1" }, new SelectListItem() { Text = Localizer["MaterialStoreroom"], Value = "2" } })
                    .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
                    )

        </div>

        <div class="col-sm-1 MyFont-Roboto-grid">
            @if ((bool)ViewBag.AccessNewStoreroom)
            {
                <div id="productNewbtn" class="@pull @font " style="">
                    <a class="btn btn-danger" onClick="AddProduct()" href="#" style="padding:0.2rem">
                        @Localizer["New"]
                        <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
                    </a>
                </div>

            }



            @if ((bool)ViewBag.AccessNewMaterialStoreroom)
            {
                <div id="materialNewbtn" class="@pull @font hidden" style="">
                    <a class="btn btn-danger" onClick="AddMaterial()" href="#" style="padding:0.2rem">
                        @Localizer["New"]
                        <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
                    </a>
                </div>

            }
        </div>
    </div>

</div><!-- /.page-header -->

<div id="ProductFilters" class="col-sm-12 hidden" style="padding: 0px;">
    <div class="col-sm-2 MyFont-Roboto-grid">

        @(Html.Kendo().DropDownList()
            .Name("ClinicSectionId")
            .DataTextField("Name")
            .DataValueField("Guid")
            .Events(e => e.Change("productSectionDataBound").DataBound("productSectionDataBound"))
            .AutoBind(true)
            .Value(HttpContextAccessor.HttpContext.Session.GetString("ClinicSectionId"))
            //.Filter("contains")
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    //read.Action("GetSourceClinicSections", "Transfer");
                    read.Action("GetAllClinicSectionsForUserByAccess", "ClinicSection");
                })
                .ServerFiltering(false);
            })
            .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
            )

    </div>

    <div class="col-sm-2 MyFont-Roboto-grid">
        @(Html.Kendo().DropDownList()
            .Name("ProductFilter")
            .DataTextField("Name")
            .DataValueField("Id")
            .Events(e => e.Change("ProductFilterChange"))
            .OptionLabel(" ")
            .BindTo(Model)
            .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
            )
    </div>

    <div id="" class="col-sm-2 MyFont-Roboto-grid">

        <div id="SupplierSearchContainer" class=" hidden">
            @(Html.Kendo().DropDownList()
                .Name("SupplierFilter")
                .DataTextField("Name")
                .DataValueField("Guid")
                .Events(e => e.Change("SupplierFilterChange"))
                .OptionLabel(" ")
                .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
                )
        </div>

        <div id="BarcodeSearchContainer" class=" hidden">
            @(Html.Kendo().TextBox()
                .Name("BarcodeSearch")
                .Placeholder(Localizer["Barcode"])
                .HtmlAttributes(new { style = "width: 100%;font-size: 15px;" })
                )
        </div>

        <div id="OrderPointContainer" class=" hidden">

            <div class="col-sm-6">
                @(Html.Kendo().TextBox()
                    .Name("FromOrderPoint")
                    .Placeholder(Localizer["FromOrderPoint"])
                    .HtmlAttributes(new { style = "width: 100%;font-size: 15px;", onkeypress = "return OnlyNumberKey(event)" })
                    )
            </div>

            <div class="col-sm-6">
                @(Html.Kendo().TextBox()
                    .Name("ToOrderPoint")
                    .Placeholder(Localizer["ToOrderPoint"])
                    .HtmlAttributes(new { style = "width: 100%;font-size: 15px;", onkeypress = "return OnlyNumberKey(event)" })
                    )
            </div>

        </div>

    </div>

    <div id="" class="col-sm-1 ">
        @(Html.Kendo().Button()
            .Name("btn-FilterProduct-accept")
            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = $"k-primary {pull} hidden", onclick = "AcceptFilterProduct()" })
            .Content(Localizer["Ok"]))
    </div>

    <div class="col-sm-2 MyFont-Sarchia-grid" style="display: flex; align-items: center; @flex_direction">
        @(Html.Kendo().CheckBox()
            .Name("CheckOrderPoint")
            .Label(Localizer["ShowOrderPoint"])
            .HtmlAttributes(new {style= "font-family:MyFont-Sarchia-grid;font-weight:900" }))
    </div>
</div>

<div id="MaterialFilters" class="col-sm-12 hidden" style="padding: 0px;margin-bottom:2rem">

    <div class="col-xs-6 col-sm-2 MyFont-Roboto-grid">
        @(Html.Kendo().DropDownList()
        .Name("MaterialClinicSectionId")
        .DataTextField("Name")
        .DataValueField("Guid")
        .Events(e => e.Change("materialSectionDataBound").DataBound("materialSectionDataBound"))
        .AutoBind(true)
        .Value(HttpContextAccessor.HttpContext.Session.GetString("ClinicSectionId"))
        //.Filter("contains")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                //read.Action("GetSourceClinicSections", "Transfer");
                read.Action("GetAllClinicSectionsForUserByAccess", "ClinicSection");
            })
            .ServerFiltering(false);
        })
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
        )
    </div>

</div>
<!-- Modal -->
<div id="AddProductModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddProductModal()" aria-hidden="true">&times;</button>
                <h3 id="AddProductModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddProductModal-body" class="modal-body">
            </div>

            <div id="ERROR_Barcode" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["RepeatedBarcode"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addProduct-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addProduct-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddProductModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="SetProductBarcodeModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="width:50%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeSetProductBarcodeModal()" aria-hidden="true">&times;</button>
                <h3 id="SetProductBarcodeModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="SetProductBarcodeModal-body" class="modal-body" style="margin:5px;">
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-SetProductBarcode-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeSetProductBarcodeModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="ProductReportsModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeProductReportsModal()" aria-hidden="true">&times;</button>
                <div style="display: flex;">
                    <h3 id="ProductReports-header" class="smaller lighter blue no-margin @font">
                        @Localizer["ProductReports"] _ &nbsp;
                    </h3>
                    <h3 id="ProductReports-productName" class="smaller lighter blue no-margin @font">
                    </h3>
                </div>
            </div>

            <div id="ProductReportsModal-body" class="modal-body" style="">
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-ProductReports-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeProductReportsModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="DeleteMaterialProductModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" onclick="closeDeleteMaterialProductModal()" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteMaterialProductModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>
                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deleteMaterialProduct-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deleteMaterialProduct-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeDeleteMaterialProductModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>



<!-- Modal -->
<div id="AddMaterialProductModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddMaterialProductModal()" aria-hidden="true">&times;</button>
                <h3 id="AddMaterialProductModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddMaterialProductModal-body" class="modal-body">
            </div>

            <div id="ERROR_Barcode" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["RepeatedBarcode"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addMaterialProduct-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addMaterialProduct-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddMaterialProductModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="MaterialProductHistoryModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog" style="width:75%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeMaterialProductHistoryModal()" aria-hidden="true">&times;</button>
                <h3 id="MaterialProductHistoryModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["History"]
                </h3>
            </div>

            <div id="MaterialProductHistoryModal-body" class="modal-body" style="margin:5px;">
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-materialProductHistory-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeMaterialProductHistoryModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<!-- Grid -->
<div id="ProductGridContent" class="row Grid-Content @font hidden">

    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Product/dgProductGrid.cshtml")
</div>

<div id="MaterialGridContent" class="row Grid-Content @font hidden">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/MaterialStoreroom/dgMaterialStoreroomGrid.cshtml")
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")



@{
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        <h3 id="newProductText" class="hidden">@Localizer["New"] @Localizer["Product"]</h3>
    }
    else
    {
        <h3 id="newProductText" class="hidden">@Localizer["Product"] @Localizer["New"]</h3>
    }

    <h3 id="editProductText" class="hidden">@Localizer["Edit"] @Localizer["Product"]</h3>
}

<input class="hidden" type="text" id="Product" data-Value="@ViewBag.ProductId" />
<h3 class="hidden" id="ProductText">@Localizer["New"] @Localizer["Product"] </h3>
<h3 class="hidden" id="EnterText">@Localizer["Enter"] @Localizer["Product"] </h3>
<h3 class="hidden" id="ExitText">@Localizer["Exit"] @Localizer["Product"] </h3>

<script>

    $(document).ready(function () {
        //setTimeout(function () {
        //    $("#ClinicSectionId").data("kendoDropDownList").trigger("select");
        //}, 200);

        $("#materialProductKendoGrid").on("dblclick", "tr.k-state-selected", function (element) {

            $("#materialProductKendoGrid").find("tr.k-state-selected td a.edit").click();

        });

        $('.k-pager-refresh').click(function () {
            $('#CheckOrderPoint').prop('checked', false);
        });

        $('#CheckOrderPoint').change(function () {

            var data = $("#productKendoGrid").data("kendoGrid").dataSource.data();
            if (this.checked) {

                for (item in data) {
                    if (data[item].Warning != 'true' && data[item].Warning != true) {

                        var grid = $("#productKendoGrid").data("kendoGrid");
                        grid.tbody.find("tr[data-uid=" + data[item].uid + "]").hide();
                    }
                }

            } else {

                for (item in data) {

                    var grid = $("#productKendoGrid").data("kendoGrid");
                    grid.tbody.find("tr[data-uid=" + data[item].uid + "]").show();

                }

            }
        });
    });


    $('#BarcodeSearch').on('keypress', function (e) {
        if (e.which === 13) {
            $("#productKendoGrid .k-pager-refresh")[0].click();
        }
    });


    $('#FromOrderPoint').on('keypress', function (e) {
        if (e.which === 13) {
            $('#ToOrderPoint').focus();
        }
    });


    $('#ToOrderPoint').on('keypress', function (e) {
        if (e.which === 13) {
            $("#productKendoGrid .k-pager-refresh")[0].click();
        }
    });

    function AcceptFilterProduct() {

        $("#productKendoGrid .k-pager-refresh")[0].click();
    }

    function AddProduct() {
        $("#AddProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddProductModal #ERROR_Data").addClass("hidden");
        $("#AddProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/Product/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newProductText").text();

        $('#AddProductModal-header').text(header);
        $('#AddProductModal').modal('toggle');
        $('#AddProductModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditProduct(element) {
        click_dblClick = false;

        $("#AddProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddProductModal #ERROR_Data").addClass("hidden");
        $("#AddProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddProductModal').modal('toggle');
        let header = $("#editProductText").text();
        $('#AddProductModal-header').text(header);
        var link = "/Product/EditModal?Id=";
        var masterId = $(element).attr('data-id');
        var guid = $(element).attr('data-guid');

        $(".loader").removeClass("hidden");
        $('#AddProductModal-body').load(link + guid + '&&MasterId=' + masterId, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    $('#btn-addProduct-accept').on("click", function () {
        click_dblClick = true;
        $(this).attr("disabled", true);

        $("#AddProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddProductModal #ERROR_Data").addClass("hidden");
        $("#AddProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-addProduct-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Product/AddOrUpdate";
        var token = $(':input:hidden[name*="RequestVerificationToken"]');


        var ClinicSections = [];
        itemList = "";
        var itemList = $('#ClinicSections').data('kendoMultiSelect').dataItems();
        for (var i = 0; i < itemList.length; i++) {
            ClinicSections.push(itemList[i]["Guid"]);
        }


        var product = {
            Guid: $("#Guid").val(),
            ProductMasterId: $("#ProductMasterId").val(),
            Name: $("#ProductName").val(),
            NameHolder: $("#NameHolder").val(),
            ScientificName: $("#ScientificName").val(),
            ProducerName: $("#ProducerName").val(),
            ProductTypeName: $("#ProductTypeName").val(),
            OrderPoint: $("#OrderPoint").val(),
            ProductLocation: $("#ProductLocation").val(),
            Description: $("#ProductDescription").val(),
            Barcode: $("#Barcode").val(),
            ClinicSections: ClinicSections.toString(),
        };

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                product: product
            },
            success: function (response) {
                $('#btn-addProduct-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#ProductName-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#AddProductModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "RepeatedBarcode") {

                        $("#AddProductModal #ERROR_Barcode").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddProductModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddProductModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#productKendoGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddProductModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeAddProductModal() {

        $('#AddProductModal').modal('hide');
        $('#AddProductModal-body').empty();
        $(".modal-backdrop:last").remove();
        click_dblClick = true;
    }

    function SetProductBarcode(element) {
        click_dblClick = false;

        var link = "/ProductBarcode/Form?productId=";
        var Id = $(element).attr('data-id');

        $('#SetProductBarcodeModal').modal('toggle');

        $(".loader").removeClass("hidden");
        $('#SetProductBarcodeModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeSetProductBarcodeModal() {

        $('#SetProductBarcodeModal').modal('hide');
        $('#SetProductBarcodeModal-body').empty();
        $(".modal-backdrop:last").remove();
        click_dblClick = true;

    }

    function ProductReports(element) {
        click_dblClick = false;

        var link = "/Product/ProductReportsModal?productId=";
        var Id = $(element).attr('data-id');

        $('#ProductReportsModal').modal('toggle');

        $(".loader").removeClass("hidden");
        $('#ProductReportsModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
            $("#ProductIdHelper").val(Id);
        });
    }

    function closeProductReportsModal() {

        $('#ProductReportsModal').modal('hide');
        $('#ProductReportsModal-body').empty();
        $(".modal-backdrop:last").remove();
        click_dblClick = true;

    }

    $('#btn-deleteMaterialProduct-accept').on("click", function () {
        click_dblClick = true;
        $(this).attr("disabled", true);

        $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var Id = $(this).attr('data-id');
        var link = "/Product/Remove";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                Id: Id
            },
            success: function (response) {
                $('#btn-deleteMaterialProduct-accept').removeAttr("disabled");

                if (response === "SUCCESSFUL") {
                    $('#DeleteMaterialProductModal').modal('hide');
                    $(".modal-backdrop:last").remove();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                    if ($("#StoreId").val() == 1)

                        $("#productKendoGrid .k-pager-refresh")[0].click();
                    else
                        $("#materialProductKendoGrid .k-pager-refresh")[0].click();
                }
                else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {
                    $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "ERROR_SomeThingWentWrong") {
                    $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "AreYouSure") {
                    AskForDelete(Id);
                }
                else if (response === "CanNotDelete") {
                    CanNotDelete();
                } else {
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeDeleteMaterialProductModal() {

        $('#DeleteMaterialProductModal').modal('hide');
        $(".modal-backdrop:last").remove();
        click_dblClick = true;

    }

    function AddMaterial() {
        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/MaterialStoreroom/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newProductText").text();

        $('#AddMaterialProductModal-header').text(header);
        $('#AddMaterialProductModal').modal('toggle');
        $('#AddMaterialProductModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditMaterial(element) {
        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddMaterialProductModal').modal('toggle');
        let header = $("#editProductText").text();
        $('#AddMaterialProductModal-header').text(header);

        var link = "/MaterialStoreroom/EditModal?Id=";
        var Id = $(element).attr('data-id');

        $(".loader").removeClass("hidden");
        $('#AddMaterialProductModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    $('#btn-addMaterialProduct-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddMaterialProductModal #ERROR_Barcode").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_Data").addClass("hidden");
        $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-addMaterialProduct-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/MaterialStoreroom/AddOrUpdate";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');

        var product = {
            Guid: $("#Guid").val(),
            Name: $("#ProductName").val(),
            ProducerName: $("#ProducerName").val(),
            ProductTypeName: $("#ProductTypeName").val(),
            Barcode: $("#Barcode").val(),
            NameHolder: $("#NameHolder").val(),
        };

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                product: product
            },
            success: function (response) {
                $('#btn-addMaterialProduct-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#ProductName-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#AddMaterialProductModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "RepeatedBarcode") {

                        $("#AddMaterialProductModal #ERROR_Barcode").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddMaterialProductModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddMaterialProductModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#materialProductKendoGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddMaterialProductModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeAddMaterialProductModal() {

        $('#AddMaterialProductModal').modal('hide');
        $('#AddMaterialProductModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

    function MaterialProductHistory(element) {

        var link = "/MaterialStoreroom/MaterialProductHistoryModal?Id=";
        var Id = $(element).attr('data-id');

        $('#MaterialProductHistoryModal').modal('toggle');

        $(".loader").removeClass("hidden");
        $('#MaterialProductHistoryModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeMaterialProductHistoryModal() {

        $('#MaterialProductHistoryModal').modal('hide');
        $('#MaterialProductHistoryModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

    function GridMaterialProductDeleteFunction(element) {
        click_dblClick = false;

        $("#DeleteMaterialProductModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteMaterialProductModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeleteMaterialProductModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-deleteMaterialProduct-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }


</script>
