@using Microsoft.AspNetCore.Http
@using WPH.Models.BaseInfo
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer
<style>

    body.modal-open {
        overflow: visible;
    }

</style>

@{
    string font = "", pull = "", dir = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-right ";
        dir = " ";
        <h3 id="newServiceText" class="hidden">@Localizer["New"] @Localizer["Service"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-left ";
        dir = " direction:rtl; ";
        <h3 id="newServiceText" class="hidden">@Localizer["Service"] @Localizer["New"]</h3>
    }
}

<h3 id="InsertWrongText" class="hidden">@Localizer["ERROR_InsertWrong"]</h3>
<h3 id="NotEnoughProductCountText" class="hidden">@Localizer["NotEnoughProductCount"]</h3>

@Html.AntiForgeryToken()

<h3 class="hidden" id="Reception-Id">@ViewBag.ReceptionId</h3>

<div class="row" style="direction:ltr">

    <div class="col-sm-12 pull-left">

        <div class="col-sm-4 pull-left">

            <h4 class="MyFont-Roboto"> Reception Date: <i class="blue" id="ReceptionDate">  </i> </h4>

        </div>

        <div class="col-sm-4 pull-left">

            <h4 class="MyFont-Roboto"> Reception Num: <span class="blue" id="ReceptionNum">  </span> </h4>

        </div>

        <div class="col-sm-4 pull-right MyFont-Roboto-header">

            <div class="pull-right">

                @(Html.Kendo().Button()
                .Name("btn-and-e")
                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "OkAndExit()" })
                .Content(Localizer["Ok"]))
            </div>

            <div class="pull-right">

                @(Html.Kendo().Button()
                .Name("btn-Print")
                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "PrintPatientInformation()" })
                .Content(Localizer["Print"]))
            </div>

            @if ((bool)ViewBag.AccessEditDischarge)
            {
                <div class="pull-right">
                    @(Html.Kendo().Button()
                    .Name("btn-release")
                    .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "ClearancePatient()" })
                    .Content(Localizer["Clearance"]))
                </div>
            }

        </div>

    </div>

</div>

<div class="row @font" style="@dir">

    <div class="col-sm-12">

        <div class="col-sm-12" style="padding:1rem 0">

            <div class="col-sm-12 shadow-border">

                <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080">  @Localizer["Information"] @Localizer["Patient"]</h4>

                <div class="col-sm-12">

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label id="PatientNameLabel" for="form-field-8">@Localizer["PatientName"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="Name2" style="width:100%;margin:0" class="boldText" />

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Mobile"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="PhoneNumber" style="width:100%;margin:0" class="boldText"  onkeypress="return OnlyNumberKey(event)" />

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Gender"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="GenderId" style="width:100%;margin:0" class="boldText" />

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["IdentityNumber"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="IdentityNumber" style="width:100%;margin:0" class="boldText" />

                            </span>

                        </label>

                    </div>

                </div>

                <div class="col-sm-12">

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="col-sm-12">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["DateOfBirth"]</label>
                                <span class="block input-icon input-icon-right">

                                    <input id="DateOfBirth" class="boldText" style="width: 100%; margin: 0" />

                                </span>

                            </label>

                        </div>


                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">

                            <label for="form-field-8" style="width:100%">@Localizer["Age"]</label>

                            <span style="width:25%">
                                <label for="form-field-8">@Localizer["Year"]: </label>

                                <input id="Year" class="boldText" style="width: 25%;margin:0;padding:0" onkeypress="return OnlyNumberKey(event)" onchange="ReserveInsertAge(this)" />

                            </span>



                            <span style="width:25%">


                                <label for="form-field-8">@Localizer["Month"]: </label>

                                <input id="Month" class="boldText" style="width: 25%;margin:0;padding:0" onkeypress="return OnlyNumberKey(event)" onchange="ReserveInsertAge(this)" />

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Section"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="ClinicSectionId" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                            </span>
                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Address"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="Address" style="width:100%;margin:0" class="boldText" />

                            </span>

                        </label>

                    </div>


                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["RoomBed"]</label>

                        <span class="block input-icon input-icon-right ">

                            <input id="RoomBedName" style="width:100%;margin:0" class="boldText" />

                        </span>
                    </label>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Name"] @Localizer["Mother"]</label>
                        <span class="block input-icon input-icon-right">

                            <input id="MotherName" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                        </span>
                    </label>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Name"] @Localizer["PatientAttendant"]</label>
                        <span class="block input-icon input-icon-right ">

                            <input id="PatientAttendanceName" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                        </span>

                    </label>

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6">

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["EntranceTime"]</label>
                        <span class="block input-icon input-icon-right">

                            <input id="EntranceTime" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                        </span>
                    </label>

                </div>

                <div class="col-sm-12">

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["ExitTime"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="ExitTime" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                            </span>
                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["ClearanceType"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="ClearanceTypeId" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                            </span>
                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 ">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["DispatcherDoctor"]</label>
                            <span class="block input-icon input-icon-right">

                                <input id="DispatcherDoctor" style="width:100%;margin:0" class="boldText" />

                            </span>

                        </label>

                    </div>

                </div>



            </div>

        </div>


        <div class="col-sm-12 col-lg-12" style="padding:0.5rem">

            <div class="col-sm-12 shadow-border" style="margin:0">

                <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080">  @Localizer["SendingPatientToAnotherSection"]</h4>

                <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                    <div class="col-sm-5">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Section"]</label>
                            <span class="block input-icon input-icon-right">
                                <input id="SectionId" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-6">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Description"]</label>
                            <span class="block input-icon input-icon-right">

                                <textarea id="ReceptionClinicSectionDescription" style="width:100%;margin:0" class="boldText"></textarea>

                            </span>

                        </label>
                    </div>

                    <div class="col-sm-1">
                        @(Html.Kendo().Button()
                        .Name("btn-add-ReceptionClinicSection")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addReceptionClinicSection()" })
                        .Content(Localizer["Add"]))
                    </div>

                </div>

                <div class="col-sm-12 ">

                    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionClinicSection/dgReceptionClinicSectionGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId })

                </div>

            </div>

        </div>




        <div class="col-sm-12" style="padding:0.5rem">

            <div class="col-sm-12 shadow-border" style="margin:0">

                <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080">Vital Signs</h4>

                <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                    <div class="col-sm-1">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Time"]</label>
                            <span class="block input-icon input-icon-right">
                                <input id="TimePicker" class="boldText" style="width: 100%; margin: 0" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-2">
                        <label class="block clearfix">
                            <label for="form-field-8">Body Temperature</label>
                            <span class="block input-icon input-icon-right">
                                <input id="BodyTemperature" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-2">
                        <label class="block clearfix">
                            <label for="form-field-8">Pulse Rate</label>
                            <span class="block input-icon input-icon-right">
                                <input id="PulseRate" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-2">
                        <label class="block clearfix">
                            <label for="form-field-8">Respiration Rate</label>
                            <span class="block input-icon input-icon-right">
                                <input id="RespirationRate" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-2">
                        <label class="block clearfix">
                            <label for="form-field-8">DIA Blood Pressure</label>
                            <span class="block input-icon input-icon-right">
                                <input id="DIABloodPressure" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-2">
                        <label class="block clearfix">
                            <label for="form-field-8">SYS Blood Pressure</label>
                            <span class="block input-icon input-icon-right">
                                <input id="SYSBloodPressure" class="boldText" style="width: 100%; margin: 0;" />
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-1">
                        @(Html.Kendo().Button()
                        .Name("btn-add-temperature")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addTemperature()" })
                        .Content(Localizer["Add"]))
                    </div>

                </div>

                <div class="col-sm-12 ">

                    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionTemperature/dgReceptionTemperatureGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId })

                </div>

            </div>

        </div>


        <div class="col-sm-12" style="padding:0.5rem">

            @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ConsumeProduct/wpConsumeProduct.cshtml")

        </div>

        @*@{ 

            Guid recId = ViewBag.ReceptionId;

        }
        <div class="col-sm-12" style="padding:0.5rem">
            <div class="col-sm-12 shadow-border" style="margin:0">
                @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Reserve/mdPrescriptionModal.cshtml", recId)

            </div>
                
            </div>*@


            <div class="col-sm-12" style="padding:0.5rem">

                <div class="col-sm-12 shadow-border" style="margin:0">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080"> @Localizer["Suture"]</h4>

                    <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Date"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="StitchDate" class="boldText" title="datepicker" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-5">
                            <label class="block clearfix">

                                <label for="form-field-8">@Localizer["Type"] @Localizer["Suture"]</label>
                                <span class="block input-icon input-icon-right">
                                    @{
                                        string width = " 100% ";
                                        if ((bool)ViewBag.AccessNewService)
                                        {
                                            width = " 80% ";
                                            <a href="\\#" class="  @pull btn btn-danger" data-value="Stitch" onclick="NewService(this)" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>
                                        }

                                    }


                                    <input id="StitchName" class="boldText" style="width: @width; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Num"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="StitchValue" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-1">

                            @(Html.Kendo().Button()
                        .Name("btn-add-stitch")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addStitch()" })
                        .Content(Localizer["Add"]))

                        </div>

                    </div>

                    <div class="col-sm-12 ">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionService/dgReceptionSpeceficServiceGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId, Name = "Stitch" })

                    </div>

                </div>

            </div>


            <div class="col-sm-12" style="padding:0.5rem">

                <div class="col-sm-12 shadow-border" style="margin:0">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080"> @Localizer["Services"]</h4>

                    <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Date"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="ServiceDate" class="boldText" title="datepicker" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-5">
                            <label class="block clearfix">

                                <label for="form-field-8">@Localizer["Other"]</label>
                                <span class="block input-icon input-icon-right">
                                    @if ((bool)ViewBag.AccessNewService)
                                    {
                                        <a href="\\#" class="  @pull btn btn-danger" data-value="Other" onclick="NewService(this)" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>

                                    }

                                    <input id="ServiceName" class="boldText" style="width: @width; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Num"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="ServiceValue" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-1">

                            @(Html.Kendo().Button()
                        .Name("btn-add-service")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addService()" })
                        .Content(Localizer["Add"]))

                        </div>

                    </div>

                    <div class="col-sm-12 ">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionService/dgReceptionSpeceficServiceGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId, Name = "Other" })

                    </div>

                </div>

            </div>




            <div class="col-sm-12" style="padding:0.5rem">

                <div class="col-sm-12 shadow-border">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080">  @Localizer["Information"] @Localizer["Transfusion"]</h4>


                    <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                        <div class="col-sm-3">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Date"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="TransfusionDate" class="boldText" title="datepicker" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-5">
                            <label class="block clearfix">

                                <label for="form-field-8">@Localizer["Type"] @Localizer["Transfusion"]</label>
                                <span class="block input-icon input-icon-right">
                                    @if ((bool)ViewBag.AccessNewService)
                                    {
                                        <a href="\\#" class="  @pull btn btn-danger" data-value="Transfusion" onclick="NewService(this)" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>

                                    }

                                    <input id="TransfusionName" class="boldText" style="width: @width; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Num"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="TransfusionNum" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-1">

                            @(Html.Kendo().Button()
                        .Name("btn-add-transfusion")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addTransfusion()" })
                        .Content(Localizer["Add"]))

                        </div>

                    </div>

                    <div class="col-sm-12 ">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReceptionService/dgReceptionSpeceficServiceGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId, Name = "Transfusion" })

                    </div>

                </div>

            </div>


            <div class="col-sm-12" style="padding:0.5rem">

                <div class="col-sm-12 shadow-border">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080"> @Localizer["Progress"]</h4>


                    <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                        <div class="col-sm-5">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Date"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="PatientProgressDate" class="boldText" title="datepicker" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-5">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["PatientProgress"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="PatientProgress" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-2">

                            @(Html.Kendo().Button()
                        .Name("btn-add-PatientProgress")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addPatientProgress()" })
                        .Content(Localizer["Add"]))

                        </div>

                    </div>

                    <div class="col-sm-12 ">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/PatientVariable/dgPatientSpecificVariableGrid.cshtml", new SectionViewModel { Id = ViewBag.ReceptionId, Name = "Patient Progress" })

                    </div>

                </div>

            </div>


            <div class="col-sm-12" style="padding:0.5rem">

                <div class="col-sm-12 shadow-border">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080"> @Localizer["BabyReception"]</h4>


                    <div class="col-sm-12 " style="display:flex;align-items: flex-end;">

                        <div class="col-sm-3" style="display: flex; align-items: flex-end">
                            <div class="col-sm-10" style="padding:0;margin:0">

                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["BabyName"]</label>
                                    <span class="block input-icon input-icon-right">
                                        <input id="BabyName" class="boldText" style="width: 100%; margin: 0" />
                                    </span>
                                </label>

                            </div>
                            <div class="col-sm-2" style="margin-bottom: 0.4rem; padding: 0">

                                <a href="\\#" class="  @pull btn btn-danger" onclick="addChildInPatientHospital()" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>

                            </div>

                        </div>

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["ReceptionDoctor"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="ReceptionDoctor" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-2">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["RoomId"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="RoomId" class="boldText" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-3">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["ReceivedDate"]</label>
                                <span class="block input-icon input-icon-right">
                                    <input id="BabyReceivedDate" class="boldText" title="datepicker" style="width: 100%; margin: 0" />
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-1">

                            @(Html.Kendo().Button()
                        .Name("btn-add-BabyReception")
                        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-bottom:5px;", type = "button", @class = "k-primary", onclick = "addBabyReception()" })
                        .Content(Localizer["Add"]))

                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div id="ChildERROR_Date" class="red label-white middle hidden" style="height:40px;display:block">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["DateNotValid"]
                        </div>

                        <div id="ChildERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_DataNotValid"]
                        </div>

                        <div id="ChildERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                            <i class="ace-icon fa fa-stop bigger-120"></i>
                            @Localizer["ERROR_InsertWrong"]
                        </div>

                    </div>

                    <div class="col-sm-12 ">

                        @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Child/dgHospitalPatientChildGrid.cshtml", (Guid)(ViewBag.ReceptionId ?? Guid.Empty))

                    </div>

                </div>

            </div>

            <div class="col-sm-12" style="padding:0.5rem 0">

                <div class="col-sm-12 shadow-border">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080"> @Localizer["ClinicalCaseSummary"]</h4>


                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <label class="block clearfix">
                            <label id="PatientNameLabel" for="form-field-8">Chief Complaint And Present Illness</label>
                            <span class="block input-icon input-icon-right">
                                <textarea id="ChiefComplaint" style="width:100%;margin:0" class="boldText"></textarea>
                            </span>
                        </label>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">Past Medical And Surgical History</label>
                            <span class="block input-icon input-icon-right">

                                <textarea id="PastMedical" style="width:100%;margin:0" class="boldText"></textarea>

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">Drug History</label>
                            <span class="block input-icon input-icon-right">

                                <textarea id="DrugHistory" style="width:100%;margin:0" class="boldText"></textarea>

                            </span>

                        </label>

                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6">

                        <label class="block clearfix">
                            <label for="form-field-8">Examination</label>
                            <span class="block input-icon input-icon-right">

                                <textarea id="Examination" style="width:100%;margin:0" class="boldText"></textarea>

                            </span>

                        </label>

                    </div>

                    <div class="col-sm-12">

                        @(Html.Kendo().Button()
                    .Name("btn-add-PatientVariables")
                    .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem", type = "button", @class = "k-primary", onclick = "addPatientVariables()" })
                    .Content(Localizer["Add"]))

                    </div>

                </div>

            </div>


            <div class="col-sm-12" style="padding:0.5rem 0">

                <div class="col-sm-12 shadow-border">

                    <h4 class="MyFont-Roboto" style="border-bottom: dotted 1px #808080">  @Localizer["Information"] @Localizer["Surgurical"]</h4>


                    <div class="col-sm-12" style="padding:0;margin:0">

                        <div class="col-lg-3 col-md-4 col-sm-6" style="margin:0">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Doctor"]</label>
                                <span class="block input-icon input-icon-right">

                                    <input id="SurgererName" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                                </span>
                            </label>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6" style="margin: 0; padding: 0">

                            <div class="col-sm-12" style="margin: 0">

                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Operation"]</label>
                                    <span class="block input-icon input-icon-right" style="margin: 0">

                                        <input id="OperationName" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                                    </span>
                                </label>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6" style="margin:0;padding:0">
                            <div class="col-sm-12" style="margin: 0">

                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["AnesthesiologistionType"]</label>
                                    <span class="block input-icon input-icon-right" style="margin: 0">

                                        <input id="AnesthesiaType" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                                    </span>
                                </label>

                            </div>

                        </div>



                        <div class="col-lg-3 col-md-4 col-sm-6" style="margin: 0; padding: 0">

                            <div class="col-sm-12" style="margin: 0">

                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Anesthesiologist"]</label>
                                    <span class="block input-icon input-icon-right" style="margin: 0">

                                        <input id="Anesthetist" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                                    </span>
                                </label>

                            </div>

                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6" style="margin: 0; padding: 0">

                            <div class="col-sm-12" style="margin: 0">

                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["Classification"]</label>
                                    <span class="block input-icon input-icon-right" style="margin: 0">

                                        <input id="Classification" style="width:100%;margin:0" class="MyFont-Roboto-grid boldText" />

                                    </span>
                                </label>

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-12" style="margin: 0; padding: 0">

                        <div class="col-sm-12" style="margin: 0">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["AnesthesiologistionMedicine"]</label>
                                <span class="block input-icon input-icon-right" style="margin: 0">

                                    <textarea id="AnesthesiaMedication" style="width:100%;margin:0" class="boldText"></textarea>

                                </span>

                            </label>

                        </div>

                    </div>

                    <div class="col-sm-12" style="margin: 0; padding: 0">

                        <div class="col-sm-12" style="margin: 0">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Detail"] @Localizer["Surgery"]</label>
                                <span class="block input-icon input-icon-right" style="margin: 0">

                                    <textarea id="SurgeryDetails" style="width:100%;margin:0" class="boldText"></textarea>

                                </span>

                            </label>

                        </div>

                    </div>

                    <div class="col-sm-12" style="margin: 0">

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["PostOperativeTreatment"]</label>
                            <span class="block input-icon input-icon-right">

                                <textarea id="PostOperativeTreatment" style="width:100%;margin:0" class="boldText"></textarea>

                            </span>

                        </label>

                    </div>

                </div>

            </div>

        </div>

</div>


<div class="row" style="direction:ltr">
    <div class="col-sm-12 pull-left">
        <div class="col-sm-4 pull-right MyFont-Roboto-header">
            <div class="pull-right">
                @(Html.Kendo().Button()
                .Name("btn-and-e2")
                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "OkAndExit()" })
                .Content(Localizer["Ok"]))
            </div>

            <div class="pull-right">
                @(Html.Kendo().Button()
                .Name("btn-Print2")
                .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "PrintPatientInformation()" })
                .Content(Localizer["Print"]))
            </div>


            @if ((bool)ViewBag.AccessEditDischarge)
            {
                <div class="pull-right">
                    @(Html.Kendo().Button()
                    .Name("btn-release2")
                    .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem;margin-left:1rem", type = "button", @class = "k-primary", onclick = "ClearancePatient()" })
                    .Content(Localizer["Clearance"]))
                </div>
            }

        </div>
    </div>
</div>

<div id="DeleteModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteRoomBedModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>
                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deleteaccept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deleteclose")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="ClearancePatientModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["ClearancePatient"]
                </h3>
            </div>

            <div id="ClearancePatientModal-body" class="modal-body">
                @Localizer["WantClearancePatient"]

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-clearancePatientAccept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-clearancePatientclose")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="ConfirmClearancePatientModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["Warning"]
                </h3>
            </div>

            <div id="ConfirmClearancePatientModal-body" class="modal-body">
                @Localizer["ClearancePatientDosntPay"]

            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-confirmClearancePatientAccept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-confirmClearancePatientclose")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="NewChildModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm" style="width:50%">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["Child"]
                </h3>
            </div>

            <div id="NewChildModal-body" class="modal-body">


            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-NewChildModal")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-NewChildModalclose")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="CreateNewServiceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeCreateNewServiceModal()" aria-hidden="true">&times;</button>
                <h3 id="CreateNewServiceModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="CreateNewServiceModal-body" class="modal-body">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                .Name("btn-CreateNewServiceModal-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-CreateNewServiceModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeCreateNewServiceModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div>
    </div>
</div>




<div id="DeleteChildModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteChildModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>
                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deleteChildAccept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deleteChildClose")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<script src="~/Content/Js/AllPatientInformation.js"></script>

<script>
    var txt;
    function NewService(element) {

        txt = $(element).attr('data-value');

        if (txt != 'Transfusion' && txt != 'Other' && txt != 'Stitch')
            return;

        $("#CreateNewServiceModal #ERROR_Data").addClass("hidden");
        $("#CreateNewServiceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = `/Service/SingleNewModal?typeName=${txt}`;
        $(".loader").removeClass("hidden");

        let header = $("#newServiceText").text();
        $('#CreateNewServiceModal-header').text(header);

        $('#CreateNewServiceModal').modal('toggle');
        $('#CreateNewServiceModal-body').load(link + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    $('#btn-CreateNewServiceModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#CreateNewServiceModal #ERROR_Data").addClass("hidden");
        $("#CreateNewServiceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#CreateNewServiceModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#CreateNewServiceModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-CreateNewServiceModal-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Service/AddOrUpdate";
        var data = $("#addNewServiceForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-CreateNewServiceModal-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {
                        $('#CreateNewServiceModal #Name-Exist').removeClass('hidden');
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "DataNotValid") {

                        $("#CreateNewServiceModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#CreateNewServiceModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#CreateNewServiceModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                        if (txt == 'Transfusion') {
                            $("#TransfusionName").data("kendoDropDownList").dataSource.read();
                            let pr = $("#TransfusionName").data("kendoDropDownList");
                            pr.bind("dataBound", function () {
                                pr.value(response);
                            });
                            txt = '';
                        } else if (txt == 'Other') {
                            $("#ServiceName").data("kendoDropDownList").dataSource.read();
                            let pr = $("#ServiceName").data("kendoDropDownList");
                            pr.bind("dataBound", function () {
                                pr.value(response);
                            });
                            txt = '';
                        } else if (txt == 'Stitch') {
                            $("#StitchName").data("kendoDropDownList").dataSource.read();
                            let pr = $("#StitchName").data("kendoDropDownList");
                            pr.bind("dataBound", function () {
                                pr.value(response);
                            });
                            txt = '';
                        }
                    }
                } else {

                    $("#CreateNewServiceModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeCreateNewServiceModal() {

        $('#CreateNewServiceModal').modal('hide');
        $('#CreateNewServiceModal-body').empty();
        $(".modal-backdrop:last").remove();
    }

</script>