@model WPH.Models.Receive.ReceiveViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


<script>
    function ChangeBaseCurrency(e) {
        var dataItem = this.dataItem(e.item);

        var currencyId = $("#CurrencyId").data("kendoDropDownList");
        currencyId.value(dataItem.Id);

        $("#BaseAmount").data("kendoNumericTextBox").value(1);
        $("#DestAmount").data("kendoNumericTextBox").value(1);
        $("#lblBaseAmount").text(" ");
        $("#lblDestAmount").text(" ");
        $("#convert_container").addClass("hidden");
    }

</script>

@{ 
    var receive_amount = Model.ReceiveAmounts.FirstOrDefault();
}

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewReceiveForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Guid)
                    @Html.HiddenFor(m => m.CustomerId)
                    @Html.HiddenFor(m => m.ReceiveType)

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["InvoiceNum"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                        .Name("InvoiceNum")
                                        .Enable(false)
                                        .Value(Model.InvoiceNum)
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">

                        </div>
                    </div>

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Customer"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                        .Name("Customer")
                                        .Enable(false)
                                        .Value(Model.CustomerName)
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["BaseCurrency"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                    .Name("BaseCurrencyId")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    .Events(e=>e.Change("ChangeBaseCurrency"))
                                    //.DataSource(source =>
                                    //{
                                    //    source.Read(read =>
                                    //    {
                                    //        read.Action("GetAllCurrencies", "BaseInfo");
                                    //    })
                                    //    .ServerFiltering(false);
                                    //})
                                    //.Value(Model.BaseCurrencyId?.ToString())
                                    .HtmlAttributes(new { style = "width: 100%;" })
                                        )
                                </span>

                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Date"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DatePicker()
                                    .Name("ReceiveDateTxt")
                                    .Format("dd/MM/yyyy")
                                    .Value(Model.ReceiveDate ?? DateTime.Now)
                                    .Enable((bool)(ViewBag.AccessEditDate ?? false))
                                    .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "ReceiveDateTxt-box" })
                                    )
                                </span>
                                <span id="ReceiveDateTxt-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="Date-valid" class="emptybox hidden" style="color:red;">
                                    @Localizer["DateNotValid"]
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Amount"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("Amount")
                                        .Format("#,#.##")
                                        .Min(0)
                                        .Value(receive_amount?.Amount ?? 0)
                                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Amount-box" })
                                        )
                                </span>
                                <span id="Amount-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Currency"] : </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                    .Name("CurrencyId")
                                    .DataTextField("Name")
                                    .DataValueField("Id")
                                    //.DataSource(source =>
                                    //{
                                    //    source.Read(read =>
                                    //    {
                                    //        read.Action("GetAllCurrencies", "BaseInfo");
                                    //    })
                                    //    .ServerFiltering(false);
                                    //})
                                    //.Value(Model.BaseCurrencyId?.ToString())
                                    .HtmlAttributes(new { style = "width: 100%;", onchange = "changeCurrency()" })
                                        )
                                </span>
                            </label>
                        </div>

                        <div id="convert_container" class="col-sm-6 hidden">
                            <div class="col-sm-6">
                                <label class="block clearfix ">
                                    <label id="lblBaseAmount" for="form-field-8"></label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("BaseAmount")
                                        .Format("#,#.##")
                                        .Decimals(0)
                                        .Min(1)
                                        .Value(receive_amount?.BaseAmount ?? 1)
                                        .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="block clearfix ">
                                    <label id="lblDestAmount" for="form-field-8"></label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().NumericTextBox<decimal>()
                                        .Name("DestAmount")
                                        .Format("#,#.##")
                                        .Decimals(0)
                                        .Min(1)
                                        .Value(receive_amount?.DestAmount ?? 1)
                                        .HtmlAttributes(new { style = "width: 100%"})
                                        )
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12" style="padding:0px;">
                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">% @Localizer["Discount"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("DetailDiscount")
                                    .Culture("en-US")
                                    .Format("#.##")
                                    .Min(0)
                                    .Max(100)
                                    .SelectOnFocus(true)
                                    .Value(0)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8"># @Localizer["Discount"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("Discount")
                                    .Culture("en-US")
                                    .Format("#.##")
                                    .Min(0)
                                    .SelectOnFocus(true)
                                    .Value(receive_amount?.Discount ?? 0)
                                    .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Description"] : </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextArea()
                                .Name("Description")
                                .Rows(3)
                                .Value(Model.Description)
                                .HtmlAttributes(new { style = "font-size:1.5rem;width:100%" })
                                )
                            </span>
                        </label>
                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>
    SetDiscount();
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            url: "/BaseInfo/GetAllCurrencies",
            success: function (response) {

                var baseCurrencyId = $("#BaseCurrencyId").data("kendoDropDownList");
                baseCurrencyId.dataSource.data(response);
                baseCurrencyId.value(@receive_amount?.BaseCurrencyId);

                var currencyId = $("#CurrencyId").data("kendoDropDownList");
                currencyId.dataSource.data(response);
                currencyId.value(@receive_amount?.CurrencyId);

            }
        });

        setTimeout(function () {
            $("#BaseCurrencyId").data("kendoDropDownList").focus();
        },500);
    });

    $('#BaseCurrencyId').parent().keypress(function (e) {
        if (e.which === 13 || e.which === 9) {
            $('#ReceiveDateTxt').focus();
        }
    });


    $('#ReceiveDateTxt').on('keypress', function (e) {

        if (e.which === 13) {
            $('#Amount').data("kendoNumericTextBox").focus();
        }
    });

    $("#Amount").on("focus", function (e) {
        $('#Amount').select();
    });

    $("#Amount").on("keypress", function (e) {
        if (e.which === 13) {
            $("#CurrencyId").data("kendoDropDownList").focus();
        }
    });

    $('#CurrencyId').parent().keypress(function (e) {
        if (e.which === 13 || e.which === 9) {
            let currency = $("#CurrencyId").val();
            let base = $("#BaseCurrencyId").val();

            if (currency !== base) {
                $('#BaseAmount').data("kendoNumericTextBox").focus();

            } else {

                $('#DetailDiscount').data("kendoNumericTextBox").focus();
            }
        }
    });

    $("#BaseAmount").on("keypress", function (e) {
        if (e.which === 13) {
            $("#DestAmount").data("kendoNumericTextBox").focus();
        }
    });

    $("#DestAmount").on("keypress", function (e) {
        if (e.which === 13) {

            $('#DetailDiscount').data("kendoNumericTextBox").focus();
        }
    });

    $("#DetailDiscount").on("focus", function (e) {
        $('#DetailDiscount').select();
    });

    $("#DetailDiscount").focusout(function () {

        let wholepur = $('#Amount').data("kendoNumericTextBox").value();
        if (wholepur > 0) {
            let dis = $('#DetailDiscount').data("kendoNumericTextBox").value();
            let amount = (dis * wholepur) / 100;
            $('#Discount').data("kendoNumericTextBox").value(amount);
        }

    });

    $("#DetailDiscount").on("keypress", function (e) {
        if (e.which === 13) {

            $('#Discount').data("kendoNumericTextBox").focus();
        }
    });


    $("#Discount").on("keypress", function (e) {
        if (e.which === 13) {

            $('#Description').focus();
        }
    });

    $("#Discount").on("focus", function (e) {
        $('#Discount').select();
    });

    $("#Discount").focusout(function () {
        SetDiscount();
    });

    function SetDiscount() {
        let wholepur = $('#Amount').data("kendoNumericTextBox").value();
        if (wholepur > 0) {
            let dis = $('#Discount').data("kendoNumericTextBox").value();
            let amount = (100 * dis) / wholepur;
            $('#DetailDiscount').data("kendoNumericTextBox").value(amount);
        }
    }

    function changeCurrency() {
        let currency = $("#CurrencyId").val();
        let base = $("#BaseCurrencyId").val();

        if (currency !== base) {
            $("#convert_container").removeClass('hidden');


            $(".loader").removeClass("hidden");
            $.ajax({
                type: "Get",
                url: "/MoneyConvert/GetMoneyConvertBaseCurrencies",
                data: {
                    baseCurrencyId: base,
                    destCurrencyId: currency
                },
                success: function (response) {

                    if (response == null || response === 0) {

                        $("#BaseAmount").data("kendoNumericTextBox").value(1);
                        $("#DestAmount").data("kendoNumericTextBox").value(1);

                    } else {
                        let base_currency = response.BaseCurrencyId;
                        let dest_currency = response.DestCurrencyId;

                        if (base_currency == base) {

                            $("#BaseAmount").data("kendoNumericTextBox").value(response.BaseAmount);
                            $("#DestAmount").data("kendoNumericTextBox").value(response.DestAmount);

                        } else {

                            $("#DestAmount").data("kendoNumericTextBox").value(response.BaseAmount);
                            $("#BaseAmount").data("kendoNumericTextBox").value(response.DestAmount);

                        }

                    }

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            });


            $("#lblBaseAmount").text($("#BaseCurrencyId").data("kendoDropDownList").text());
            $("#lblDestAmount").text($("#CurrencyId").data("kendoDropDownList").text());

        } else {

            $("#BaseAmount").data("kendoNumericTextBox").value(1);
            $("#DestAmount").data("kendoNumericTextBox").value(1);
            $("#lblBaseAmount").text(" ");
            $("#lblDestAmount").text(" ");
            $("#convert_container").addClass("hidden");
        }
    }

</script>
