@model WPH.Models.PurchaseInvoice.PurchaseInvoiceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    var now = DateTime.Now;
    string font = "", pull = "", pull_rev = "", dir = "", header_txt = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        pull_rev = " pull-right ";
        dir = "  ";
        <h3 id="NewPurchaseInvoiceHeader" class="hidden"> @Localizer["New"] - @Localizer["PurchaseInvoice"] </h3>
        <h3 id="EditPurchaseInvoiceHeader" class="hidden"> @Localizer["Edit"] - @Localizer["PurchaseInvoice"] </h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        pull_rev = " pull-left ";
        dir = " direction:rtl; ";
        <h3 id="NewPurchaseInvoiceHeader" class="hidden"> @Localizer["PurchaseInvoice"] - @Localizer["New"] </h3>
        <h3 id="EditPurchaseInvoiceHeader" class="hidden"> @Localizer["PurchaseInvoice"] - @Localizer["Edit"] </h3>
    }

    if (Model.Guid == Guid.Empty)
    {
        header_txt = $"{Localizer["PurchaseInvoice"]} _ {Localizer["New"]}";

    }
    else
    {
        header_txt = $"{Localizer["PurchaseInvoice"]} _ {Localizer["Edit"]}";

    }

    bool can_change = !(bool)(ViewBag.PurchasePaid ?? false);
}


<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @header_txt
        </h1>

    </div>

    @*<div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="ExitPurchase(this)" href="#" style="padding:0.2rem">
                @Localizer["Exit"]

            </a>
        </div>*@

</div><!-- /.page-header -->


<div class="row @font" style="@dir">
    <div class="col-xs-12 shadow-border" style="margin:1rem 0">

        <form id="addNewPurchaseInvoiceForm">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Guid)

                <div class="col-xs-12">

                    <div class="col-xs-12 col-sm-6 col-md-3" style="display:flex;align-items:flex-end">
                        <div class="col-xs-10" style="padding:0;margin:0">
                            <label class="block clearfix ">
                                <label for="form-field-8">@Localizer["Supplier"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                    .Name("SupplierId")
                                    .DataTextField("Name")
                                    .DataValueField("Guid")
                                    .Filter("contains")
                                    .Enable(can_change && Model.CanChange)
                                    .OptionLabel(" ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetAllSuppliers", "Supplier");
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .Value(Model.SupplierId?.ToString())
                                    .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "Supplier1-box" })
                                    )
                                </span>
                                <span id="Supplier1-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>

                        </div>

                        <div class="col-xs-2 " style="padding:0;margin-bottom:0.5rem">
                            <a href="\\#" class="btn btn-danger @pull_rev" onclick="NewSupplier()" style=" padding:0 0.2rem;"><span class="fa fa-plus" style="margin:0.1rem"></span></a>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4" style="padding:0">

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["InvoiceNum"]:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("InvoiceNumTxt")
                                    .Enable(false)
                                    .Value(Model.InvoiceNum)
                                    .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["InvoiceDate"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DatePicker()
                                    .Name("InvoiceDateTxt")
                                    .Value(Model.InvoiceDate ?? now)
                                    .Format("dd/MM/yyyy")
                                    .Max(now)
                                    .Enable((bool)ViewBag.AccessEditDate && can_change)
                                    .HtmlAttributes(new { style = "width: 100%;", onchange = "TryDateWithOutFuture(this)", @data_checkEmpty = "InvoiceDate-box" })
                                    )
                                </span>
                                <span id="InvoiceDate-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="Date-valid" class="emptybox hidden" style="color:red;">
                                    @Localizer["DateNotValid"]
                                </span>
                            </label>
                        </div>


                    </div>

                    <div class="col-sm-6 col-md-2">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["MainInvoiceNum"]:</label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                .Name("MainInvoiceNum")
                                .Enable(can_change)
                                .Value(Model.MainInvoiceNum)
                                .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "MainInvoiceNum-box" })
                                )
                            </span>
                            <span id="MainInvoiceNum-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                            </span>
                            <span id="RepeatedMainInvoiceNum" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                @Localizer["RepeatedValue"]
                            </span>
                        </label>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Description"]:</label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                .Name("Description")
                                .Enable(can_change)
                                .Value(Model.Description)
                                .HtmlAttributes(new { style = "width: 100%;" })
                                )
                            </span>
                        </label>
                    </div>

                </div>

                <div class="col-xs-12" style="display:flex;align-items:flex-end">

                    @*<div class="col-sm-3">

                        </div>

                        <div class="col-sm-3">

                        </div>*@

                    <div class="col-xs-12">

                        @(Html.Kendo().Button()
                            .Name("btn-addPurchasePurchaseInvoiceDetail-exit")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-danger " + pull_rev + "", onclick = "ExitPurchase(this)" })
                            .Content((bool)(ViewBag.BackToAccount ?? false) ? Localizer["PurchaseInvoiceList"] : Localizer["Exit"]))
                        @(Html.Kendo().Button()
                            .Name("btn-addPurchasePurchaseInvoiceDetail-accept")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary " + pull_rev + "" })
                            .Content(Localizer["Ok"]))
                        @(Html.Kendo().Button()
                            .Name("btn-updatePurchaseInvoice-accept")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "" })
                            .Content(Localizer["Ok"]))

                        @if (!(bool)(ViewBag.BackToAccount ?? false))
                        {
                            @(Html.Kendo().Button()
                            .Name("btn-updatePurchaseInvoice-exit-accept")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "" })
                            .Content($"{Localizer["Ok"]} {Localizer["And"]} {Localizer["Exit"]}"))
                        }

                        @if ((bool)ViewBag.AccessNewPurchaseInvoiceDetail)
                        {
                            @(Html.Kendo().Button()
                            .Name("btn-PurchaseInvoiceDetailNewModal")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "", onclick = "AddPurchaseInvoiceDetail()" })
                            .Content(Localizer["AddProduct"]))
                        }

                        @(Html.Kendo().Button()
                            .Name("btn-ShowDiscountsList")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-secondary hidden " + pull_rev+"" })
                            .Content(Localizer["Discount"]))
                        @(Html.Kendo().Button()
                            .Name("btn-ShowCostsList")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-warning hidden " + pull_rev+"" })
                            .Content(Localizer["Cost"]))

                        <div id="btn_PrintPurchase" class="btn k-button @pull_rev hidden" style=" font-size: 15px; height: 35px; margin: 2px;">
                            <a class="white" onClick="PrintPurchase()" style="">
                                <span>
                                    <i class="ace-icon fa fa-print align-top bigger-125"></i>
                                </span>
                            </a>
                        </div>

                        @if ((bool)(ViewBag.BackToAccount ?? false))
                        {
                            <div class="btn k-button @pull_rev" style=" font-size: 15px; height: 35px; margin: 2px;">
                                <a class="" onClick="BackToPay()" style="">
                                    <span>
                                        <i class="ace-icon fa fa-arrow-left align-top bigger-125"></i>
                                    </span>
                                </a>
                            </div>
                        }


                    </div>

                </div>

                <div>
                    <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["ERROR_DataNotValid"]
                    </div>

                    <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["InvoiceInUse"]
                    </div>

                    <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["ERROR_InsertWrong"]
                    </div>
                </div>

                <div class="space-24"></div>
            </fieldset>
        </form>
    </div>


    <div class="@pull col-sm-12 shadow-border">

        <script>

            function GetPurchaseInvoiceId() {
                return {
                    purchaseInvoiceId: $("#Guid").val()
                }
            }

        </script>


        <div class="col-sm-12 Grid-Content @font">
            @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/PurchaseInvoiceDetail/dgPurchaseInvoiceDetailGrid.cshtml", Model.Guid)
        </div>
    </div>

</div><!-- /.signup-box -->


<style>


    @@media (max-width:767px) {
        .modal-dialog {
            width: 70vw;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5)
        }

        .modal-sm {
            width: 300px
        }

        #AddPurchaseInvoiceDetailModal-body {
            width: 90vw;
        }
    }

    @@media (min-width:768px) {
        #AddPurchaseInvoiceDetailModal-body {
            width: 90vw;
        }
    }
</style>

@if (ViewBag.PurchaseType != "Material")
{

    <div id="AddSalePriceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir ">
        <div class="modal-dialog" style="width:80%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeAddSalePriceModal()" aria-hidden="true">&times;</button>
                    <div style="display: flex;">
                        <h3 id="AddSalePriceModal-header" class="smaller lighter blue no-margin @font">
                            @Localizer["SalePrice"] _ &nbsp;
                        </h3>
                        <h3 id="AddSalePriceModal-productName" class="smaller lighter blue no-margin @font">
                        </h3>
                    </div>
                </div>

                <div id="AddSalePriceModal-body" class="modal-body" style="">
                </div>

                <div id="AmountOverFlow" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["DiscountIsGreaterThanTheAmount"]
                </div>

                <div id="ERROR_MoneyConvert" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ThereIsNoMoneyConvert"]
                </div>

                <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_DataNotValid"]
                </div>

                <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["InvoiceInUse"]
                </div>

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_InsertWrong"]
                </div>

                <div class="modal-footer">

                    @(Html.Kendo().Button()
                .Name("btn-AddSalePriceModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddSalePriceModal()" })
                .Content(Localizer["Exit"]))
                </div>
            </div> @*.modal-content*@
        </div> @*.modal-dialog*@
    </div>

}

<div id="AddPurchaseInvoiceDetailModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddPurchaseInvoiceDetailModal()" aria-hidden="true">&times;</button>
                <h3 id="AddPurchaseInvoiceDetailModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["Edit"] @Localizer["PurchaseInvoice"]
                </h3>
            </div>

            <div id="AddPurchaseInvoiceDetailModal-body" class="modal-body" style="width: 80vw">
            </div>

            <div id="AmountOverFlow" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["DiscountIsGreaterThanTheAmount"]
            </div>

            <div id="ERROR_MoneyConvert" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ThereIsNoMoneyConvert"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div id="ConflictCurrency" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ConflictWithSellPriceCurrency"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-AddPurchaseInvoiceDetailModal-okAndNew")
                .Enable(can_change)
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["OkAndNew"]))
                @(Html.Kendo().Button()
                .Name("btn-AddPurchaseInvoiceDetailModal-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-warning pull-right k-button" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-AddPurchaseInvoiceDetailModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddPurchaseInvoiceDetailModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="DeletePurchaseInvoiceDetailModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeletePurchaseInvoiceDetailModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
            </div>

            <div id="AmountOverFlow" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["DiscountIsGreaterThanTheAmount"]
            </div>

            <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_SomeThingWentWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deletePurchaseInvoiceDetail-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deletePurchaseInvoiceDetail-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="AddNewSupplierModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data_dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="AddNewSupplierModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["New"] - @Localizer["Supplier"]
                </h3>
            </div>

            <div id="AddNewSupplierModal-body" class="modal-body" style="width:80rem">
            </div>
            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-AddNewSupplier-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-AddNewSupplier-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<div id="ShowDiscountsListModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeShowDiscountsListModal()" aria-hidden="true">&times;</button>
                <h3 id="ShowDiscountsListModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="ShowDiscountsListModal-body" class="modal-body" style="">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">


                @(Html.Kendo().Button()
                .Name("btn-ShowDiscountsList-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeShowDiscountsListModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<div id="ShowCostsListModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeShowCostsListModal()" aria-hidden="true">&times;</button>
                <h3 id="ShowCostsListModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="ShowCostsListModal-body" class="modal-body" style="">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @*@(Html.Kendo().Button()
                    .Name("btn-ShowCostsList-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right"})
                    .Content(Localizer["Ok"]))*@
                @(Html.Kendo().Button()
                .Name("btn-ShowCostsList-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeShowCostsListModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<script>

    var product_list = [];
    var updated = false;
    var ok_exit = false;

    let purchaseType = '@ViewBag.PurchaseType';

    $(document).ready(function () {
        SetTotalPrice('@Model.TotalPrice');
        let invoice = $('#MainInvoiceNum').val();

        if (invoice !== null && invoice !== "" && invoice !== undefined) {
            $('#btn-updatePurchaseInvoice-accept').removeClass('hidden');
            $('#btn-updatePurchaseInvoice-exit-accept').removeClass('hidden');
            $('#btn-PurchaseInvoiceDetailNewModal').removeClass('hidden');
            $('#btn-ShowDiscountsList').removeClass('hidden');
            $('#btn_PrintPurchase').removeClass('hidden');
            $('#btn-ShowCostsList').removeClass('hidden');
            $('#btn-addPurchasePurchaseInvoiceDetail-accept').addClass('hidden');
        }

        //setTimeout(function () {
        //    $("#SupplierId").focus();
        //    $('#SupplierId').data("kendoDropDownList").open();
        //}, 200);

    });

    $("#SupplierId").parent().on("keypress", function (e) {
        if (e.which === 13) {
            $('#InvoiceDateTxt').focus();
        }
    });

    $('#InvoiceDateTxt').on('keypress', function (e) {

        if (e.which === 13) {
            $("#MainInvoiceNum").focus();
        }
    });

    $('#MainInvoiceNum').on('keypress', function (e) {

        if (e.which === 13) {
            $('#Description').focus();
        }
    });

    $("#Description").on("keypress", function (e) {
        if (e.which === 13) {
            if ($('#btn-addPurchasePurchaseInvoiceDetail-accept').hasClass('hidden')) {
                $('#btn-updatePurchaseInvoice-accept').focus();
            }
            else {
                $('#btn-addPurchasePurchaseInvoiceDetail-accept').focus();
            }
        }
    });


    $("#btn-ShowDiscountsList").on("click", function () {

        $("#ShowDiscountsListModal #ERROR_Data").addClass("hidden");
        $("#ShowDiscountsListModal #InvoiceInUse").addClass("hidden");
        $("#ShowDiscountsListModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#ShowDiscountsListModal').modal('toggle');

        var link = "/PurchaseInvoiceDiscount/Form?purchaseInvoiceId=";
        var Id = $("#Guid").val();
        $(".loader").removeClass("hidden");
        $('#ShowDiscountsListModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    });

    function closeShowDiscountsListModal() {

        $('#ShowDiscountsListModal').modal('hide');
        $('#ShowDiscountsListModal-body').empty();
        $(".modal-backdrop:last").remove();
    }

    $("#btn-ShowCostsList").on("click", function () {

        $("#ShowCostsListModal #ERROR_Data").addClass("hidden");
        $("#ShowCostsListModal #InvoiceInUse").addClass("hidden");
        $("#ShowCostsListModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#ShowCostsListModal').modal('toggle');

        var link = "/Cost/PurchasInvoiceCostForm?purchaseInvoiceId=";
        var Id = $("#Guid").val();
        $(".loader").removeClass("hidden");
        $('#ShowCostsListModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    });

    function closeShowCostsListModal() {

        $('#ShowCostsListModal').modal('hide');
        $('#ShowCostsListModal-body').empty();
        $(".modal-backdrop:last").remove();
    }

    $("#btn-updatePurchaseInvoice-exit-accept").on("click", function () {
        ok_exit = true;
        $('#btn-updatePurchaseInvoice-accept').trigger('click');
    });


    function AddPurchaseInvoiceDetail() {
        $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").addClass("hidden");

        let header = $("#NewPurchaseInvoiceHeader").text();
        $('#AddPurchaseInvoiceDetailModal-header').text(header);
        $('#AddPurchaseInvoiceDetailModal').modal('toggle');

        $('#AddPurchaseInvoiceDetailModal-body').empty();

        var link = "/PurchaseInvoiceDetail/AddModal";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoiceDetail/AddMaterialModal";
        }


        $(".loader").removeClass("hidden");
        $('#AddPurchaseInvoiceDetailModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function EditPurchaseInvoiceDetail(element) {
        $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").addClass("hidden");

        let header = $("#EditPurchaseInvoiceHeader").text();
        $('#AddPurchaseInvoiceDetailModal-header').text(header);
        $('#AddPurchaseInvoiceDetailModal').modal('toggle');

        $('#AddPurchaseInvoiceDetailModal-body').empty();

        var link = "/PurchaseInvoiceDetail/EditModal?Id=";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoiceDetail/EditMaterialModal?Id=";
        }

        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddPurchaseInvoiceDetailModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeAddPurchaseInvoiceDetailModal() {
        $('#AddPurchaseInvoiceDetailModal').modal('hide');
        $('#AddPurchaseInvoiceDetailModal-body').empty();
        $(".modal-backdrop:last").remove();
    }

    $('#btn-AddPurchaseInvoiceDetailModal-okAndNew').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").addClass("hidden");

        $('#AddPurchaseInvoiceDetailModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#AddPurchaseInvoiceDetailModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddPurchaseInvoiceDetailModal-okAndNew').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        let purchaseInvoiceDetail ;

        $(".loader").removeClass("hidden");

        var link = "/PurchaseInvoiceDetail/AddOrUpdate";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoiceDetail/AddOrUpdateMaterial";

            purchaseInvoiceDetail = {
                Guid: $("#DetailGuid").val(),
                MasterId: $("#Guid").val(),
                ProductId: $("#ProductId").val(),
                NumTxt: $("#Num").val(),
                PurchasePriceTxt: $("#PurchasePrice").val(),
                WholePurchasePriceTxt: $("#WholePurchasePrice").val(),
                Consideration: $("#Consideration").val(),
                DiscountTxt: $("#DiscountSharp").val(),
                CurrencyId: $("#CurrencyId").val(),
            };

        } else {

            purchaseInvoiceDetail = {
                Guid: $("#DetailGuid").val(),
                MasterId: $("#Guid").val(),
                ProductId: $("#ProductId").val(),
                ExpireDateTxt: $("#ExpireDateTxt").val(),
                BujNumber: $("#BujNumber").val(),
                NumTxt: $("#Num").val(),
                PurchasePriceTxt: $("#PurchasePrice").val(),
                WholePurchasePriceTxt: $("#WholePurchasePrice").val(),
                SellingPriceTxt: $("#SellingPrice").val(),
                WholeSellPriceTxt: $("#WholeSellPrice").val(),
                MiddleSellPriceTxt: $("#MiddleSellPrice").val(),
                Consideration: $("#Consideration").val(),
                FreeNumTxt: $("#FreeNum").val(),
                DiscountTxt: $("#DiscountSharp").val(),
                CurrencyId: $("#CurrencyId").val(),
            };
        }

        $.ajax({
            type: "Post",
            url: link,
            data: purchaseInvoiceDetail,
            success: function (response) {
                $('#btn-AddPurchaseInvoiceDetailModal-okAndNew').removeAttr("disabled");

                if (response === "DateNotValid") {

                    $("#AddPurchaseInvoiceDetailModal #Date-valid").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if(response === "DiscountIsGreaterThanTheAmount") {

                    $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ConflictCurrency") {

                    $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                }  else if (response === "DataNotValid") {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ThereIsNoMoneyConvert") {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if(response.includes("YouHaveJust")) {

                    bootbox.alert({
                        message: `${response}`,
                        className: 'bootbox-class'
                    });
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === 0) {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#purchaseInvoiceDetailKendoGrid .k-pager-refresh")[0].click();

                    $('#AddPurchaseInvoiceDetailModal').modal('hide');
                    $('#AddPurchaseInvoiceDetailModal-body').empty();
                    $(".modal-backdrop:last").remove();

                    setTimeout(function () {
                        $('#btn-PurchaseInvoiceDetailNewModal').trigger('click');
                    }, 500);

                    SetTotalPrice(response);
                }
            }
        });

    });


    $('#btn-AddPurchaseInvoiceDetailModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").addClass("hidden");

        $('#AddPurchaseInvoiceDetailModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#AddPurchaseInvoiceDetailModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddPurchaseInvoiceDetailModal-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }


        let purchaseInvoiceDetail;

        var link = "/PurchaseInvoiceDetail/AddOrUpdate";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoiceDetail/AddOrUpdateMaterial";

            purchaseInvoiceDetail = {
                Guid: $("#DetailGuid").val(),
                MasterId: $("#Guid").val(),
                ProductId: $("#ProductId").val(),
                NumTxt: $("#Num").val(),
                PurchasePriceTxt: $("#PurchasePrice").val(),
                WholePurchasePriceTxt: $("#WholePurchasePrice").val(),
                Consideration: $("#Consideration").val(),
                DiscountTxt: $("#DiscountSharp").val(),
                CurrencyId: $("#CurrencyId").val(),
            }
        } else {
            purchaseInvoiceDetail = {
                Guid: $("#DetailGuid").val(),
                MasterId: $("#Guid").val(),
                ProductId: $("#ProductId").val(),
                ExpireDateTxt: $("#ExpireDateTxt").val(),
                BujNumber: $("#BujNumber").val(),
                NumTxt: $("#Num").val(),
                PurchasePriceTxt: $("#PurchasePrice").val(),
                WholePurchasePriceTxt: $("#WholePurchasePrice").val(),
                SellingPriceTxt: $("#SellingPrice").val(),
                WholeSellPriceTxt: $("#WholeSellPrice").val(),
                MiddleSellPriceTxt: $("#MiddleSellPrice").val(),
                Consideration: $("#Consideration").val(),
                FreeNumTxt: $("#FreeNum").val(),
                DiscountTxt: $("#DiscountSharp").val(),
                CurrencyId: $("#CurrencyId").val(),
            }
        }

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: purchaseInvoiceDetail,
            success: function (response) {
                $('#btn-AddPurchaseInvoiceDetailModal-accept').removeAttr("disabled");

                if (response === "DateNotValid") {

                    $("#AddPurchaseInvoiceDetailModal #Date-valid").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if(response === "DiscountIsGreaterThanTheAmount") {

                    $("#AddPurchaseInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ConflictCurrency") {

                    $("#AddPurchaseInvoiceDetailModal #ConflictCurrency").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                }  else if (response === "DataNotValid") {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ThereIsNoMoneyConvert") {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_MoneyConvert").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if(response.includes("YouHaveJust")) {

                    bootbox.alert({
                        message: `${response}`,
                        className: 'bootbox-class'
                    });
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddPurchaseInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === 0) {

                    $("#AddPurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#purchaseInvoiceDetailKendoGrid .k-pager-refresh")[0].click();
                    SetTotalPrice(response);
                    closeAddPurchaseInvoiceDetailModal();
                }
            }
        });

    });

    function PurchaseInvoiceDetailDeleteFunction(element) {

        $("#DeletePurchaseInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeletePurchaseInvoiceDetailModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-deletePurchaseInvoiceDetail-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }

    $('#btn-deletePurchaseInvoiceDetail-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#DeletePurchaseInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#DeletePurchaseInvoiceDetailModal #AmountOverFlow").addClass("hidden");

        var Id = $(this).attr('data-id');
        var link = "/PurchaseInvoiceDetail/Remove";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                Id: Id
            },
            success: function (response) {
                $('#btn-deletePurchaseInvoiceDetail-accept').removeAttr("disabled");

                if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {
                    $("#DeletePurchaseInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#DeletePurchaseInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ERROR_SomeThingWentWrong") {

                    $("#DeletePurchaseInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DiscountIsGreaterThanTheAmount") {

                    $("#DeletePurchaseInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {
                    $('#DeletePurchaseInvoiceDetailModal').modal('hide');
                    $(".modal-backdrop:last").remove();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#purchaseInvoiceDetailKendoGrid .k-pager-refresh")[0].click();
                    SetTotalPrice(response);
                }
            }
        });
    });

    function ExitPurchase() {
        $(".loader").removeClass("hidden");
        var link = "/PurchaseInvoice/Form";
        $(".page-content").load(link, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })
    }

    function NewSupplier() {
        $("#AddNewSupplierModal #ERROR_Data").addClass("hidden");
        $("#AddNewSupplierModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = `/Supplier/AddNewModal`;
        $(".loader").removeClass("hidden");

        $('#AddNewSupplierModal').modal('toggle');
        $('#AddNewSupplierModal-body').load(link + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }

    $("#btn-AddNewSupplier-accept").click(function () {
        $(this).attr("disabled", true);

        $("#AddNewSupplierModal #ERROR_Data").addClass("hidden");
        $("#AddNewSupplierModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddNewSupplierModal #Mobile-wrong").addClass("hidden");

        var mobile = $("#AddNewSupplierModal #Mobile-wrong");
        if (mobile) {
            mobile.addClass("hidden");

            if ($('[validate-mobile="Mobile-wrong"]').val() !== undefined) {
                let text = $('[validate-mobile="Mobile-wrong"]').val();
                if (text != "" & text.trim().length < 8) {
                    mobile.removeClass("hidden");
                    $('#btn-AddNewSupplier-accept').removeAttr("disabled");
                    return;
                }
            }
        }

        let s = $("#SupplierTypeName").val();

        $('#AddNewSupplierModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#AddNewSupplierModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddNewSupplier-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Supplier/AddOrUpdate";
        var product = $("#addNewSupplierForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: product,
            success: function (response) {
                $('#btn-AddNewSupplier-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#AddNewSupplierModal #Name-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#AddNewSupplierModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "WrongMobile") {

                        $("#AddNewSupplierModal #Mobile-wrong").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddNewSupplierModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddNewSupplierModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#SupplierId").data("kendoDropDownList").dataSource.read();
                        let pr = $("#SupplierId").data("kendoDropDownList");
                        pr.bind("dataBound", function () {
                            pr.value(response);
                        });

                    }
                } else {

                    $("#AddNewSupplierModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    })

    function SetTotalPrice(total) {
        let enable = true;
        let result = "";
        let res = total.toString().split("#");
        if (res.length == 4) {

            let price = res[0].split("_");
            let discount = res[1].split("_");
            let price_after_discount = res[2].split("_");
            let cost = res[3].split("_");

            result += `
                <div class="col-sm-12" style="padding:0px;">

                    <div class="col-sm-3" style="">
                        <label style=" font-size: 18px;">${$("#TotalTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < price.length; i++) {
                let txt = price[i].split(" ");
                if (txt.length > 1) {
                    enable = false;
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
                }
            }
            result += `
                        </div>
                    </div>

                    <div class="col-sm-3" style="">
                        <label style=" font-size: 18px;">${$("#TotalDiscountTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < discount.length; i++) {
                let txt = discount[i].split(" ");
                if (txt.length > 1)
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
            }
            result += `
                        </div>
                    </div>

                    <div class="col-sm-3" style="">
                        <label style=" font-size: 18px;">${$("#TotalPriceAfterDiscountTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < price_after_discount.length; i++) {
                let txt = price_after_discount[i].split(" ");
                if (txt.length > 1)
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
            }
            result += `
                        </div>
                    </div>

                    <div class="col-sm-3" style="">
                        <label style=" font-size: 18px;">${$("#TotalCostTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < cost.length; i++) {
                let txt = cost[i].split(" ");
                if (txt.length > 1)
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
            }
            result += `
                        </div>
                    </div>

                </div>`;
        }
        $('#purchaseInvoiceDetailTotalPrice').empty();

        $("#SupplierId").data("kendoDropDownList").enable(enable);

        var ul = document.getElementById("purchaseInvoiceDetailTotalPrice");
        ul.insertAdjacentHTML('afterbegin', result);
    }


    function BackToPay() {
        $(".loader").removeClass("hidden");

        let link = "/SupplierAccount/Form";

        let data = {
            SupplierId: sessionStorage.SupplierId,
            CurrencyId: sessionStorage.CurrencyId,
            SupplierFilter: sessionStorage.SupplierFilter,
            Year: sessionStorage.Year,
            DateFromTxt: sessionStorage.DateFromTxt,
            DateToTxt: sessionStorage.DateToTx
        };

        $(".page-content").load(link, data, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })
    }


    function draw2(imgData) {
        "use strict";
        var dataUrl = [];
        for (let index = 0; index < imgData.allb.length; index++) {

            var pf = "data:image/jpeg;base64," + imgData.allb[index];

            dataUrl.push(pf)
        }

        printJS({ printable: dataUrl, type: 'image' });
    }


    function PrintPurchase() {
        $(".loader").removeClass("hidden");

        var data = {
            purchaseInvoiceId: $("#Guid").val(),
        };

        link = "/PurchaseInvoice/PrintPurchaseReport";

        $(".loader").removeClass("hidden");

        $.ajax({
            url: link,
            type: "Post",
            data: data,
            success: function (response) {

                draw2(response);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            },
            error: function (response) {
                console.log(response);
                console.log(response.data);
                console.log(response.error);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            }
        });

    }



    $('#btn-addPurchasePurchaseInvoiceDetail-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#addNewPurchaseInvoiceForm #ERROR_Data").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #Date-valid").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #RepeatedMainInvoiceNum").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #InvoiceInUse").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#addNewPurchaseInvoiceForm .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-addPurchasePurchaseInvoiceDetail-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/PurchaseInvoice/AddOrUpdate";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoice/AddOrUpdateMaterial";
        }

        let purchaseInvoice = {
            Guid: $("#Guid").val(),
            SupplierId: $("#SupplierId").val(),
            InvoiceDateTxt: $("#InvoiceDateTxt").val(),
            Description: $("#Description").val(),
            MainInvoiceNum: $("#MainInvoiceNum").val(),
        };

        var data = purchaseInvoice;
        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-addPurchasePurchaseInvoiceDetail-accept').removeAttr("disabled");

                if (response !== 0) {

                    if (response === "DateNotValid") {

                        $('"#addNewPurchaseInvoiceForm #Date-valid"').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "RepeatedMainInvoiceNum") {

                        $("#addNewPurchaseInvoiceForm #RepeatedMainInvoiceNum").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "InvoiceInUse") {

                        $("#addNewPurchaseInvoiceForm #InvoiceInUse").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#addNewPurchaseInvoiceForm #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "ThereIsNoMoneyConvert") {

                        bootbox.alert({
                            message: " @Localizer["ThereIsNoMoneyConvert"]",
                            className: 'bootbox-class'
                        });
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response.includes("YouHaveJust")) {

                        bootbox.alert({
                            message: `${response}`,
                            className: 'bootbox-class'
                        });
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                        let guid = response.split("_");
                        $('#Guid').val(guid[0]);
                        $('#InvoiceNumTxt').val(guid[1]);

                        $('#btn-updatePurchaseInvoice-accept').removeClass('hidden');
                        $('#btn-updatePurchaseInvoice-exit-accept').removeClass('hidden');
                        $('#btn-PurchaseInvoiceDetailNewModal').removeClass('hidden');
                        $('#btn-ShowDiscountsList').removeClass('hidden');
                        $('#btn_PrintPurchase').removeClass('hidden');
                        $('#btn-ShowCostsList').removeClass('hidden');
                        $('#btn-addPurchasePurchaseInvoiceDetail-accept').addClass('hidden');
                    }
                } else {

                    $("#addNewPurchaseInvoiceForm #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });


    $("#btn-updatePurchaseInvoice-accept").on("click", function () {
        $(this).attr("disabled", true);

        $("#addNewPurchaseInvoiceForm #ERROR_Data").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #Date-valid").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #RepeatedMainInvoiceNum").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #InvoiceInUse").addClass("hidden");
        $("#addNewPurchaseInvoiceForm #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#addNewPurchaseInvoiceForm .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#addNewPurchaseInvoiceForm .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-updatePurchaseInvoice-accept').removeAttr("disabled");
                    ok_exit = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/PurchaseInvoice/AddOrUpdate";

        if (purchaseType == "Material") {
            link = "/PurchaseInvoice/AddOrUpdateMaterial";
        }

        let purchaseInvoice = {
            Guid: $("#Guid").val(),
            SupplierId: $("#SupplierId").val(),
            InvoiceDateTxt: $("#InvoiceDateTxt").val(),
            Description: $("#Description").val(),
            MainInvoiceNum: $("#MainInvoiceNum").val(),
        };

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: purchaseInvoice,
            success: function (response) {
                $('#btn-updatePurchaseInvoice-accept').removeAttr("disabled");

                if (response === 0) {

                    ok_exit = false;
                    $("#addNewPurchaseInvoiceForm #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#addNewPurchaseInvoiceForm #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "RepeatedMainInvoiceNum") {

                    $("#addNewPurchaseInvoiceForm #RepeatedMainInvoiceNum").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DateNotValid") {

                    ok_exit = false;
                    $("#addNewPurchaseInvoiceForm #Date-valid").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DataNotValid") {

                    ok_exit = false;
                    $("#addNewPurchaseInvoiceForm #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    if (ok_exit) {
                        ExitPurchase();
                    } else {
                        SetTotalPrice(response);
                    }
                }
            }
        });


    });


</script>


@if (ViewBag.PurchaseType != "Material")
{
    <script>

        function AddSalePrice(element) {
            $("#AddSalePriceModal #AmountOverFlow").addClass("hidden");
            $("#AddSalePriceModal #ERROR_MoneyConvert").addClass("hidden");
            $("#AddSalePriceModal #ERROR_Data").addClass("hidden");
            $("#AddSalePriceModal #Date-valid").addClass("hidden");
            $("#AddSalePriceModal #InvoiceInUse").addClass("hidden");
            $("#AddSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

            $('#AddSalePriceModal').modal('toggle');

            $('#AddSalePriceModal-productName').text("");

            $('#AddSalePriceModal-body').empty();

            var link = "/PurchaseInvoiceDetailSalePrice/Form?purchaseInvoiceDetailId=";
            var Id = $(element).attr('data-id');
            $(".loader").removeClass("hidden");
            $('#AddSalePriceModal-body').load(link + Id + '', function () {
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");

            });
        }

        function closeAddSalePriceModal() {

            $('#AddSalePriceModal').modal('hide');
            $('#AddSalePriceModal-body').empty();
            $(".modal-backdrop:last").remove();

        }


    </script>

}
