@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<script src="~/Content/assets/js/apexcharts.min.js"></script>

<style>

    .storeDashboardBack {
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 2rem;
        border: 1px solid rgba(0, 0, 0, .125);
        background-clip: border-box;
        box-shadow: rgba(146, 168, 209,0.7) 0px 0px 5px 0.1px;
    }
</style>

<div id="store-dashboard" class="col-sm-12" style="direction:ltr;padding:0.5rem;margin:1rem 0 0 0;background-color:rgb(242, 247, 251);border-radius:1rem">

    <div class="col-sm-2 MyFont-Sarchia-grid" style="text-align:center;padding:0.1rem;margin:0;">
        @*box-shadow:rgba(146, 168, 209,0.7) 0px 0px 5px 0.1px;*@
        <div class="col-sm-12 storeDashboardBack">


            @if ((bool)ViewBag.AccessReserve)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-Reserve")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;width:100%", type = "button", @class = "btn btn-primary", onclick="GoToReserve()"  })
                            .Content(Localizer["Reserve"]))

                </div>
            }

            @if ((bool)ViewBag.AccessTotalReserves)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-TotalReserves")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;width:100%", type = "button", @class = "btn btn-primary", onclick = "GoToAllReserve()" })
                            .Content(Localizer["TotalReserves"]))

                </div>
            }


            @if ((bool)ViewBag.AccessVisit)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-Visit")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;width:100%", type = "button", @class = "btn btn-primary", onclick = "GoToVisit()" })
                            .Content(Localizer["Visit"]))

                </div>
            }


            @if ((bool)ViewBag.AccessTotalVisits)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-AllVisits")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;width:100%", type = "button", @class = "btn btn-primary", onclick = "GoToAllVisit()" })
                            .Content(Localizer["AllVisits"]))

                </div>
            }


            @if ((bool)ViewBag.AccessPatient)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-Patient")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;width:100%", type = "button", @class = "btn btn-primary", onclick = "GoToPatients()" })
                            .Content(Localizer["Patient"]))

                </div>
            }



        </div>

        <div id="patients-count" class="col-sm-12 storeDashboardBack" style="margin-top:2rem">



        </div>



    </div>

    <div class="col-sm-4">

        <div class="col-sm-12 storeDashboardBack">

            <div id="pieChart-most-medicine-used">
            </div>

        </div>

        <div class="col-sm-12 storeDashboardBack" style="margin-top:1rem">



            <div id="pieChart-most-disease">
            </div>



        </div>

    </div>

    <div class="col-sm-6">

        <div class="col-sm-12 storeDashboardBack">



            <div id="chart-income">
            </div>


            <div class="MyFont-Sarchia-grid">

                @(Html.Kendo().Button()
                            .Name("btn-incomeDay")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('day')" })
                            .Content(Localizer["Day"]))
                @(Html.Kendo().Button()
                            .Name("btn-incomeMonth")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('month')" })
                            .Content(Localizer["Month"]))
                @(Html.Kendo().Button()
                            .Name("btn-incomeYear")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('year')" })
                            .Content(Localizer["Year"]))

            </div>


        </div>


        @*<div class="col-sm-12 storeDashboardBack" style="margin-top:1rem">

            <div id="chart-Patients-Age">
            </div>

        </div>*@




    </div>

</div>

<script>


    //var options = {
    //    chart: {
    //        type: 'bar',
    //        //height: 320
    //    },
    //    series: [{
    //        name: 'IQD',
    //        data: [300, 400, 450, 500, 490, 600, 700]
    //    }, {
    //        name: '$',
    //        data: [30, 40, 45, 60, 70]
    //    }],
    //    xaxis: {
    //        categories: ['sat', 'sun', 'mon', 'thi', 'the', 'wen', 'fri']
    //    },
    //    title: {
    //        text: 'Income',
    //        align: 'left',
    //        margin: 20,
    //        offsetX: 0,
    //        offsetY: 0,
    //        floating: false,
    //        style: {
    //            fontSize: '1.5rem',
    //            fontWeight: 'bold',
    //            fontFamily: 'Roboto',
    //            color: '#34568B'
    //        }
    //    },
    //}

    //var chart = new ApexCharts(document.querySelector("#chart"), options);

    //chart.render();


    $(document).ready(() => {
        GetIncome('day');
    })


    function GetIncome(type) {

        $("#chart-income").empty();

        $.ajax({

            url: "/Dashboard/GetAllClinicInCome?Type=" + type,
            success: function (response) {
                //if (response != 0) {
                if (response != null) {
                    var options = {
                        chart: {
                            type: 'bar',
                            height: 320
                        },
                        series: [{
                            name: 'IQD',
                            data: response.Value
                        }],
                        xaxis: {
                            categories: response.Labels
                        },
                        title: {
                            text: 'Income',
                            align: 'left',
                            margin: 20,
                            offsetX: 0,
                            offsetY: 0,
                            floating: false,
                            style: {
                                fontSize: '1.5rem',
                                fontWeight: 'bold',
                                fontFamily: 'Roboto',
                                color: '#34568B'
                            }
                        },
                    }

                    var chart = new ApexCharts(document.querySelector("#chart-income"), options);

                    chart.render();
                }

            }
        });

    }

    

    $.ajax({

        url: "/Dashboard/GetPatientsCount",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {
                let ht = "<div class='col-sm-12' style='margin:0 0 1rem 0;padding:0'>" +
                    "<h4 class='MyFont-Roboto-header' style = 'float:left;margin:0;font-size: 1.5rem;color:black ' > Patients</h4 > </div > ";

                for (let i = 0; i < response.Labels.length; i++) {

                    ht += "<div class='col-sm-12' style='border-bottom:solid 2px rgb(146, 168, 209);padding:0;margin:0.5rem'><div class='col-sm-12' style='display:flex;justify-content:space-between'>" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Labels[i] + "</h5 >" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Value[i] + "</h5 ></div ></div > ";
                }
                $("#patients-count").html(ht);

            }

        }
    });

    $.ajax({

        url: "/Dashboard/GetMostUsedMedicine",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {

                var pieOptions = {
                    series: response.Value,
                    chart: {
                        type: 'pie',

                    },
                    labels: response.Labels,
                    stroke: {
                        colors: ['#fff']
                    },
                    fill: {
                        opacity: 0.9
                    },
                    title: {
                        text: 'Most Used Medicines',
                        align: 'left',
                        margin: 20,
                        offsetX: 0,
                        offsetY: 0,
                        floating: false,
                        style: {
                            fontSize: '1.5rem',
                            fontWeight: 'bold',
                            fontFamily: 'Roboto',
                            color: '#34568B'
                        }
                    },

                };

                var pieChart = new ApexCharts(document.querySelector("#pieChart-most-medicine-used"), pieOptions);

                pieChart.render();
            }

        }
    });

    $.ajax({

        url: "/Dashboard/GetMostUsedDisease",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {

                var pieOptions = {
                    series: response.Value,
                    chart: {
                        type: 'pie',

                    },
                    labels: response.Labels,
                    stroke: {
                        colors: ['#fff']
                    },
                    fill: {
                        opacity: 0.9
                    },
                    title: {
                        text: 'Most Used Disease',
                        align: 'left',
                        margin: 20,
                        offsetX: 0,
                        offsetY: 0,
                        floating: false,
                        style: {
                            fontSize: '1.5rem',
                            fontWeight: 'bold',
                            fontFamily: 'Roboto',
                            color: '#34568B'
                        }
                    },

                };

                var pieChart = new ApexCharts(document.querySelector("#pieChart-most-disease"), pieOptions);

                pieChart.render();
            }

        }
    });

    function GoToReserve() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Reserves/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToAllReserve() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/TotalReserves/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToVisit() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Visit/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToAllVisit() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Visit/TotalVisit", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToPatients() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Patient/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    //$.ajax({

    //    url: "/Product/GetProductStocks",
    //    success: function (response) {
    //        //if (response != 0) {
    //        if (response != null) {

    //            let value = [];

    //            for (let i = 0; i < response.Labels.length; i++) {

    //                value.push({ x: response.Labels[i], y: response.Value[i]})

    //            }
    //            console.log(value);
    //            var treeOptions = {
    //                series: [
    //                    {
    //                        data: value

    //                    }
    //                ],
    //                legend: {
    //                    show: false,
    //                    position: 'bottom'
    //                },
    //                chart: {
    //                    height: 320,
    //                    type: 'treemap'
    //                },
    //                title: {
    //                    text: 'Products Stock',
    //                    align: 'left',
    //                    margin: 20,
    //                    offsetX: 0,
    //                    offsetY: 0,
    //                    floating: false,
    //                    style: {
    //                        fontSize: '1.5rem',
    //                        fontWeight: 'bold',
    //                        fontFamily: 'Roboto',
    //                        color: '#34568B'
    //                    }
    //                },
    //                plotOptions: {
    //                    treemap: {
    //                        //enableShades: true,
    //                        //shadeIntensity: 0.1,
    //                        colorScale: {
    //                            ranges: [
    //                                {
    //                                    from: 0,
    //                                    to: 50,
    //                                    color: '#BC243C',
    //                                    foreColor: '#BC243C'
    //                                },
    //                                {
    //                                    from: 51,
    //                                    to: 100,
    //                                    color: '#88B04B'
    //                                }
    //                            ]
    //                        }
    //                    }
    //                },
    //                dataLabels: {
    //                    enabled: true,
    //                    style: {
    //                        fontSize: '15px',
    //                        fontFamily: 'Roboto',
    //                        colors: ['#000']
    //                    },
    //                    formatter: function (text,op) {
    //                        return [text+" ("+op.value+")"]
    //                    },
    //                    offsetY: -4
    //                },
    //            };

    //            var treeChart = new ApexCharts(document.querySelector("#treeChart"), treeOptions);
    //            treeChart.render();
    //        }

    //    }
    //});



    //$.ajax({

    //    url: "/Product/GetExpiredProducts",
    //    success: function (response) {
    //        //if (response != 0) {
    //        if (response != null) {

    //            let ht = "";

    //            const st = ["Expired", "Expired In 3 Months", "Expired In 6 Months","Expired In 1 Year"]

    //            for (let i = 0; i < response.length; i++) {

    //                ht += "<div class='col-sm-12' style='border-bottom: solid 2px rgb(146, 168, 209); padding: 0; display: flex; align-items: center;margin-top:1rem'>" +
    //                    "<div class='col-sm-2' style='width:4rem;height:4rem;padding:0;margin:0;display:flex;align-items:center'>" +
    //                    "<img src='../Content/Images/to-do-list.png' style='height:inherit;cursor:pointer' />" +
    //                    "</div > " +
    //                    "<div class='col-sm-8' style = '' >" +
    //                    " <h5 class='MyFont-Roboto' style='font-size:1.5rem;color:rgb(52, 86, 139)'>" + st[i] + "</h5>" +
    //                    "</div > " +
    //                    "<div class='col-sm-2' style='padding: 0; '>" +
    //                    " <h4 class='MyFont-Roboto' style = 'color:rgb(52, 86, 139)' > " + response[i] + "</h4 ></div ></div >";

    //            }
    //            $("#expired-products").html(ht);


    //        }

    //    }
    //});






    //const pageContent = document.getElementById("pageContent");
    //let posh = pageContent.offsetTop;

    //let posb = screen.height;

    //let h = posb - posh - 100;
    //console.log(h);
    //$("#store-dashboard").css('height', h);

</script>