@using WPH.Models.CustomDataModels.ClinicSectionChoosenValue


<div id="signup-box" class="signup-box no-border" >
    <div class="widget-body">
        <div class="widget-main">

            @{
                IEnumerable<ClinicSectionChoosenValueViewModel> all = ViewBag.AllClinicSectionChoosenValues as IEnumerable<ClinicSectionChoosenValueViewModel>;
                DateTime date = DateTime.Now;
                if (all.Where(x => x.VariableDate != null).Count() != 0)
                {
                    date = all.Where(x => x.VariableDate != null).FirstOrDefault().VariableDate ?? DateTime.Now;
                }

            }


            <label class="block clearfix">
                <span class="red">*</span><label for="form-field-8">Date: </label>
                <span class="block input-icon input-icon-right">

                    @(Html.Kendo().DatePicker()
                        .Name("DateForNewPatientVariable")
                        .Value(date)
                        .Format("dd/MM/yyyy")
                        .Events(e =>
                        {
                            e.Change("changeBirthOfDatePatientDatetimePickerForPatientVariables");
                        })
                        .HtmlAttributes(new { @id = "Date", style = "width: 100%", onchange = "dateTimePickerWorkWithSpace(this)" })
                    )
                     <input id="FromDate" class="hidden" title="datepicker" style="width: 100%;font-size:1.5rem" type="date" />
                    <label for="form-field-8" style="width:100%">Age: </label>

                    <span style="width:25%">
                        <label for="form-field-8">Year: </label>
                        @(Html.Kendo().TextBox()
                            .Name("Year")
                            //.Readonly(true)
                            //.Placeholder(@ViewBag.YearTranslated)
                            //.Value(Model.Age.ToString())
                            .HtmlAttributes(new { onchange = "ReserveInsertAge(this)", id = "Year1", style = "width: 25%" })
                        )
                    </span>



                    <span style="width:25%">

                        <label for="form-field-8">Month: </label>

                        @(Html.Kendo().TextBox()
                            .Name("Month")
                            //.Readonly(true)
                            //.Placeholder(@ViewBag.MonthTranslated)
                            //.Value(Model.Age.ToString())
                            .HtmlAttributes(new { onchange = "ReserveInsertAge(this)", id = "Month1", style = "width: 25%" })
                        )

                    </span>



                </span>
                <span id="Age-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                    @ViewBag.ThisFieldIsEmptyPleaseFillIt
                </span>
            </label>



            @*<label class="block clearfix">
                <label style="font-size:1.5rem">Date:</label>
                <span class="block input-icon input-icon-right">
                    @(Html.Kendo().DatePicker()
                                .Name("DateForNewPatientVariable")
                                .Value(date)
                                .Format("dd/MM/yyyy")
                                .HtmlAttributes(new { @id = "Date", style = "width: 100%", onchange = "DateForNewPatientVariableChange()" })
                    )
                    <input id="FromDate" class="hidden" title="datepicker" style="width: 100%;font-size:1.5rem" type="date" />
                </span>

            </label>*@


            @{
                foreach (var value in ViewBag.AllClinicSectionChoosenValues)
                {
                    if (value.VariableStatusName == "VariableValueIsVariable"/* && (value.VariableDisplayName == "ShowInPatient" || value.VariableDisplayName == "ShowInVisitAndPatient")*/)
                    {
                        if (value.PatientVariableVariableType == "Text" || value.PatientVariableVariableType == "Int" || value.PatientVariableVariableType == "Decimal")
                        {

                            <label class="block clearfix">
                                <label style="font-size:1.5rem">@value.PatientVariableVariableName:</label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                        .Name(value.VariableNameForView)
                                        .Value(value.Value)
                                        .HtmlAttributes(new
                                                {
                                                    style = "font-size:1.5rem;width:100%",
                                                    @data_variableId = value.PatientVariableId,
                                                    @data_variable = "queuVariables",
                                                    @data_Guid = value.PatientVariableValueGuid,
                                                    @data_type = "text",
                                                    @data_textField = "textField",
                                                })
                                    )
                                </span>

                            </label>

                        }
                        else if (value.PatientVariableVariableType == "Bool")
                        {
                            <label class="block clearfix">
                                @{


                                    if (value.Value == "true")
                                    {
                                        @(Html.Kendo().CheckBox()
                                        .Name(value.VariableNameForView)
                                        .Label(value.PatientVariableVariableName)
                                        .Checked(true)
                                        .HtmlAttributes(new
                                                {
                                                    @class = "kendoCheckbox",
                                                    style = "font-size:5rem",
                                                    @data_variableId = value.PatientVariableId,
                                                    @data_Guid = value.PatientVariableValueGuid,
                                                    @data_variable = "queuVariables",
                                                    @data_type = "checkbox"
                                                }))
                                    }
                                    else
                                    {
                                        @(Html.Kendo().CheckBox()
                                        .Name(value.VariableNameForView)
                                        .Label(value.PatientVariableVariableName)
                                        .HtmlAttributes(new
                                                {
                                                    @class = "kendoCheckbox",
                                                    style = "font-size:5rem",
                                                    @data_variableId = value.PatientVariableId,
                                                    @data_Guid = value.PatientVariableValueGuid,
                                                    @data_variable = "queuVariables",
                                                    @data_type = "checkbox"
                                                }))
                                    }



                                }


                            </label>

                        }




                    }

                }
            }


        </div>
    </div>
</div>


<script>


    var KurdishKey = [1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1602, 96, 1608, 1749, 1610, 1585, 1685, 1578, 1591, 1740, 1742, 1574, 1569
        , 1581, 1593, 1734, 1572, 1662, 1579, 1575, 1570, 1587, 1588, 1583, 1584, 1601, 1573, 1711, 1594, 1607, 8204, 1688, 1571, 1705, 1603, 1604
        , 1717, 1586, 1590, 1582, 1589, 1580, 1670, 1700, 1592, 1576, 1609, 1606, 1577, 1605, 1600
    ];

    var EnglishKey = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "q", "Q", "w", "e", "E", "r", "R", "t", "T", "y", "Y", "u", "U", "i", "I", "o", "O", "p", "P", "a"
        , "A", "s", "S", "d", "D", "f", "F", "g", "G", "h", "H", "j", "J", "k", "K", "l", "L", "z", "Z", "x", "X", "c", "C", "v", "V", "b", "B", "n", "N", "m", "M"];



    $(document).ready(function () {


        let date = $("#Date").data("kendoDatePicker");
        //if ($("#Name").val() !== "")
        getAgeForPatientVariables(kendo.toString(date.value(), 'd'));

        $("#exit").kendoButton({
            click: patientHide,
        });

        $('#qeue-modal-header').text('');


        var fromDate = $("#Date").data("kendoDatePicker");
    
        var frDate = fromDate.value();

        let frMonth = frDate.getMonth() + 1;
        let frDay = frDate.getDate();

        if (frMonth < 10)
            frMonth = "0" + frMonth;
        
        if (frDay < 10)
            frDay = "0" + frDay;
        

        let from = frDate.getFullYear() + "-" + frMonth + "-" + frDay;

        $("#FromDate").val(from);


        var allTexts = $('[data-textField]');
        for (let i = 0; i < allTexts.length; i++) {
            $(allTexts[i]).keypress(function (e) {
                let index = KurdishKey.indexOf(e.which);
                if (e.which === 13 || e.which === 9) {
                    allTexts[i+1].focus();
                }
                else if(index !== -1) {
                    e.preventDefault();
                    let index1 = EnglishKey[index];
                    let preVal = $(this).val();
                    $(this).val(preVal + index1);
                }
            })
        }


        setTimeout(function () {

            let date = $("#Date").data("kendoDatePicker");

            date.element.focus();

        }, 200);

        $('#Date').keypress(function (e) {

            if (e.which === 13 || e.which === 9) {
                if (allTexts[0] !== undefined) {
                    $(allTexts[0]).focus();
                }
            }

        })

    });

    

    

    function DateForNewPatientVariableChange() {
        
        var fromDate = $("#Date").data("kendoDatePicker");
    
        var frDate = fromDate.value();

        let frMonth = frDate.getMonth() + 1;
        let frDay = frDate.getDate();

        if (frMonth < 10)
            frMonth = "0" + frMonth;
        
        if (frDay < 10)
            frDay = "0" + frDay;
        

        let from = frDate.getFullYear() + "-" + frMonth + "-" + frDay;

        $("#FromDate").val(from);

    }

    function ReserveInsertAge(element) {
        
        
        var Year = parseInt($('#Year1').val());
        var Month = parseInt($('#Month1').val());
        if ($('#Month1').val() === "") {
            Month = 0;
        }
        if ($('#Year1').val() === "") {
            Year = 0;
        }
        var today = new Date();
        //var birthDay = today.getFullYear() - age;
        var birthDay = today;
        birthDay.setFullYear(birthDay.getFullYear() - Year);
        birthDay.setMonth(birthDay.getMonth() - Month);
        let birthMonth = birthDay.getMonth() + 1;
       // $('#DateOfBirth').val('1/1/' + birthDay + '');
        $('#Date').val('1/'+birthMonth+'/'+birthDay.getFullYear());

        var fromDate = $("#Date").data("kendoDatePicker");
        fromDate.element.focus();
        $('#Year1').focus();
        DateForNewPatientVariableChange();





        
        //var age = parseInt($('#Age').val());
        //var today = new Date();
        //var birthDay = today.getFullYear() - age;
        //$('#DateOfBirth').val('1/1/' + birthDay + '');
        ////id= $('#data').attr('data-Guid');
        ////amount = '1/1/' + birthDay + '';
    }

</script>


