
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
        <h3 id="newPatientText" class="hidden">@Localizer["New"] @Localizer["Patient"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
        <h3 id="newPatientText" class="hidden">@Localizer["Patient"] @Localizer["New"]</h3>
    }

    <h3 id="editPatientText" class="hidden">@Localizer["Edit"] @Localizer["Patient"]</h3>
}


<div class="row page-header ">

    <div class="@pull ">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Patient"]
        </h1>

    </div>
    @if ((bool)ViewBag.AccessNewPatient)
    {
        <div class="@font @pull " style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddNewPatient(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }

</div><!-- /.page-header -->

<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Patient/dgPatientGrid.cshtml")
</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<div id="PatientRecordModal" class="modal fade @font" tabindex="-1" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="patientHide()" aria-hidden="true">&times;</button>
                <h3 id="modalform-header" class="smaller lighter blue no-margin"></h3>
                <h4 class="modal-title @font" id="myModalLabel">
                    @Localizer["DiseaseRecord"]
                </h4>
            </div>

            <div id="PatientRecordModal-body" class="modal-body" style="height:50rem;width:60rem">

            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                        .Name("btn-acceptPatientDisease")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "patientHide()" })
                        .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-close-modal-patient")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "patientHide()" })
                    .Content(Localizer["Exit"]))
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>




<div id="patientNewModal" class="modal fade @font" data-keyboard="false" data-backdrop="static" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closePatientNewModal()" aria-hidden="true">&times;</button>
                <h3 id="patientNewModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["New"]
                </h3>
            </div>

            <div id="patientNewModal-body" class="modal-body">

            </div>
            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                .Name("btn-patientNew-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "acceptPatientNewModal()" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-patientNew-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closePatientNewModal()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<script>


    function AddNewPatient(element) {

        $("#patientNewModal #ERROR_SomeThingWentWrong").addClass("hidden");
        let header = $('#newPatientText').text();

        $('#patientNewModal-header').text(header);

        var link = $("#GridAddLink").attr("data-Value");
        $(".loader").removeClass("hidden");
        $('#patientNewModal').modal('toggle');
        $('#patientNewModal-body').load(link, function () {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }


    function EditPatient(element) {

        $("#patientNewModal #ERROR_SomeThingWentWrong").addClass("hidden");
        let header = $('#editPatientText').text();

        $('#patientNewModal-header').text(header);

        $('#patientNewModal').modal('toggle');
        var link = $("#GridEditLink").attr("data-Value");
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#patientNewModal-body').load(link + Id + '', function () {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }



    function acceptPatientNewModal() {

        $("#patientNewModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $('.emptybox').addClass('hidden');

        var mobile = $("#Mobile-wrong");
        if (mobile) {
            mobile.addClass("hidden");

            if ($('[validate-mobile="Mobile-wrong"]').val() !== undefined) {
                let text = $('[validate-mobile="Mobile-wrong"]').val();
                if (text != "" & text.trim().length < 8) {
                    mobile.removeClass("hidden");
                    return;
                }
            }
        }

        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() !== undefined) {
                    let text = $('[data-checkEmpty="' + empty + '"]').val().replace(/ /g, '');
                    if (text === "") {
                        $(this).removeClass('hidden');
                        isEmmpty = false;
                        return;
                    }
                }
            }
        });


        if (isEmmpty === false) {
            return;
        }

        var link = $("#AddNewLink").attr("data-Value");
        var GridRefreshLink = $("#GridRefreshLink").attr("data-Value");

        data = $("#addNewPatientForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Name-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "WrongMobile") {

                        $("#Mobile-wrong").removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else {

                        $('#patientNewModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#patientNewModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $(".k-pager-refresh")[0].click();

                    }
                } else {

                    $("#patientNewModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    }


    function closePatientNewModal() {
        $('#patientNewModal').modal('hide');
        $('#patientNewModal-body').empty();
    }


    function patientHide() {

        $('#PatientRecordModal').modal('hide');
        $('#PatientRecordModal-body').empty();
    }

    $('#btn-PatientVariableNew-accept').on("click", function () {

        var link = "/Patient/AddorUpdatePatentVariables";

        var variables = $('[data-variable]');

        var variableValues = [];

        let date = $("#Date").val();

        let patientId = $("#btn-PatientVariableNew-accept").attr('data-patientid');

        let edit = false;
        for (let i = 0; i < variables.length; i++) {
            if ($(variables[i]).attr('data-Guid') !== "") {
                edit = true;
                break;
            }
        }


        if (!edit) {
            let allDate = $("#PatientVariablesGrid").find('td');

            for (let i = 0; i < allDate.length; i++) {
                if ($(allDate[i]).text() === date.toString()) {

                    bootbox.alert({
                        message: '@ViewBag.DateIsDuplicate',
                        className: 'bootbox-class'
                    });

                    return;
                }

            }
        }

        for (let i = 0; i < variables.length; i++) {
            let v;
            if ($(variables[i]).attr('data-type') === 'checkbox') {
                 v = {
                    Guid: $(variables[i]).attr('data-Guid'), PatientId: patientId, PatientVariableId: $(variables[i]).attr('data-variableId')
                    , Value: $(variables[i]).prop('checked'), VariableInsertedDate: date
                };
            }
            else {
                 v = {
                    Guid: $(variables[i]).attr('data-Guid'), PatientId: patientId, PatientVariableId: $(variables[i]).attr('data-variableId')
                    , Value: $(variables[i]).val(), VariableInsertedDate: date
                };
            }

                variableValues.push(v);

        }

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: { VariablesValue: variableValues, PatientId: patientId},
            success: function (response) {
                if (response !== 0) {


                    $('#PatientVariableNewModal').modal('hide');
                    $(".modal-backdrop:last").remove();
                    $('#PatientVariableNewModal-body').empty();
                    var patientid = $("#btn-PatientVariables-accept").attr('data-patientId');

                    var link = "/Patient/PatientVariableModal?patientId=";
                    $('#PatientVariables-modal-body').load(link + patientid, function () {
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    });



                }
                else {
                    bootbox.alert({
                            message: reserveVisited,
                            className: 'bootbox-class'
                    });
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });



</script>