@model WPH.Models.Service.ServiceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewServiceForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.TypeId)
                    @Html.HiddenFor(m => m.TypeName)
                    @Html.HiddenFor(m => m.NameHolder)
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Name"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                                .Name("Name")
                                .Value(Model.Name)
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Name-box" })
                            )
                        </span>
                        <span id="Name-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                        <span id="Name-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Price"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("Price")
                                    .Min(0)
                                    .Max(10000000)
                                    .Format("N0")
                                    .Value(Model.Price)
                                    .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Price-box" })
                                )
                        </span>
                        <span id="Price-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["ServiceType"] : @Model.TypeName </label>
                    </label>

                    @{
                        if (Model.TypeName == "Operation")
                        {
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["DoctorWage"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("DoctorWage")
                                    .Min(0)
                                    .Max(10000000)
                                    .Format("N0")
                                    .Value(Model.DoctorWage)
                                    .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Wage-box" })
                                )
                                </span>
                                <span id="Wage-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        }
                    }

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Explanation"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextArea()
                                .Name("Explanation")
                                .Value(Model.Explanation)
                                .Rows(7)
                                .MaxLength(200)
                                .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </span>
                    </label>


                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>

    $(document).ready(function () {

        setTimeout(function () {
            $("#Name").focus();
        }, 200);

    });


    $('#Name').focus(function () {
        $("#Name-Exist").addClass('hidden');
        $("#Name-box").addClass('hidden');
        $("#Name").select();
    });

    $('#Name').on('keypress', function (e) {

        if (e.which === 13) {
            let priceBox = $("#Price").data("kendoNumericTextBox");
            priceBox.focus();
        }
    });

    $('#Price').on('keypress', function (e) {

        if (e.which === 13) {
            var wage = $("#DoctorWage");
            if (wage) {
                let priceBox = wage.data("kendoNumericTextBox");
                priceBox.focus();
            } else {
                $('#Explanation').focus();
            }
        }
    });

    $('#DoctorWage').on('keypress', function (e) {

        if (e.which === 13) {
            $('#Explanation').focus();
        }
    });


</script>
