@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", direction = "", pull_rev = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        pull_rev = " pull-right ";
        direction = " ";
        <h3 id="newServiceText" class="hidden">@Localizer["New"] @Localizer["Service"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        pull_rev = " pull-left ";
        direction = " direction:rtl; ";
        <h3 id="newServiceText" class="hidden">@Localizer["Service"] @Localizer["New"]</h3>
    }

    <h3 id="editServiceText" class="hidden">@Localizer["Edit"] @Localizer["Service"]</h3>
}



<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Services"]
        </h1>

    </div>
    @if ((bool)ViewBag.AccessNewService)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddService(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }
    
    @*<div class="@pull_rev" style="margin:0 2rem;transform:translateY(-10%)">
        <a class="" href="/Service/Index" target="_blank" style="padding:0.2rem;cursor:pointer;font-size: 20px;">
            <span>
                <i class="">design</i>
            </span>
        </a>
    </div>*@

    <div class="@pull_rev" style="margin:0 2rem;transform:translateY(-10%)">
        <a class="" onClick="ShowOperationReport()" style="padding:0.2rem;cursor:pointer;font-size: 20px;">
            <span>
                <i class="ace-icon fa fa-print align-top bigger-125"></i>
            </span>
        </a>
    </div>

</div><!-- /.page-header -->
<!-- Modal -->
<div id="AddServiceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddServiceModal()" aria-hidden="true">&times;</button>
                <h3 id="AddServiceModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddServiceModal-body" class="modal-body" style="width:60rem">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addService-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))

                @(Html.Kendo().Button()
                .Name("btn-addService-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddServiceModal()" })
                .Content(Localizer["Exit"]))

            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Service/dgServiceGrid.cshtml")

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    function AddService(element) {

        $('#AddServiceModal #ERROR_Data').addClass('hidden');
        $('#AddServiceModal #ERROR_SomeThingWentWrong').addClass('hidden');

        var link = "/Service/AddNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newServiceText").text();

        $('#AddServiceModal-header').text(header);
        $('#AddServiceModal').modal('toggle');
        $('#AddServiceModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditService(element) {

        $('#AddServiceModal #ERROR_Data').addClass('hidden');
        $('#AddServiceModal #ERROR_SomeThingWentWrong').addClass('hidden');

        $('#AddServiceModal').modal('toggle');
        let header = $("#editServiceText").text();
        $('#AddServiceModal-header').text(header);
        var link = "/Service/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddServiceModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    $('#btn-addService-accept').on("click", function () {
        $(this).attr("disabled", true);

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    $('#btn-addService-accept').removeAttr("disabled");
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/Service/AddOrUpdate";
        var data = $("#addNewServiceForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-addService-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Name-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "ERROR_Data") {

                        $('#AddServiceModal #ERROR_Data').removeClass('hidden');
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else {

                        $('#AddServiceModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddServiceModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $(".k-pager-refresh")[0].click();

                    }
                } else {

                    $('#AddServiceModal #ERROR_SomeThingWentWrong').removeClass('hidden');

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeAddServiceModal() {
        $('#AddServiceModal').modal('hide');
        $('#AddServiceModal-body').empty();
        $(".modal-backdrop:last").remove();
    }


    function draw2(imgData) {
        "use strict";
        var dataUrl = [];
        for (let index = 0; index < imgData.allb.length; index++) {

            var pf = "data:image/jpeg;base64," + imgData.allb[index];

            dataUrl.push(pf)
        }

        printJS({ printable: dataUrl, type: 'image' });
    }


    function ShowOperationReport() {
        $(".loader").removeClass("hidden");
        //let detail = $("#Detail").prop('checked');

        //var data = {
        //    HumanResource: $("#HumanName").val(),
        //    PaymentStatus: $("#PaymentStatus").val(),
        //    SalaryType: $("#SalaryType").val(),
        //    TxtFromDate: $("#FromDate").val(),
        //    TxtToDate: $("#ToDate").val(),
        //    ClinicSectionId: $("#ClinicSectionId").val(),
        //    Detail: detail,
        //    OrderBy: $("#OrderBy").val()
        //};

        link = "/Service/PrintServiceReport";

        $(".loader").removeClass("hidden");

        $.ajax({
            url: link,
            type: "Post",
            //data: data,
            success: function (response) {

                draw2(response);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            },
            error: function (response) {
                console.log(response);
                console.log(response.data);
                console.log(response.error);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            }
        });

    }

</script>