@model WPH.Models.CustomDataModels.UserManagment.UserInformationViewModel



<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <h4 class="header green lighter bigger">
                <i class="ace-icon fa fa-users blue"></i>
                @ViewBag.NewUserRegisteration
            </h4>

            <div class="space-6"></div>
            <p> @ViewBag.EnterYourDetailsToBegin : </p>

            

            <form id="registerUser">
                <fieldset>
                    <label class="block clearfix">
                        
                        <span class="block input-icon input-icon-right">

                            @*@Html.TextBoxFor(m => m., new { @id = "FName" , @class = "form-control", @placeholder = @ViewBag.FirstName })*@
                            <i class="ace-icon fa fa-user"></i>
                            
                        </span>
                        
                        <span id="FName-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                        
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">

                            @*@Html.TextBoxFor(m => m.LName, new { @id = "LName" , @class = "form-control", @placeholder = @ViewBag.LastName })*@
                            <i class="ace-icon fa fa-user"></i>
                        </span>
                        <span id="LName-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">

                            @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "PhoneNumber", @class = "form-control", @placeholder = @ViewBag.PhoneNumber, @onkeypress="return OnlyNumberKey(event)" })
                            <i class="ace-icon fa fa-globe"></i>
                        </span>
                        <span id="PhoneNumber-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">

                            @Html.TextBoxFor(m => m.Facebook, new { @id = "Facebook", @class = "form-control", @placeholder = @ViewBag.FaceBook })
                            <i class="ace-icon fa fa-eye"></i>
                        </span>
                        <span id="Facebook-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            
                            @Html.TextBoxFor(m => m.Email, new { @id = "Email", @class = "form-control", @placeholder = @ViewBag.Email })
                            <i class="ace-icon fa fa-envelope"></i>
                        </span>
                        <span id="Email-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.TextBoxFor(m => m.Name, new { @id = "Name", @class = "form-control", @placeholder = @ViewBag.UserName })
                            <i class="ace-icon fa fa-user"></i>
                            
                        </span>
                        <span id="loaderuser" class="loader-user-exist hidden"></span>
                        <span id="Name-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                        <span id="userAlreadyExist" class="emptybox hidden" style="color:red;">
                            This user is already exist
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.PasswordFor(m => m.Pass3, new { @id = "Pass3", @class = "form-control", @placeholder = @ViewBag.Password })
                            <i class="ace-icon fa fa-lock"></i>
                        </span>
                        <span id="Pass3-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                    </label>

                    <label class="block clearfix">
                        <span class="block input-icon input-icon-right">
                            @Html.PasswordFor(m => m.Pass4, new { @id = "Pass4", @class = "form-control", @placeholder = @ViewBag.Password })
                            <i class="ace-icon fa fa-retweet"></i>
                        </span>
                        <span id="Pass4-box" class="emptybox hidden" style="color:red;">
                            This field is empty, please fill it with proper information
                        </span>
                        <span id="incorrectPass" class="emptybox hidden" style="color:red;">
                            Passwords didn't match , please try again 
                        </span>
                    </label>

                    <div class="space-24"></div>

                    <div class="clearfix">
                        <button type="reset" class="width-30 pull-left btn btn-sm">
                            <i class="ace-icon fa fa-refresh"></i>
                            <span class="bigger-110">@ViewBag.Reset</span>
                        </button>

                        <button type="button" id="RegisterUserFunc" class="width-65 pull-right btn btn-sm btn-success">
                            <span class="bigger-110">@ViewBag.Register</span>

                            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                        </button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="toolbar center">
            <a href="" data-target="#login-box" class="back-to-login-link">
                <i class="ace-icon fa fa-arrow-left"></i>
                @ViewBag.BackToMain
            </a>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->


<div id="my-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter blue no-margin">Registeration Failed</h3>
            </div>

            <div class="modal-body">
                <span  style="color:red;">
                    This User could not be registered for some reason, please try again later
                </span>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-danger pull-right" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>