
<style>

    .chooseClinicSection {
        padding: 1rem;
        text-align: center;
        border: 1px solid #d4d4d4;
        border-radius: 1rem;
        margin: 1rem;
    }

        .chooseClinicSection:hover {
            cursor: pointer;
            box-shadow: 1px 1px 20px 3px rgba(0, 0, 0, 0.2);
        }

</style>
<div class="col-sm-12" style="margin-top:2rem">


    @{
        string image_path = "";
        foreach (var cs in ViewBag.clinicSectionNames)
        {
        //if (cs.SectionTypeName == "Lab")
            //{
            <div class="col-sm-3" style="margin:0;min-width:200px;">

                <div class="col-sm-12 chooseClinicSection" onclick="SelectClinicSection(this)" data-clinicSectionId="@cs.Guid" data-SectionTypeId="@cs.SectionTypeId">

                    <h4>@cs.Name</h4>
                    @{
                        switch (cs.SectionTypeName)
                        {
                            case "Main":
                                image_path = "/Content/Images/main.png";
                                break;
                            case "Lab":
                                image_path = "/Content/Images/lab.png";
                                break;
                            case "Rad":
                                image_path = "/Content/Images/radio.png";
                                break;
                            case "Cardiology":
                                image_path = "/Content/Images/card.png";
                                break;
                            case "Clinic":
                                image_path = "/Content/Images/clinic.png";
                                break;
                            case "Hospital":
                                image_path = "/Content/Images/wph.png";
                                break;
                            case "Store":
                                image_path = "/Content/Images/warehouse.png";
                                break;
                            default:
                                image_path = "/Content/Images/wph.png";
                                break;
                        }
                    }
                    <img src="@image_path" width="150" />

                </div>

            </div>
            @*}
                else if (cs.SectionTypeName == "Clinic")
                {
                <div class="col-sm-5 chooseClinicSection" onclick="SelectClinicSection(this)" data-ClinicSectionId="@cs.Guid" data-SectionTypeId="@cs.SectionTypeId">

                <h4>@cs.Name</h4>
                <img src="~/Content/Images/clinic.png" width="150" />

                </div>
                }*@

        }
    }


</div>




<script>


    function SelectClinicSection(element) {


        $(".loader").removeClass("hidden");
        var clinicSectionId = $(element).attr('data-ClinicSectionId');

        window.location.href = "/ApplicationHandler/Index?clinicSectionId=" + clinicSectionId;
        $(".loader").fadeIn("slow");


    }


</script>