@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", dir = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        dir = " ";
        <h3 id="newItemText" class="hidden">@Localizer["New"] @Localizer["Items"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        dir = " direction:rtl; ";
        <h3 id="newItemText" class="hidden">@Localizer["Items"] @Localizer["New"]</h3>
    }
    <h3 id="editItemText" class="hidden">@Localizer["Edit"] @Localizer["Items"]</h3>
}

<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Items"]
        </h1>

    </div>
    @if ((bool)ViewBag.AccessNewItem)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddItem(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }

</div><!-- /.page-header -->


<div id="AddItemModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddItemModal()" aria-hidden="true">&times;</button>
                <h3 id="AddItemModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddItemModal-body" class="modal-body" style="width:60rem">
            </div>
            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addItem-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addNewItem()" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-addItem-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddItemModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<!-- Grid -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Item/dgItemGrid.cshtml")
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    function AddItem(element) {
        $("#AddItemModal #ERROR_Data").addClass("hidden");
        $("#AddItemModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/Item/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newItemText").text();

        $('#AddItemModal-header').text(header);
        $('#AddItemModal').modal('toggle');
        $('#AddItemModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditItem(element) {
        $("#AddItemModal #ERROR_Data").addClass("hidden");
        $("#AddItemModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddItemModal').modal('toggle');
        let header = $("#editItemText").text();
        $('#AddItemModal-header').text(header);
        var link = "/Item/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddItemModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }


    function addNewItem() {
        $("#AddItemModal #ERROR_Data").addClass("hidden");
        $("#AddItemModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }


        var link = "/Item/AddOrUpdate";

        var data = $("#addNewItemForm").serialize();


        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Name-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#AddItemModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddItemModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddItemModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $(".k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddItemModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    }

    function closeAddItemModal() {

        $('#AddItemModal').modal('hide');
        $('#AddItemModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

</script>