@model WPH.Models.PurchaseInvoiceDetailSalePrice.ParentDetailSalePriceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = "  ";

        <h3 id="newSalePriceText" class="hidden">@Localizer["New"] @Localizer["SalePrice"]</h3>
        <h3 id="editSalePriceText" class="hidden">@Localizer["Edit"] @Localizer["SalePrice"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";

        <h3 id="newSalePriceText" class="hidden">@Localizer["SalePrice"] @Localizer["New"]</h3>
        <h3 id="editSalePriceText" class="hidden">@Localizer["SalePrice"] @Localizer["Edit"]</h3>
    }
}
@Html.HiddenFor(p => p.ProductName)

<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["SalePrices"]
        </h1>
    </div>

    @if ((bool)ViewBag.AccessNewPurchaseInvoiceDetailSalePrice)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="NewSalePrice(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }

</div><!-- /.page-header -->


<div id="AddNewSalePriceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction overflow:visible;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddNewSalePriceModal()" aria-hidden="true">&times;</button>
                <h3 id="AddNewSalePriceModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddNewSalePriceModal-body" class="modal-body" style="width:60rem">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>
            
            <div id="RepeatedCurrency" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["RepeatedCurrency"]
            </div>
        
            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>
            
            <div id="ThereIsNoMoneyConvert" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ThereIsNoMoneyConvert"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-AddNewSalePrice-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right"})
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-AddNewSalePrice-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddNewSalePriceModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="DeleteSalePriceModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog modal-sm" style="position: fixed; left: 0; right: 0;">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" onclick="closeDeleteSalePriceModal()" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteSalePriceModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
                <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
                </div>

                <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["InvoiceInUse"]
                </div>

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_SomeThingWentWrong"]
                </div>

            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-DeleteSalePrice-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-DeleteSalePrice-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeDeleteSalePriceModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div>
    </div>
</div>

<!-- Grid -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/PurchaseInvoiceDetailSalePrice/dgPurchaseInvoiceDetailSalePriceGrid.cshtml", Model.PurchaseInvoiceDetailId)
</div>


<script>

    $(document).ready(function () {

        $('#AddSalePriceModal-productName').text($("#ProductName").val());
    });

    function NewSalePrice(element) {

        $("#AddNewSalePriceModal #ERROR_Data").addClass("hidden");
        $("#AddNewSalePriceModal #RepeatedCurrency").addClass("hidden");
        $("#AddNewSalePriceModal #InvoiceInUse").addClass("hidden");
        $("#AddNewSalePriceModal #ThereIsNoMoneyConvert").addClass("hidden");
        $("#AddNewSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var id = '@Model.PurchaseInvoiceDetailId';
        var link = "/PurchaseInvoiceDetailSalePrice/AddNewModal?purchaseInvoiceDetailId=";
        $(".loader").removeClass("hidden");

        let header = $("#newSalePriceText").text();

        $('#AddNewSalePriceModal-header').text(header);
        $('#AddNewSalePriceModal').modal('toggle');
        $('#AddNewSalePriceModal-body').load(link + id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditSalePrice(element) {

        $("#AddNewSalePriceModal #ERROR_Data").addClass("hidden");
        $("#AddNewSalePriceModal #RepeatedCurrency").addClass("hidden");
        $("#AddNewSalePriceModal #InvoiceInUse").addClass("hidden");
        $("#AddNewSalePriceModal #ThereIsNoMoneyConvert").addClass("hidden");
        $("#AddNewSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddNewSalePriceModal').modal('toggle');
        let header = $("#editSalePriceText").text();
        $('#AddNewSalePriceModal-header').text(header);
        var link = "/PurchaseInvoiceDetailSalePrice/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddNewSalePriceModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    $('#btn-AddNewSalePrice-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddNewSalePriceModal #ERROR_Data").addClass("hidden");
        $("#AddNewSalePriceModal #RepeatedCurrency").addClass("hidden");
        $("#AddNewSalePriceModal #InvoiceInUse").addClass("hidden");
        $("#AddNewSalePriceModal #ThereIsNoMoneyConvert").addClass("hidden");
        $("#AddNewSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddNewSalePrice-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/PurchaseInvoiceDetailSalePrice/AddOrUpdate";
        var data = $("#addNewSalePriceForm").serialize();

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-AddNewSalePrice-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "DataNotValid") {

                        $("#AddNewSalePriceModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "RepeatedCurrency") {

                        $("#AddNewSalePriceModal #RepeatedCurrency").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "InvoiceInUse") {

                        $("#AddNewSalePriceModal #InvoiceInUse").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "ThereIsNoMoneyConvert") {

                        $("#AddNewSalePriceModal #ThereIsNoMoneyConvert").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#AddNewSalePriceModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddNewSalePriceModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#salePriceKendoGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddNewSalePriceModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeAddNewSalePriceModal() {

        $('#AddNewSalePriceModal').modal('hide');
        $('#AddNewSalePriceModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

    function DeleteSalePriceFunction(element) {
        $("#DeleteSalePriceModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteSalePriceModal #InvoiceInUse").addClass("hidden");
        $("#DeleteSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeleteSalePriceModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-DeleteSalePrice-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }

    function closeDeleteSalePriceModal() {

        $('#DeleteSalePriceModal').modal('hide');
        $(".modal-backdrop:last").remove();
    }

    $("#btn-DeleteSalePrice-accept").on("click", function () {
        $(this).attr("disabled", true);

        $("#DeleteSalePriceModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteSalePriceModal #InvoiceInUse").addClass("hidden");
        $("#DeleteSalePriceModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/PurchaseInvoiceDetailSalePrice/Remove";
        var Id = $(this).attr('data-id');

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: {
                salePriceId: Id
            },
            success: function (response) {
                $('#btn-DeleteSalePrice-accept').removeAttr("disabled");

                if (response === 0) {

                    $("#DeleteSalePriceModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {

                    $("#DeleteSalePriceModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#DiscountModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ERROR_SomeThingWentWrong") {

                    $("#DiscountModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $('#DeleteSalePriceModal').modal('hide');
                    $(".modal-backdrop:last").remove();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#salePriceKendoGrid .k-pager-refresh")[0].click();

                }
            }
        });


    });

</script>