@model WPH.Models.Room.RoomViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewRoomForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Guid)
                    @Html.HiddenFor(m => m.NameHolder)
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Name"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                                .Name("Name")
                                .Value(Model.Name)
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Name-box" })
                            )
                        </span>
                        <span id="Name-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                        <span id="Name-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["RoomType"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().DropDownList()
                                  .Name("TypeId")
                                  .DataTextField("Name")
                                  .DataValueField("Id")
                                  //.Filter("contains")
                                  .DataSource(source =>
                                    {
                                      source.Read(read =>
                                      {
                                          read.Action("GetAllRoomTypes", "BaseInfo");
                                      })
                                      .ServerFiltering(false);
                                  })
                                  .Value(Model.TypeId.ToString())
                                  .Text(Model.RoomType)
                                  .HtmlAttributes(new { style = "width: 100%;" })
                            )
                        </span>
                    </label>
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["ClinicSection"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().DropDownList()
                                  .Name("RoomClinicSectionId")
                                  .DataTextField("Name")
                                  .DataValueField("Guid")
                                  //.Filter("contains")
                                  .DataSource(source =>
                                    {
                                      source.Read(read =>
                                      {
                                          read.Action("GetAllClinicSectionsForUser", "ClinicSection");
                                      })
                                      .ServerFiltering(false);
                                  })
                                  .Value(Model.RoomClinicSectionId.ToString())
                                  .Text(Model.SectionName)
                                  .HtmlAttributes(new { style = "width: 100%;" })
                            )
                        </span>
                    </label>
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["RoomStatus"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().DropDownList()
                                  .Name("RoomStatusId")
                                  .DataTextField("Name")
                                  .DataValueField("Id")
                                  //.Filter("contains")
                                  .DataSource(source =>
                                    {
                                      source.Read(read =>
                                      {
                                          read.Action("GetAllRoomStatus", "BaseInfo");
                                      })
                                      .ServerFiltering(false);
                                  })
                                  .Value(Model.RoomStatusId.ToString())
                                  .Text(Model.RoomStatus)
                                  .HtmlAttributes(new { style = "width: 100%;" })
                            )
                        </span>
                    </label>
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["MaxCapacity"] : </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().NumericTextBox<int>()
                                .Name("MaxCapacity")
                                .Value(Model.MaxCapacity)
                                .Decimals(0)
                                .Min(0)
                                .Format("0")
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "MaxCapacity-box" })
                            )
                        </span>
                        <span id="MaxCapacity-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                    </label>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>

    $(document).ready(function () {


        setTimeout(function () {
            $("#Name").focus();
        }, 200);

    });


    $('#Name').focus(function () {
        $("#Name-Exist").addClass('hidden');
        $("#Name-box").addClass('hidden');
        $("#Name").select();
    });

    $('#Name').on('keypress', function (e) {

        if (e.which === 13) {
            e.preventDefault();
            $('#RoomTypeId').focus();
        }

        $('#RoomTypeId').on('keypress', function (e) {

        if (e.which === 9) {

            $('#btn-addRoom-accept').focus();
        }
    });


    });
</script>
