@model WPH.Models.ReturnSaleInvoice.ReturnSaleInvoiceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    var now = DateTime.Now;
    string font = "", pull = "", pull_rev = "", dir = "", header_txt = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        pull_rev = " pull-right ";
        dir = "  ";
        <h3 id="NewReturnSaleInvoiceHeader" class="hidden"> @Localizer["New"] - @Localizer["ReturnSaleInvoice"] </h3>
        <h3 id="EditReturnSaleInvoiceHeader" class="hidden"> @Localizer["Edit"] - @Localizer["ReturnSaleInvoice"] </h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        pull_rev = " pull-left ";
        dir = " direction:rtl; ";
        <h3 id="NewReturnSaleInvoiceHeader" class="hidden"> @Localizer["ReturnSaleInvoice"] - @Localizer["New"] </h3>
        <h3 id="EditReturnSaleInvoiceHeader" class="hidden"> @Localizer["ReturnSaleInvoice"] - @Localizer["Edit"] </h3>
    }

    if (Model.Guid == Guid.Empty)
    {
        header_txt = $"{Localizer["ReturnPurchaseInvoice"]} _ {Localizer["New"]}";

    }
    else
    {
        header_txt = $"{Localizer["ReturnSaleInvoice"]} _ {Localizer["Edit"]}";

    }

    bool can_change = !(bool)(ViewBag.ReturnSaleReceived ?? false);
}

<style>


    @@media (max-width:767px) {
        .modal-dialog {
            width: 70vw;
            margin: 30px auto
        }

        .modal-content {
            -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5)
        }

        .modal-sm {
            width: 300px
        }

        #AddReturnSaleInvoiceDetailModal-body {
            width: 90vw;
        }
    }

    @@media (min-width:768px) {
        #AddReturnSaleInvoiceDetailModal-body {
            width: 60vw;
        }
    }
</style>

<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @header_txt
        </h1>

    </div>

    @*<div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="ExitReturnSale(this)" href="#" style="padding:0.2rem">
                @Localizer["Exit"]

            </a>
        </div>*@

</div><!-- /.page-header -->


<div class="row @font" style="@dir">
    <div class="col-sm-12 shadow-border" style="margin:1rem 0">

        <form id="addNewReturnSaleInvoiceForm">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Guid)

                <div class="col-sm-12">

                    <div class="col-sm-3">
                        <label class="block clearfix ">
                            <label for="form-field-8">@Localizer["Customer"]: </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().DropDownList()
                                    .Name("CustomerId")
                                    .DataTextField("Name")
                                    .DataValueField("Guid")
                                    .Filter("contains")
                                    .Enable(can_change && Model.CanChange)
                                    .OptionLabel(" ")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetAllCustomers", "Customer");
                                        })
                                        .ServerFiltering(false);
                                    })
                                    .Value(Model.CustomerId?.ToString())
                                    .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "Customer1-box" })
                                    )
                            </span>
                            <span id="Customer1-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["InvoiceNum"]:</label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                    .Name("InvoiceNumTxt")
                                    .Enable(false)
                                    .Value(Model.InvoiceNum)
                                    .HtmlAttributes(new { style = "width: 100%;" })
                                    )
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["InvoiceDate"]: </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().DatePicker()
                                .Name("InvoiceDateTxt")
                                .Value(Model.InvoiceDate ?? now)
                                .Format("dd/MM/yyyy")
                                .Max(now)
                                .Enable((bool)ViewBag.AccessEditDate && can_change)
                                .HtmlAttributes(new { style = "width: 100%;", onchange = "TryDateWithOutFuture(this)", @data_checkEmpty = "InvoiceDate-box" })
                                )
                            </span>
                            <span id="InvoiceDate-box" class="emptybox hidden" data-isEssential="true" style="color:red;font-size: 11px;">
                                @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                            </span>
                            <span id="Date-valid" class="emptybox hidden" style="color:red;">
                                @Localizer["DateNotValid"]
                            </span>
                        </label>
                    </div>

                    <div class="col-sm-3">
                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Description"]:</label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                .Name("Description")
                                .Value(Model.Description)
                                .Enable(can_change)
                                .HtmlAttributes(new { style = "width: 100%;" })
                                )
                            </span>
                        </label>
                    </div>

                </div>

                <div class="col-sm-12" style="display:flex;align-items:flex-end">

                    <div class="col-sm-3">

                    </div>

                    <div class="col-sm-3">

                    </div>

                    <div class="col-sm-6">

                        @(Html.Kendo().Button()
                        .Name("btn-addReturnSaleSaleInvoiceDetail-exit")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-danger " + pull_rev + "", onclick = "ExitReturnSale(this)" })
                        .Content((bool)(ViewBag.BackToAccount ?? false) ? Localizer["ReturnSaleInvoiceList"] : Localizer["Exit"]))

                        @(Html.Kendo().Button()
                        .Name("btn-addReturnSaleSaleInvoiceDetail-accept")
                        .Enable(can_change)
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary " + pull_rev + "" })
                        .Content(Localizer["Ok"]))

                        @(Html.Kendo().Button()
                        .Name("btn-updateReturnSaleInvoice-accept")
                        .Enable(can_change)
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "" })
                        .Content(Localizer["Ok"]))

                        @if ((bool)(ViewBag.BackToAccount ?? false))
                        {
                            @(Html.Kendo().Button()
                            .Name("btn-updateReturnSaleInvoice-exit-accept")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "" })
                            .Content($"{Localizer["Ok"]} {Localizer["And"]} {Localizer["Exit"]}"))
                        }

                        @if ((bool)ViewBag.AccessNewReturnSaleInvoiceDetail)
                        {
                            @(Html.Kendo().Button()
                            .Name("btn-ReturnSaleInvoiceDetailNewModal")
                            .Enable(can_change)
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary hidden " + pull_rev + "", onclick = "AddReturnSaleInvoiceDetail()" })
                            .Content(Localizer["AddProduct"]))
                        }

                        @(Html.Kendo().Button()
                        .Name("btn-ShowDiscountsList")
                        .Enable(can_change)
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-secondary hidden " + pull_rev+"" })
                        .Content(Localizer["Discount"]))

                        @if ((bool)(ViewBag.BackToAccount ?? false))
                        {
                            <div class="btn k-button @pull_rev" style=" font-size: 15px; height: 35px; margin: 2px;">
                                <a class="" onClick="BackToPay()" style="">
                                    <span>
                                        <i class="ace-icon fa fa-arrow-left align-top bigger-125"></i>
                                    </span>
                                </a>
                            </div>
                        }
                    </div>

                </div>

                <div>
                    <div id="CantChangeCustomer" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["ToChangeCustomerDeleteDetailsFirst"]
                    </div>

                    <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["ERROR_DataNotValid"]
                    </div>

                    <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["InvoiceInUse"]
                    </div>

                    <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                        <i class="ace-icon fa fa-stop bigger-120"></i>
                        @Localizer["ERROR_InsertWrong"]
                    </div>
                </div>

                <div class="space-24"></div>
            </fieldset>
        </form>
    </div>


    <div class="@pull col-sm-12 shadow-border">

        <script>

            function GetReturnSaleInvoiceId() {
                return {
                    returnSaleInvoiceId: $("#Guid").val()
                }
            }

            function GetParametersForSelectReturn() {
                return {
                    masterId: $("#Guid").val(),
                    productId: $("#ProductId").val(),
                    like: $("#Like").is(":checked")
                }
            }

        </script>


        <div class="col-sm-12 Grid-Content @font">
            @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ReturnSaleInvoiceDetail/dgReturnSaleInvoiceDetailGrid.cshtml")
        </div>
    </div>

</div><!-- /.signup-box -->

<div id="AddReturnSaleInvoiceDetailModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir ">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddReturnSaleInvoiceDetailModal()" aria-hidden="true">&times;</button>
                <h3 id="AddReturnSaleInvoiceDetailModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["Edit"] @Localizer["ReturnSaleInvoice"]
                </h3>
            </div>

            <div id="AddReturnSaleInvoiceDetailModal-body" class="modal-body" style="">
            </div>

            <div id="AmountOverFlow" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["DiscountIsGreaterThanTheAmount"]
            </div>

            <div id="ERROR_MoneyConvert" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ThereIsNoMoneyConvert"]
            </div>

            <div id="NotEnoughProductCount" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["NotEnoughProductCount"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-AddReturnSaleInvoiceDetailModal-okAndNew")
                .Enable(can_change)
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["OkAndNew"]))
                @(Html.Kendo().Button()
                .Name("btn-AddReturnSaleInvoiceDetailModal-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-warning pull-right k-button" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-AddReturnSaleInvoiceDetailModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeAddReturnSaleInvoiceDetailModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="DeleteReturnSaleInvoiceDetailModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteReturnSaleInvoiceDetailModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
            </div>

            <div id="AmountOverFlow" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["DiscountIsGreaterThanTheAmount"]
            </div>

            <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;display:block;margin-top:2rem">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_SomeThingWentWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-deleteReturnSaleInvoiceDetail-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-deleteReturnSaleInvoiceDetail-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", @data_dismiss = "modal" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="ShowDiscountsListModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeShowDiscountsListModal()" aria-hidden="true">&times;</button>
                <h3 id="ShowDiscountsListModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="ShowDiscountsListModal-body" class="modal-body" style="">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">


                @(Html.Kendo().Button()
                .Name("btn-ShowDiscountsList-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeShowDiscountsListModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<div id="ShowSaleInvoiceDetailListModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@dir ">
    <div class="modal-dialog" style="width:85%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeShowSaleInvoiceDetailListModal()" aria-hidden="true">&times;</button>
                <h3 id="ShowSaleInvoiceDetailListModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["SaleInvoiceDetail"]
                </h3>
            </div>

            <div id="ShowSaleInvoiceDetailListModal-body" class="modal-body" style="">
            </div>

            <div id="InvoiceInUse" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["InvoiceInUse"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div id="ERROR_NothingSelected" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["NothingSelected"]
            </div>

            <div id="ERROR_AccessDenied" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["AccessDenied"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>


            <div class="modal-footer">

                @(Html.Kendo().Button()
                    .Name("btn-ShowSaleInvoiceDetailListModal-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                    .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-ShowSaleInvoiceDetailListModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick= "closeShowSaleInvoiceDetailListModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>

<script>

    var product_list = [];
    var updated = false;
    var ok_exit = false;

    $(document).ready(function () {
        SetTotalPrice('@Model.TotalPrice');
        let invoice = $('#Guid').val();

        if (invoice !== null && invoice !== "" && invoice !== "00000000-0000-0000-0000-000000000000" && invoice !== undefined) {
            $('#btn-updateReturnSaleInvoice-accept').removeClass('hidden');
            $('#btn-updateReturnSaleInvoice-exit-accept').removeClass('hidden');
            $('#btn-ReturnSaleInvoiceDetailNewModal').removeClass('hidden');
            $('#btn-ShowDiscountsList').removeClass('hidden');
            $('#btn-addReturnSaleSaleInvoiceDetail-accept').addClass('hidden');
        }

        //setTimeout(function () {
        //    $("#CustomerId").focus();
        //    $('#CustomerId').data("kendoDropDownList").open();
        //}, 200);

    });

    $("#CustomerId").parent().on("keypress", function (e) {
        if (e.which === 13) {
            $('#InvoiceDateTxt').focus();
        }
    });

    $('#InvoiceDateTxt').on('keypress', function (e) {

        if (e.which === 13) {
            $("#Description").focus();
        }
    });

    $("#Description").on("keypress", function (e) {
        if (e.which === 13) {
            if ($('#btn-addReturnSaleSaleInvoiceDetail-accept').hasClass('hidden')) {
                $('#btn-updateReturnSaleInvoice-accept').focus();
            }
            else {
                $('#btn-addReturnSaleSaleInvoiceDetail-accept').focus();
            }
        }
    });

    $('#btn-addReturnSaleSaleInvoiceDetail-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#addNewReturnSaleInvoiceForm #CantChangeCustomer").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #ERROR_Data").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #Date-valid").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #InvoiceInUse").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#addNewReturnSaleInvoiceForm .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-addReturnSaleSaleInvoiceDetail-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/ReturnSaleInvoice/AddOrUpdate";

        let saleInvoice = {
            Guid: $("#Guid").val(),
            CustomerId: $("#CustomerId").val(),
            InvoiceDateTxt: $("#InvoiceDateTxt").val(),
            Description: $("#Description").val(),
        };

        var data = saleInvoice;
        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-addReturnSaleSaleInvoiceDetail-accept').removeAttr("disabled");

                if (response !== 0) {

                    if (response === "DateNotValid") {

                        $('"#addNewReturnSaleInvoiceForm #Date-valid"').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "InvoiceInUse") {

                        $("#addNewReturnSaleInvoiceForm #InvoiceInUse").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "CantChangeCustomer") {

                        $("#addNewReturnSaleInvoiceForm #CantChangeCustomer").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#addNewReturnSaleInvoiceForm #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "ThereIsNoMoneyConvert") {

                        bootbox.alert({
                            message: " @Localizer["ThereIsNoMoneyConvert"]",
                            className: 'bootbox-class'
                        });
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response.includes("YouHaveJust")) {

                        bootbox.alert({
                            message: `${response}`,
                            className: 'bootbox-class'
                        });
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                        let guid = response.split("_");
                        $('#Guid').val(guid[0]);
                        $('#InvoiceNumTxt').val(guid[1]);

                        $('#btn-updateReturnSaleInvoice-accept').removeClass('hidden');
                        $('#btn-updateReturnSaleInvoice-exit-accept').removeClass('hidden');
                        $('#btn-ReturnSaleInvoiceDetailNewModal').removeClass('hidden');
                        $('#btn-ShowDiscountsList').removeClass('hidden');
                        $('#btn-addReturnSaleSaleInvoiceDetail-accept').addClass('hidden');
                    }
                } else {

                    $("#addNewReturnSaleInvoiceForm #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });


    $("#btn-ShowDiscountsList").on("click", function () {

        $("#ShowDiscountsListModal #ERROR_Data").addClass("hidden");
        $("#ShowDiscountsListModal #InvoiceInUse").addClass("hidden");
        $("#ShowDiscountsListModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#ShowDiscountsListModal').modal('toggle');

        var link = "/ReturnSaleInvoiceDiscount/Form?returnSaleInvoiceId=";
        var Id = $("#Guid").val();
        $(".loader").removeClass("hidden");
        $('#ShowDiscountsListModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    });

    function closeShowDiscountsListModal() {

        $('#ShowDiscountsListModal').modal('hide');
        $('#ShowDiscountsListModal-body').empty();
        $(".modal-backdrop:last").remove();
    }

    $("#btn-updateReturnSaleInvoice-exit-accept").on("click", function () {

        ok_exit = true;
        $('#btn-updateReturnSaleInvoice-accept').trigger('click');
    });

    $("#btn-updateReturnSaleInvoice-accept").on("click", function () {
        $(this).attr("disabled", true);

        $("#addNewReturnSaleInvoiceForm #CantChangeCustomer").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #ERROR_Data").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #Date-valid").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #InvoiceInUse").addClass("hidden");
        $("#addNewReturnSaleInvoiceForm #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#addNewReturnSaleInvoiceForm .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#addNewReturnSaleInvoiceForm .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-updateReturnSaleInvoice-accept').removeAttr("disabled");
                    ok_exit = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var link = "/ReturnSaleInvoice/AddOrUpdate";

        let saleInvoice = {
            Guid: $("#Guid").val(),
            CustomerId: $("#CustomerId").val(),
            InvoiceDateTxt: $("#InvoiceDateTxt").val(),
            Description: $("#Description").val(),
        };

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: link,
            data: saleInvoice,
            success: function (response) {
                $('#btn-updateReturnSaleInvoice-accept').removeAttr("disabled");

                if (response === 0) {

                    ok_exit = false;
                    $("#addNewReturnSaleInvoiceForm #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    ok_exit = false;
                    $("#addNewReturnSaleInvoiceForm #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DateNotValid") {

                    ok_exit = false;
                    $("#addNewReturnSaleInvoiceForm #Date-valid").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "CantChangeCustomer") {

                    ok_exit = false;
                    $("#addNewReturnSaleInvoiceForm #CantChangeCustomer").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DataNotValid") {

                    ok_exit = false;
                    $("#addNewReturnSaleInvoiceForm #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    if (ok_exit) {
                        ExitReturnSale();
                    } else {
                        SetTotalPrice(response);
                    }
                }
            }
        });


    });


    function AddReturnSaleInvoiceDetail() {
        $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #NotEnoughProductCount").addClass("hidden");

        let header = $("#NewReturnSaleInvoiceHeader").text();
        $('#AddReturnSaleInvoiceDetailModal-header').text(header);
        $('#AddReturnSaleInvoiceDetailModal').modal('toggle');

        $('#AddReturnSaleInvoiceDetailModal-body').empty();

        var link = "/ReturnSaleInvoiceDetail/AddModal";

        $(".loader").removeClass("hidden");
        $('#AddReturnSaleInvoiceDetailModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function EditReturnSaleInvoiceDetail(element) {
        $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #NotEnoughProductCount").addClass("hidden");

        let header = $("#EditReturnSaleInvoiceHeader").text();
        $('#AddReturnSaleInvoiceDetailModal-header').text(header);
        $('#AddReturnSaleInvoiceDetailModal').modal('toggle');

        $('#AddReturnSaleInvoiceDetailModal-body').empty();

        var link = "/ReturnSaleInvoiceDetail/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddReturnSaleInvoiceDetailModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeAddReturnSaleInvoiceDetailModal() {
        $('#AddReturnSaleInvoiceDetailModal').modal('hide');
        $('#AddReturnSaleInvoiceDetailModal-body').empty();
        $(".modal-backdrop:last").remove();
    }


    $('#btn-AddReturnSaleInvoiceDetailModal-okAndNew').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddReturnSaleInvoiceDetailModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#AddReturnSaleInvoiceDetailModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddReturnSaleInvoiceDetailModal-okAndNew').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }


        let returnDetail = {

            Guid: $("#DetailGuid").val(),
            MasterId: $("#Guid").val(),
            SaleInvoiceDetailId: $("#SaleInvoiceDetailId").val(),
            NumTxt: $("#Num").val(),
            FreeNumTxt: $("#FreeNum").val(),
            DiscountTxt: $("#DiscountSharp").val(),
            TotalPriceTxt: $("#TotalPrice").val(),
            CurrencyId: $("#CurrencyId").val(),
            ReasonTxt: $("#ReasonTxt").val(),
        }

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: "/ReturnSaleInvoiceDetail/AddOrUpdate",
            data: returnDetail,
            success: function (response) {
                $('#btn-AddReturnSaleInvoiceDetailModal-okAndNew').removeAttr("disabled");

                if (response === "NotEnoughProductCount") {

                    $("#AddReturnSaleInvoiceDetailModal #NotEnoughProductCount").removeClass("hidden");

                    let max = $("#FixMaxRem").val();
                    let freeMax = $("#FixMaxFreeRem").val();
                    $("#Num").data("kendoNumericTextBox").value(max);
                    $("#FreeNum").data("kendoNumericTextBox").value(freeMax);
                    SetWholePrice();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DiscountIsGreaterThanTheAmount") {

                    $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DataNotValid") {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ThereIsNoMoneyConvert") {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === 0) {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#saleInvoiceDetailKendoGrid .k-pager-refresh")[0].click();

                    $('#AddReturnSaleInvoiceDetailModal').modal('hide');
                    $('#AddReturnSaleInvoiceDetailModal-body').empty();
                    $(".modal-backdrop:last").remove();

                    setTimeout(function () {
                        $('#btn-ReturnSaleInvoiceDetailNewModal').trigger('click');
                    }, 500);

                    SetTotalPrice(response);
                }
            }
        });

    });

    $('#btn-AddReturnSaleInvoiceDetailModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #Date-valid").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#AddReturnSaleInvoiceDetailModal #NotEnoughProductCount").addClass("hidden");

        $('#AddReturnSaleInvoiceDetailModal .emptybox').addClass('hidden');
        var isEmmpty = true;
        $('#AddReturnSaleInvoiceDetailModal .emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    $('#btn-AddReturnSaleInvoiceDetailModal-accept').removeAttr("disabled");
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }


        let returnDetail = {

            Guid: $("#DetailGuid").val(),
            MasterId: $("#Guid").val(),
            SaleInvoiceDetailId: $("#SaleInvoiceDetailId").val(),
            NumTxt: $("#Num").val(),
            FreeNumTxt: $("#FreeNum").val(),
            DiscountTxt: $("#DiscountSharp").val(),
            TotalPriceTxt: $("#TotalPrice").val(),
            CurrencyId: $("#CurrencyId").val(),
            ReasonTxt: $("#ReasonTxt").val(),
        }

        $(".loader").removeClass("hidden");

        $.ajax({
            type: "Post",
            url: "/ReturnSaleInvoiceDetail/AddOrUpdate",
            data: returnDetail,
            success: function (response) {
                $('#btn-AddReturnSaleInvoiceDetailModal-accept').removeAttr("disabled");

                if (response === "NotEnoughProductCount") {

                    $("#AddReturnSaleInvoiceDetailModal #NotEnoughProductCount").removeClass("hidden");

                    let max = $("#FixMaxRem").val();
                    let freeMax = $("#FixMaxFreeRem").val();
                    $("#Num").data("kendoNumericTextBox").value(max);
                    $("#FreeNum").data("kendoNumericTextBox").value(freeMax);
                    SetWholePrice();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DiscountIsGreaterThanTheAmount") {

                    $("#AddReturnSaleInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DataNotValid") {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_Data").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ThereIsNoMoneyConvert") {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_MoneyConvert").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#AddReturnSaleInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === 0) {

                    $("#AddReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#saleInvoiceDetailKendoGrid .k-pager-refresh")[0].click();
                    closeAddReturnSaleInvoiceDetailModal();

                    SetTotalPrice(response);
                }
            }
        });

    });

    function ReturnSaleInvoiceDetailDeleteFunction(element) {

        $("#DeleteReturnSaleInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeleteReturnSaleInvoiceDetailModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-deleteReturnSaleInvoiceDetail-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }

    $('#btn-deleteReturnSaleInvoiceDetail-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#DeleteReturnSaleInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #InvoiceInUse").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#DeleteReturnSaleInvoiceDetailModal #AmountOverFlow").addClass("hidden");

        var Id = $(this).attr('data-id');

        var link = "/ReturnSaleInvoiceDetail/Remove";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                Id: Id
            },
            success: function (response) {
                $('#btn-deleteReturnSaleInvoiceDetail-accept').removeAttr("disabled");

                if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {
                    $("#DeleteReturnSaleInvoiceDetailModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "ERROR_SomeThingWentWrong" || response === 0) {
                    $("#DeleteReturnSaleInvoiceDetailModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "InvoiceInUse") {

                    $("#DeleteReturnSaleInvoiceDetailModal #InvoiceInUse").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else if (response === "DiscountIsGreaterThanTheAmount") {

                    $("#DeleteReturnSaleInvoiceDetailModal #AmountOverFlow").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                } else {
                    $('#DeleteReturnSaleInvoiceDetailModal').modal('hide');
                    $(".modal-backdrop:last").remove();

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#saleInvoiceDetailKendoGrid .k-pager-refresh")[0].click();
                    SetTotalPrice(response);
                }
            }
        });
    });

    function ExitReturnSale() {
        $(".loader").removeClass("hidden");
        var link = "/ReturnSaleInvoice/Form";
        $(".page-content").load(link, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })
    }

    function SetTotalPrice(total) {
        let enable = true;
        let result = "";
        let res = total.toString().split("#");
        if (res.length == 3) {

            let price = res[0].split("_");
            let discount = res[1].split("_");
            let price_after_discount = res[2].split("_");

            result += `
                <div class="col-sm-12" style="padding:0px;">

                    <div class="col-sm-4" style="">
                        <label style=" font-size: 18px;">${$("#TotalTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < price.length; i++) {
                let txt = price[i].split(" ");
                if (txt.length > 1) {
                    enable = false;
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
                }
            }
            result += `
                        </div>
                    </div>

                    <div class="col-sm-4" style="">
                        <label style=" font-size: 18px;">${$("#TotalDiscountTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < discount.length; i++) {
                let txt = discount[i].split(" ");
                if (txt.length > 1)
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
            }
            result += `
                        </div>
                    </div>

                    <div class="col-sm-4" style="">
                        <label style=" font-size: 18px;">${$("#TotalPriceAfterDiscountTxt").val()}</label>
                        <div class="elementBox">`;
            for (let i = 0; i < price_after_discount.length; i++) {
                let txt = price_after_discount[i].split(" ");
                if (txt.length > 1)
                    result += `<div class=" elementStyle"> <div style="white-space: nowrap;" class="col-sm-2">${txt[0]}</div>  <div style="white-space: nowrap;" class="col-sm-10">${txt[1]}</div> </div>`;
            }
            result += `
                        </div>
                    </div>

                </div>`;
        }
        $('#saleInvoiceDetailTotalPrice').empty();

        $("#CustomerId").data("kendoDropDownList").enable(enable);

        var ul = document.getElementById("saleInvoiceDetailTotalPrice");
        ul.insertAdjacentHTML('afterbegin', result);
    }

    function ShowSaleInvoiceDetailListModal() {
        $("#ShowSaleInvoiceDetailListModal #InvoiceInUse").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_NothingSelected").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_AccessDenied").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #MultiReason-box").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_Data-box").addClass("hidden");

        $('#ShowSaleInvoiceDetailListModal').modal('toggle');
        $('#ShowSaleInvoiceDetailListModal-body').empty();

        var link = "/ReturnSaleInvoiceDetail/SelectModal";

        $(".loader").removeClass("hidden");
            $('#ShowSaleInvoiceDetailListModal-body').load(link , function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });
    }

    function closeShowSaleInvoiceDetailListModal() {
        $("#SaleInvoiceDetailId").val("");
        $("#SaleInvoiceDetailTxt").val("");
        var productId = $("#ProductId").data("kendoDropDownList");
        productId.value('');

        $('#ShowSaleInvoiceDetailListModal').modal('hide');
        $('#ShowSaleInvoiceDetailListModal-body').empty();
        $(".modal-backdrop:last").remove();
    }


    $('#btn-ShowSaleInvoiceDetailListModal-accept').on("click", function () {
        $(this).attr("disabled", true);
        var returns = [];
        let reason = $("#MultiReason").val();

        $("#ShowSaleInvoiceDetailListModal #InvoiceInUse").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_NothingSelected").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_AccessDenied").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #MultiReason-box").addClass("hidden");
        $("#ShowSaleInvoiceDetailListModal #ERROR_Data").addClass("hidden");

        $('.select_return').each(function () {
            if ($(this).is(":checked")) {
                var item = {
                    MasterId: $("#Guid").val(),
                    SaleInvoiceDetailId: $(this).attr("data-id"),
                    Num: $(this).attr("data-rem"),
                    Price: $(this).attr("data-price"),
                    CurrencyName: $(this).attr("data-currency"),
                    TXT: $(this).attr("data-txt"),
                    ReasonTxt: reason
                };
                returns.push(item);
            }
        });

        if (returns.length == 0) {

            $("#ShowSaleInvoiceDetailListModal #ERROR_NothingSelected").removeClass("hidden");
            $('#btn-ShowSaleInvoiceDetailListModal-accept').removeAttr("disabled");
            return;
        }

        if (returns.length == 1) {

            $("#SaleInvoiceDetailId").val(returns[0].SaleInvoiceDetailId);
            $("#SaleInvoiceDetailTxt").val(returns[0].TXT);

            let num = $("#Num").data("kendoNumericTextBox");
            num.value(returns[0].Num);

            let price = $("#Price").data("kendoNumericTextBox");
            price.value(returns[0].Price);

            let total = $("#TotalPrice").data("kendoNumericTextBox");
            total.value(returns[0].Num * returns[0].Price);

            var dropdownlist = $("#CurrencyId").data("kendoDropDownList");
            dropdownlist.text(returns[0].CurrencyName);

            $('#btn-ShowSaleInvoiceDetailListModal-accept').removeAttr("disabled");
            $('#ShowSaleInvoiceDetailListModal').modal('hide');
            $('#ShowSaleInvoiceDetailListModal-body').empty();
            $(".modal-backdrop:last").remove();

        } else {

            if (reason == '') {
                $("#ShowSaleInvoiceDetailListModal #MultiReason-box").removeClass("hidden");
                $('#btn-ShowSaleInvoiceDetailListModal-accept').removeAttr("disabled");
                return;
            }

            $(".loader").removeClass("hidden");

            $.ajax({
                type: "Post",
                url: "/ReturnSaleInvoiceDetail/AddList",
                data: {
                    viewModels: returns
                },
                success: function (response) {
                    $('#btn-ShowSaleInvoiceDetailListModal-accept').removeAttr("disabled");

                    if (response === 0) {

                        $("#ShowSaleInvoiceDetailListModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "InvoiceInUse") {

                        $("#ShowSaleInvoiceDetailListModal #InvoiceInUse").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "AccessDenied") {

                        $("#ShowSaleInvoiceDetailListModal #ERROR_AccessDenied").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "EmptyList") {

                        $("#ShowSaleInvoiceDetailListModal #ERROR_NothingSelected").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "EmptyReason") {

                        $("#ShowSaleInvoiceDetailListModal #MultiReason-box").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DataNotValid") {

                        $("#ShowSaleInvoiceDetailListModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#ShowSaleInvoiceDetailListModal').modal('hide');
                        $('#ShowSaleInvoiceDetailListModal-body').empty();

                        closeAddReturnSaleInvoiceDetailModal();

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#saleInvoiceDetailKendoGrid .k-pager-refresh")[0].click();
                        SetTotalPrice(response);
                    }
                }
            });

        }

    });

    function BackToPay() {
        $(".loader").removeClass("hidden");

        let link = "/CustomerAccount/Form";

        let data = {
            CustomerId: sessionStorage.CustomerId,
            CurrencyId: sessionStorage.CurrencyId,
            CustomerFilter: sessionStorage.CustomerFilter,
            Year: sessionStorage.Year,
            DateFromTxt: sessionStorage.DateFromTxt,
            DateToTxt: sessionStorage.DateToTx
        };

        $(".page-content").load(link, data, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })
    }


</script>
