@model WPH.Models.Child.ChildViewModel
@using Microsoft.AspNetCore.Http
@using System.Globalization
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewChildForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Guid)
                    @Html.HiddenFor(m => m.NameHolder)

                    <div class="col-sm-12">

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Name"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TextBox()
                                    .Name("Name")
                                    .Value(Model.Name)
                                    .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Name-box" })
                                    )
                                </span>
                                <span id="Name-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="Name-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                                </span>

                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Gender"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                      .Name("GenderId")
                                      .DataTextField("Name")
                                      .DataValueField("Id")
                                      .DataSource(source =>
                                        {
                                          source.Read(read =>
                                          {
                                              read.Action("GetAllGenders", "BaseInfo");
                                          })
                                          .ServerFiltering(false);
                                      })
                                      .Value(Model.GenderId.ToString())
                                      .HtmlAttributes(new { style = "width: 100%;",id="Gender" })
                                )
                                </span>
                            </label>
                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["DateOfBirth"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DatePicker()
                                    .Name("DateBirth")
                                    .Value(Model.DateOfBirth ?? DateTime.Now)
                                    .Format("dd/MM/yyyy")
                                    .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "Date-box" })
                                    )
                                </span>
                                <span id="Date-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                                <span id="Date-valid" class="emptybox hidden" style="color:red;">
                                    @Localizer["DateNotValid"]
                                </span>
                            </label>

                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["TimeOfBirth"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().TimePicker()
                                    .Name("TimeOfBirth")
                                    .Value(Model.TimeOfBirth?.ToString() ?? DateTime.Now.ToShortTimeString())
                                    .ComponentType("modern")
                                    .Format("HH:mm")
                                    .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "Time-box" })
                                    )
                                </span>
                                <span id="Time-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["ChildStatus"]: </label>
                                <span class="block input-icon input-icon-right">
                                    @(Html.Kendo().DropDownList()
                                          .Name("ChildStatus")
                                          .DataTextField("Name")
                                          .DataValueField("Id")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetAllCritically", "BaseInfo");
                                              })
                                              .ServerFiltering(false);
                                          })
                                          .Value(Model.ChildStatus.ToString())
                                          .HtmlAttributes(new { style = "width: 100%;", @data_checkEmpty = "ChildStatus-box" })
                                        )
                                </span>
                                <span id="ChildStatus-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>

                        <div class="col-sm-6">
                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["Weight"]: </label>
                                <span class="block input-icon input-icon-right">

                                    <input id="ChildWeight" name="ChildWeight" value='@(Model.ChildWeight ?? "0")' data_checkEmpty="Weight-box" style="width: 100%;" />

                                </span>
                                <span id="Weight-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>

                    </div>

                    <div class="col-sm-12">

                        <div class="col-sm-12">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["VitalActivities"]: </label>
                                <span class="block input-icon input-icon-right ">

                                    @(Html.Kendo().TextBox()
                                    .Name("VitalActivities")
                                    .Value(Model.VitalActivities)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    )

                                </span>
                            </label>
                        </div>
                    </div>


                    <div class="col-sm-12">

                        <div class="col-sm-12">

                            <label class="block clearfix">
                                <label for="form-field-8">@Localizer["CongenitalAnomalies"]: </label>
                                <span class="block input-icon input-icon-right ">

                                    @(Html.Kendo().TextBox()
                                    .Name("CongenitalAnomalies")
                                    .Value(Model.CongenitalAnomalies)
                                    .HtmlAttributes(new { style = "width:100%" })
                                    )

                                </span>
                            </label>

                        </div>
                    </div>

                    @{
                        string hid = Model.NeedOperation.GetValueOrDefault(false) ? "" : "hidden";
                    }

                    <div class="col-sm-12">

                        <div class="col-sm-12">
                            @(Html.Kendo().CheckBox()
                                .Name("NeedOperation")
                                .Checked(Model.NeedOperation.GetValueOrDefault(false))
                                .Label(Localizer["NeedOperation"])
                                .HtmlAttributes(new {style=""}))

                        </div>

                    </div>


                    <div class="col-sm-12">

                        <div id="OperationOrder_Container" style="margin-top:10px;" class="col-sm-12 @hid">
                            <label class="block clearfix ">
                                <label for="form-field-8">@Localizer["OperationOrder"]: </label>
                                <span class="block input-icon input-icon-right ">

                                    @(Html.Kendo().TextBox()
                                    .Name("OperationOrder")
                                    .Value(Model.OperationOrder)
                                    .HtmlAttributes(new { style = "width:100%", @data_checkEmpty = "OperationOrder-box" })
                                    )

                                </span>
                                <span id="OperationOrder-box" class="emptybox hidden" data-isEssential="@Model.NeedOperation.GetValueOrDefault(false)" style="color:red;">
                                    @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                                </span>
                            </label>
                        </div>

                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>

    $(document).ready(function () {
        $("#ChildWeight").kendoNumericTextBox({
            min: 0,
            max: 20,
            step: 0.01
        });

        setTimeout(function () {
            $("#Name").focus();
        }, 200);

        $('#NeedOperation').change(function () {
            if (this.checked) {
                $("#OperationOrder_Container").removeClass("hidden");
                $("#OperationOrder-box").attr("data-isEssential", "true");
            } else {
                $("#OperationOrder_Container").addClass("hidden");
                $("#OperationOrder-box").attr("data-isEssential", "false");
            }
        });

    });


    $('#Name').focus(function () {
        $("#Name-Exist").addClass('hidden');
        $("#Name-box").addClass('hidden');
        $("#Name").select();
    });

    $('#Name').on('keypress', function (e) {

        if (e.which === 13) {
            $("#Gender").data("kendoDropDownList").focus();
            $('#Gender').data("kendoDropDownList").open();
            //$('#ChildTypeName').data("kendoAutoComplete").focus();
        }
    });

    $('#Gender').parent().on('keypress', function (e) {

        if (e.which === 13) {
            let date = $("#DateBirth").data("kendoDatePicker");
            date.element.focus();
            
            
        }
    });

    $('#DateBirth').on('keypress', function (e) {

        if (e.which === 13) {
            $("#TimeOfBirth").focus();
            
        }
    });

    $('#TimeOfBirth').on('keypress', function (e) {

        if (e.which === 13) {
            let operation = $("#ChildStatus").data("kendoDropDownList");
            operation.focus();
            operation.open();

        }
    });

    $('#ChildStatus').parent().on('keypress', function (e) {

        if (e.which === 13) {
            $("#ChildWeight").data("kendoNumericTextBox").focus();

        }
    });

    $('#ChildWeight').on('keypress', function (e) {

        if (e.which === 13) {
            $("#VitalActivities").focus();

        }
    });

    $("#ChildTypeName").on('focus', function (e) {

        let inputAuto = $("#ChildTypeName").data("kendoAutoComplete");
        let value = inputAuto.value();
        inputAuto.search(value);
    });

    $("#VitalActivities").on("keypress", function (e) {
        if (e.which === 13) {
            $('#CongenitalAnomalies').focus();
        }
    });

    


</script>
