@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = "  ";

        <h3 id="newReminderText" class="hidden">@Localizer["New"] @Localizer["Reminder"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";

        <h3 id="newReminderText" class="hidden">@Localizer["Reminder"] @Localizer["New"]</h3>
    }
    <h3 id="editReminderText" class="hidden">@Localizer["Edit"] @Localizer["Reminder"]</h3>
}

<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Reminders"]
        </h1>

    </div>
    @if ((bool)ViewBag.AccessNewReminder)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddReminder(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }


</div><!-- /.page-header -->


<div id="AddReminderModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddReminderModal()" aria-hidden="true">&times;</button>
                <h3 id="AddReminderModal-header" class="smaller lighter blue no-margin @font">
                </h3>
            </div>

            <div id="AddReminderModal-body" class="modal-body" style="width:60rem">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addReminder-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addNewReminder()" })
                .Content(Localizer["Ok"]))

                @(Html.Kendo().Button()
                .Name("btn-addReminder-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddReminderModal()" })
                .Content(Localizer["Exit"]))
            </div>
        </div> @*.modal-content*@
    </div> @*.modal-dialog*@
</div>


<!-- Grid -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Reminder/dgReminderGrid.cshtml")
</div>
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    function AddReminder(element) {
        $("#AddReminderModal #ERROR_Data").addClass("hidden");
        $("#AddReminderModal #Date-valid").addClass("hidden");
        $("#AddReminderModal #ERROR_SomeThingWentWrong").addClass("hidden");

        var link = "/Reminder/AddAndNewModal";
        $(".loader").removeClass("hidden");

        let header = $("#newReminderText").text();

        $('#AddReminderModal-header').text(header);
        $('#AddReminderModal').modal('toggle');
        $('#AddReminderModal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });

    }

    function EditReminder(element) {
        $("#AddReminderModal #ERROR_Data").addClass("hidden");
        $("#AddReminderModal #Date-valid").addClass("hidden");
        $("#AddReminderModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#AddReminderModal').modal('toggle');
        let header = $("#editReminderText").text();
        $('#AddReminderModal-header').text(header);
        var link = "/Reminder/EditModal?Id=";
        var Id = $(element).attr('data-id');
        $(".loader").removeClass("hidden");
        $('#AddReminderModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");

        });

    }

    function ChangeReminderActivation(element) {


        var Id = $(element).attr('data-id');

        var link = `/Reminder/ChangeReminderActivation/${Id}`;

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Get",
            url: link,
            //data: data,
            success: function (response) {
                if (response !== 0) {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                    $("#reminderKendoGrid .k-pager-refresh")[0].click();

                } else {
                    bootbox.alert({
                        message: '@Localizer["ERROR_InsertWrong"]',
                        className: 'bootbox-class'
                    });

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    }


    function addNewReminder() {
        $("#AddReminderModal #ERROR_Data").addClass("hidden");
        $("#AddReminderModal #Date-valid").addClass("hidden");
        $("#AddReminderModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() === "") {
                    $(this).removeClass('hidden');
                    isEmmpty = false;
                    return;
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }


        var link = "/Reminder/AddOrUpdate";

        var data = $("#addNewReminderForm").serialize();


        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "DataNotValid") {

                        $("#AddReminderModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "DateNotValid") {

                        $("#AddReminderModal #Date-valid").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    }  else {

                        $('#AddReminderModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#AddReminderModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#reminderKendoGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#AddReminderModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    }

    function closeAddReminderModal() {

        $('#AddReminderModal').modal('hide');
        $('#AddReminderModal-body').empty();
        $(".modal-backdrop:last").remove();

    }

</script>