
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        <h3 id="newSymptomText" class="hidden">@Localizer["New"] @Localizer["Symptom"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        <h3 id="newSymptomText" class="hidden">@Localizer["Symptom"] @Localizer["New"]</h3>
    }

}


<div class="row page-header ">

    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Symptom"]
        </h1>

    </div>

    @if ((bool)ViewBag.AccessNewSymptom)
    {
        <div class="@pull @font" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddSymptom(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }


</div><!-- /.page-header -->
<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/Symptom/dgSymptomGrid.cshtml")
</div>

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")



<script>


    function AddSymptom(element) {
        var link = $("#GridAddLink").attr("data-Value");
        let header = $("#newSymptomText").text();
        $('#new-modal-header').text(header);
        $(".loader").removeClass("hidden");
        $('#my-modal-new').modal('toggle');
        $('#new-modal-body').load(link, function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
            kendo.ui.progress($("#window"), true);
        });
    }


</script>