@model WPH.Models.Ambulance.AmbulanceViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<div id="signup-box" class="signup-box no-border">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewAmbulanceForm">
                <fieldset>
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.Guid)
                    @Html.HiddenFor(m => m.NameHolder)
                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Name"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                                .Name("Name")
                                .Value(Model.Name)
                                .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Name-box" })
                            )
                        </span>
                        <span id="Name-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>
                        <span id="Name-Exist" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["TheNameIsDuplicatedPleaseTryAnotherName"]
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Code"]: </label>
                        <span class="block input-icon input-icon-right">
                            @(Html.Kendo().TextBox()
                                .Name("Code")
                                .Value(Model.Code)
                                .HtmlAttributes(new { style = "width: 100%" })
                            )
                        </span>
                    </label>

                    <label class="block clearfix">
                        <label for="form-field-8">@Localizer["Hospital"]</label>
                        <span class="block input-icon input-icon-right ">

                            @(Html.Kendo().AutoComplete()
                            .Name("HospitalName")
                            .DataTextField("Name")
                            //.Events(events => events.Select("OnPatientSelectInEmergencyReception"))
                            .Filter("contains")
                            .HighlightFirst(true)
                            .ClearButton(false)
                            .HtmlAttributes(new { style = "width:100%;", @data_checkEmpty = "Hospital-box" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllHospitals", "Hospital");
                                })
                                .ServerFiltering(false);
                            })
                            .Value(Model.HospitalName)
                            )

                        </span>
                        <span id="Hospital-box" class="emptybox hidden" data-isEssential="true" style="color:red;">
                            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
                        </span>

                    </label>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->

<script>

    $(document).ready(function () {
        setTimeout(function () {
            $("#Name").focus();
        }, 200);

    });


    $('#Name').focus(function () {
        $("#Name-Exist").addClass('hidden');
        $("#Name-box").addClass('hidden');
        $("#Name").select();
    });

    $('#Name').on('keypress', function (e) {

        if (e.which === 13) {
            e.preventDefault();
            $('#Code').focus();
        }
    });

    $('#Code').on('keypress', function (e) {

        if (e.which === 13) {
            $('#HospitalName').data("kendoAutoComplete").focus();
        }
    });

    $("#HospitalName").on('focus', function (e) {

        let inputAuto = $("#HospitalName").data("kendoAutoComplete");
        let value = inputAuto.value();
        inputAuto.search(value);
    });

    $('#HospitalName').on('keypress', function (e) {

        if (e.which === 13) {

            $('#btn-addAmbulance-accept').focus();
        }
    });
</script>
