@model WPH.Models.TransferDetail.TransferDetailViewModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = "  ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
    }

}



<div class="row @font" style="@direction">

    <script>

        function FilterProductItems(e) {
            e.preventDefault();

            var txt = e.filter.value;
            var filter_list = FilterProductLists(product_list, txt);

            $("#ProductId").data("kendoDropDownList").dataSource.data(filter_list);
        }

    </script>

    <div id="signup-box" class="signup-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <form id="addProductReceiveForm">
                    <fieldset>
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Guid)

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["SourceProducName"]: </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().TextBox()
                                .Name("ProductName")
                                .Enable(false)
                                .Value(Model.ProductName)
                                .HtmlAttributes(new { style = "width: 100%;" })
                                )
                            </span>
                        </label>

                        <label class="block clearfix">
                            <label for="form-field-8">@Localizer["Product"]: </label>
                            <span class="block input-icon input-icon-right">
                                @(Html.Kendo().DropDownList()
                                .Name("DestinationProductId")
                                .DataTextField("FullName")
                                .DataValueField("Guid")
                                .OptionLabel(" ")
                                .Filter("contains")
                                .Events(x => x.Filtering("FilterProductItems"))
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetLimitedProductsName", "Product");
                                    })
                                    .ServerFiltering(false);
                                })
                                .HtmlAttributes(new { style = "width: 100%;"})
                                    )
                            </span>
                        </label>

                        <div class="space-24"></div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.signup-box -->

</div>



<script>
    var updated = false;

    $(document).ready(function () {

        setTimeout(function () {
            $("#DestinationProductId").data("kendoDropDownList").focus();
        }, 200);

    });

    $("#DestinationProductId").parent().on("keypress", function (e) {
        if (e.which === 13) {
            $('#btn-addProductReciveDetail-accept').focus();
        }
    });

</script>
