
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer



@{
    string font = "", pull = "", direction = "", pull_rev = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
        pull_rev = " pull-right ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
        pull_rev = " pull-left ";
    }

}



<div class="row page-header">
    <div class="@pull">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["SaleReport"]
        </h1>

    </div>

    <div class="@pull_rev" style="margin:0 2rem;transform:translateY(-10%)">
        <a class="" onClick="BackToReceive()" style="padding:0.2rem;cursor:pointer;font-size: 20px;">
            <span>
                <i class="ace-icon fa fa-arrow-left align-top bigger-125"></i>
            </span>
        </a>
    </div>
</div><!-- /.page-header -->


<div id="signup-box" class="signup-box no-border @font">
    <div class="widget-body">
        <div class="widget-main">
            <form id="addNewForm">
                <fieldset>


                    <div class="col-xs-12" style="@direction">

                        <div class="col-xs-6" style="padding:0;display: flex;align-items: flex-end;">

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix @font">
                                    <label for="form-field-8">@Localizer["Customers"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("Customer")
                                        .DataTextField("Name")
                                        .DataValueField("Guid")
                                        .Filter("contains")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllCustomers", "Customer");
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
                                            )
                                    </span>

                                </label>
                            </div>

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix @font">
                                    <label for="form-field-8"> </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("ReceiveReportFilter")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllReceiveReportFilter", "CustomerAccount");
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
                                            )
                                    </span>

                                </label>
                            </div>

                        </div>

                        <div class="col-xs-6" style="padding:0">
                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix @font">
                                    <label for="form-field-8">@Localizer["Currency"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DropDownList()
                                        .Name("Currency")
                                        .DataTextField("Name")
                                        .DataValueField("Id")
                                        .OptionLabel(" ")
                                        .DataSource(source =>
                                        {
                                            source.Read(read =>
                                            {
                                                read.Action("GetAllCurrencies", "BaseInfo");
                                            })
                                            .ServerFiltering(false);
                                        })
                                        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem" })
                                            )
                                    </span>

                                </label>
                            </div>

                            <div class="col-sm-6" style="padding-top:3rem">

                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12" style="@direction">
                        @{
                            var now = DateTime.Now;
                        }
                        <div class="col-xs-6" style="padding:0">

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["DateFrom"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DatePicker()
                                          .Name("FromDate")
                                          .Format("dd/MM/yyyy")
                                          .Value(new DateTime(now.Year, 1, 1))
                                          .HtmlAttributes(new { style = "width: 100%" })
                                        )
                                    </span>
                                </label>
                            </div>

                            <div class="col-sm-6" style="padding:0 1rem">
                                <label class="block clearfix">
                                    <label for="form-field-8">@Localizer["DateTo"] : </label>
                                    <span class="block input-icon input-icon-right">
                                        @(Html.Kendo().DatePicker()
                                          .Name("ToDate")
                                          .Format("dd/MM/yyyy")
                                          .Value(now)
                                          .HtmlAttributes(new { style = "width: 100%"})
                                        )
                                    </span>

                                </label>
                            </div>

                        </div>

                        <div class="col-xs-6" style="padding:0">
                            <div class="col-sm-6" style="padding:0 1rem;margin-top:3rem;">
                                @(Html.Kendo().CheckBox()
                                .Name("Detail")
                                .Label(Localizer["InDetail"])
                                .HtmlAttributes(new { @class = "kendoCheckbox"}))

                            </div>

                            <div class="col-sm-6" style="padding-top:3rem">
                                
                            </div>
                        </div>

                    </div>

                    <div class="space-24"></div>
                </fieldset>
            </form>
        </div>
    </div><!-- /.widget-body -->
</div><!-- /.signup-box -->
<div class="col-sm-12">

    <div class="col-xs-12" style="padding-top:1rem;display: flex;align-items: flex-end; @direction ">

        <div class="col-xs-6 @font" style="padding:0">

            <div class="col-sm-6">
            </div>

            <div class="col-sm-6">
            </div>

        </div>

        <div class="col-xs-6" style="padding:0">
            <div class="col-sm-6">
                @(Html.Kendo().Button()
                .Name("btn-ReceiveReport-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = $"k-primary {pull_rev}", onclick = "AcceptReport()" })
                .Content(Localizer["Ok"]))

            </div>

            <div class="col-sm-6">

            </div>
        </div>

    </div>

</div>


@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script>

    function BackToReceive() {
        $(".loader").removeClass("hidden");

        let link = "/CustomerAccount/Form";

        $(".page-content").load(link, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })
    }

    $('#FromDate').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            let date = $("#ToDate").data("kendoDatePicker");
            date.element.focus();
        }
    });

    $('#FromDate').focus(function (e) {

        let date = $("#FromDate").data("kendoDatePicker");
        date.element.select();

    });

    $('#ToDate').keypress(function (e) {

        if (e.which === 13 || e.which === 9) {
            $("#btn-CostReport-accept").focus();
        }

    });


    $('#ToDate').focus(function (e) {

        let date = $("#ToDate").data("kendoDatePicker");
        date.element.select();

    });


    function draw2(imgData) {

        "use strict";

        var dataUrl = [];
        for (let index = 0; index < imgData.allb.length; index++) {

            var pf = "data:image/jpeg;base64," + imgData.allb[index];

            dataUrl.push(pf)

        }

        printJS({ printable: dataUrl, type: 'image' });
    }


    function AcceptReport() { 

        $(".loader").removeClass("hidden");

        let detail = $("#Detail").prop('checked');
        var cur = $("#Currency").data("kendoDropDownList");

        var data = {
            CustomerId: $("#Customer").val(),
            FilterId: $("#ReceiveReportFilter").val(),
            CurrencyId: cur.value(),
            CurrencyName: cur.text(),
            TxtFromDate: $("#FromDate").val(),
            TxtToDate: $("#ToDate").val(),
            Detail: detail,
        };

        link = "/CustomerAccount/PrintReceiveReport";

        $(".loader").removeClass("hidden");

        $.ajax({
            url: link,
            type: "Post",
            data: data,
            success: function (response) {

                draw2(response);
                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            },
            error: function (response) {
                console.log(response);
                console.log(response.data);
                console.log(response.error);
            }
        });

    }

</script>
