@inject WPH.Resources.SharedViewLocalizer Localizer
@model WPH.Models.CustomDataModels.BaseInfo.BaseInfoGeneralViewModel



<div class="col-sm-@Model.Index " style="border:1px rgba(128, 128, 128,0.5) solid;border-radius:0.5rem;padding:0.5rem;margin:0.5rem">

    <h3 id="guid-@Model.Id" class="hidden">
    </h3>

    <div class="col-sm-12" style="border-bottom:solid 1px gray">

        <h3 class="MyFont-Roboto">
            @Model.Name

        </h3>


    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-6">

            <h4>@Localizer["Total"]</h4>

        </div>

        <div class="col-sm-6">

            <h4 id="Total-@Model.Id">0</h4>

        </div>

    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-3">

            <h4>%@Localizer["Discount"]</h4>

        </div>

        <div class="col-sm-2">

            @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("DiscountPercent-"+ Model.Id)
                        .Min(0)
                        .Max(100)
                        .Value(0)
                        .SelectOnFocus(true)
                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Amount-box", onkeypress = "DiscountPercentKeyPress(" + Model.Id +",event)" })
                        )

        </div>
        <div class="col-sm-1">

            =

        </div>

        <div class="col-sm-6">

            @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("Discount-" + Model.Id)
                        .Min(0)
                        .Value(0)
                        .SelectOnFocus(true)
                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Amount-box", onkeypress = "DiscountKeyPress(" + Model.Id + ",event)" })
                        )


        </div>

    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-6">

            <h4>@Localizer["Remaining"]</h4>

        </div>

        <div class="col-sm-6">

            <h4 id="Remain-@Model.Id">0</h4>

        </div>

    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-6">

            <h4>@Localizer["ReceiveAmount"]</h4>

        </div>

        <div class="col-sm-6">

            <h4 id="Recieved-@Model.Id">0</h4>

        </div>

    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-6">

            <h4>@Localizer["Remaining"] @Localizer["After"] @Localizer["ReceiveAmount"]</h4>

        </div>

        <div class="col-sm-6">

            <h4 id="RemainAfterRecieve-@Model.Id">0</h4>

        </div>

    </div>

    <div class="col-sm-12" style="display:flex;align-items:center">

        <div class="col-sm-6">

            <h4>@Localizer["Recieve"]</h4>

        </div>

        <div class="col-sm-6">

            @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("Recieve-" + Model.Id)
                        .Min(0)
                        .Value(0)
                        .SelectOnFocus(true)
                        .HtmlAttributes(new { style = "width: 100%", @data_checkEmpty = "Amount-box", onkeypress = "RecieveKeyPress(" + Model.Id + ",event)" })
                        )

        </div>

    </div>

    <div class="col-sm-12" style="margin-top:1rem">


        <div class="col-sm-12">

            <a href="\\#" class="k-button  toolbarButton pull-left" title="Add" onclick="RecieveKeyClick(@Model.Id,event)" style="background-color:forestgreen"><span class="fa-regular fa-circle-plus" style="font-size:2rem"></span></a>
            <a href="\\#" class="k-button  toolbarButton pull-left" title="Add" onclick="ReceivedAmountHistory(@Model.Id)" style="background-color:#34568b;margin-left:1rem"><span class="fa-regular fa-clock-rotate-left" style="font-size:2rem"></span></a>

        </div>


    </div>




</div>





<script>

    function DiscountPercentKeyPress(id,event) {

        if (event.which === 13)
        {
            let percent = $("#DiscountPercent-" + id).val();

            if (percent < 0)
                return;

            let sharpDiscount = (parseFloat($("#Total-" + id).text()) * percent) / 100;

            let discountGuid = $("#guid-" + id).text();

            SendSaleInvoiceDiscount(id, sharpDiscount, $("#Guid").val(), discountGuid);

        }

    }

    function DiscountKeyPress(id, event) {

        if (event.which === 13) {

            let percent = $("#Discount-" + id).val();

            if (percent < 0)
                return;

            let discountGuid = $("#guid-" + id).text();

            SendSaleInvoiceDiscount(id, percent, $("#Guid").val(), discountGuid);
        }

    }

    function SendSaleInvoiceDiscount(id, discount, saleId, discountGuid) {

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        let data = {
            __RequestVerificationToken: token.attr('value'),
            Guid: discountGuid,
            CurrencyId: id,
            Amount: discount,
            AmountTxt: discount,
            SaleInvoiceId: saleId
        }

        $.ajax({
            data: data,
            type: "post",
            url: "/SaleInvoiceDiscount/AddOrUpdate",
            success: function (response) {
                if (response != 0) {

                    GetReceiveAndDiscount($("#Guid").val(), id);
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                }

            }
        });

    }

    let disableRecieve = true;
    function RecieveKeyPress(id, e) {

        if (e.which === 13)
        {
            if (disableRecieve) {
                disableRecieve = false;
                let amount = $("#Recieve-" + id).val();

                let remainAfterReceive = $("#RemainAfterRecieve-" + id).text();

                if (amount <= 0 || amount > parseFloat(remainAfterReceive)) {
                    disableRecieve = true;
                    return;
                }
                    

                let saleId = $("#Guid").val();

                let customerId = $("#CustomerId").val();

                let ReceiveAmounts = []
                ReceiveAmounts.push({
                    Amount: amount,
                    BaseCurrencyId: id,
                    CurrencyId: id,
                    BaseAmount: 1,
                    DestAmount: 1
                });



                let data = {
                    ReceiveAmounts: ReceiveAmounts,
                    SaleInvoiceId: saleId,
                    CustomerId: customerId
                }


                $.ajax({
                    data: data,
                    type: "post",
                    url: "/Receive/AddOrUpdate",
                    success: function (response) {

                        GetReceiveAndDiscount($("#Guid").val(), id);
                        disableRecieve = true;
                        $("#Recieve-" + id).data("kendoNumericTextBox").value(0);
                    }
                });
            }
            

        }

    }

    function RecieveKeyClick(id, e) {

        
            if (disableRecieve) {
                disableRecieve = false;
                let amount = $("#Recieve-" + id).val();

                let remainAfterReceive = $("#RemainAfterRecieve-" + id).text();

                if (amount <= 0 || amount > parseFloat(remainAfterReceive)) {
                    disableRecieve = true;
                    return;
                }

                let saleId = $("#Guid").val();

                let customerId = $("#CustomerId").val();

                let ReceiveAmounts = []
                ReceiveAmounts.push({
                    Amount: amount,
                    BaseCurrencyId: id,
                    CurrencyId: id,
                    BaseAmount: 1,
                    DestAmount: 1
                });

                let data = {
                    ReceiveAmounts: ReceiveAmounts,
                    SaleInvoiceId: saleId,
                    CustomerId: customerId
                }
                $(".loader").removeClass("hidden");
                $.ajax({
                    data: data,
                    type: "post",
                    url: "/Receive/AddOrUpdate",
                    success: function (response) {

                        GetReceiveAndDiscount($("#Guid").val(), id);
                        disableRecieve = true;
                        $("#Recieve-" + id).data("kendoNumericTextBox").value(0);
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    }
                });
            }

    }

    

</script>