@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

<script src="~/Content/assets/js/apexcharts.min.js"></script>

<style>

    .storeDashboardBack {
        border-radius: 0.5rem;
        background-color: #fff;
        padding: 2rem;
        border: 1px solid rgba(0, 0, 0, .125);
        background-clip: border-box;
        box-shadow: rgba(146, 168, 209,0.7) 0px 0px 5px 0.1px;
        
    }

    .storeDashboardBackbutton button {
        white-space: normal;
        min-height: 35px;
        font-size: 15px;
        margin: 2px;
        width: 100%
    }


    .room {
        border: solid 1px gray;
        border-radius: 2rem;
        padding: 1rem;
        margin-top: 1rem;
        overflow: hidden;
        background-color: rgba(0,0,0,0.02);
    }

    .room-bed {
        border: solid 0.1rem black;
        border-radius: 2rem;
        padding: 1rem;
        background-color: rgb(255, 255, 255);
    }

    .room-title {
        font-size: 2rem;
        user-select: none;
    }

    .bed-parent {
        padding: 0;
        margin: 0;
    }

    .bed-info {
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: 1px solid gray;
    }

    .bed-header {
        margin: 0;
        text-align: center;
        padding-bottom: 0.3rem;
        border-bottom: 1px dashed gray;
        color: darkblue;
    }

    .hospital-patient {
        transition: all 0.2s;
    }

        .hospital-patient:hover {
            cursor: pointer !important;
            box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.3);
            transition: all 0.2s;
        }


    .close-room {
        transition: all .3s ease-in-out;
        height: 5rem;
    }

    .expand-room {
        transition: all .3s ease-in-out;
        height: auto;
    }




</style>

<div id="store-dashboard" class="col-sm-12" style="direction:ltr;padding:0.5rem;margin:1rem 0 0 0;background-color:rgb(242, 247, 251);border-radius:1rem">

    <div class="col-sm-2 MyFont-Sarchia-grid" style="text-align:center;padding:0.1rem;margin:0;">
        @*box-shadow:rgba(146, 168, 209,0.7) 0px 0px 5px 0.1px;*@
        <div class="col-sm-12 storeDashboardBackbutton storeDashboardBack">


            @if ((bool)ViewBag.AccessNewNormalReception)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-NewReception")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick="GoToNewReception()"  })
                            .Content(Localizer["NewReception"]))

                </div>
            }

            @if ((bool)ViewBag.AccessAllReception)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-AllReception")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToAllReception()" })
                            .Content(Localizer["AllReception"]))

                </div>
            }

            @if ((bool)ViewBag.AccessHospitalPatient)
            {
                <div class="col-sm-12" >

                    @(Html.Kendo().Button()
                            .Name("btn-HospitalPatient")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToHospitalPatient()" })
                            .Content(Localizer["HospitalPatient"]))

                </div>
            }

            @if ((bool)ViewBag.AccessAllSurgeries)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-AllSurgeries")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToAllSurgeries()" })
                            .Content(Localizer["AllSurgeries"]))

                </div>
            }


            @if ((bool)ViewBag.AccessRoom)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-RoomManagement")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToRoomManagement" })
                            .Content(Localizer["RoomManagement"]))

                </div>
            }

            @if ((bool)ViewBag.AccessChildren)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-NewbornBabies")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToNewbornBabies()" })
                            .Content(Localizer["NewbornBabies"]))

                </div>
            }

            @if ((bool)ViewBag.AccessService)
            {
                <div class="col-sm-12">

                    @(Html.Kendo().Button()
                            .Name("btn-Service")
                            .HtmlAttributes(new {  type = "button", @class = "btn btn-primary", onclick = "GoToService()" })
                            .Content(Localizer["Service"]))

                </div>
            }




        </div>

        <div id="patients-count" class="col-sm-12 storeDashboardBack" style="margin-top:2rem">



        </div>



    </div>

    <div class="col-sm-4">

        <div class="col-sm-12 storeDashboardBack">

            <div id="most-operations">
            </div>

        </div>


        <div class="col-sm-12 storeDashboardBack" style="margin-top:1rem">



                <div id="nearst-operations">
                </div>



            </div>

    </div>

    <div class="col-sm-6">

        <div class="col-sm-12 storeDashboardBack">



            <div id="chart-income">
            </div>


            <div class="MyFont-Sarchia-grid">

                @(Html.Kendo().Button()
                            .Name("btn-incomeDay")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('day')" })
                            .Content(Localizer["Day"]))
                @(Html.Kendo().Button()
                            .Name("btn-incomeMonth")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('month')" })
                            .Content(Localizer["Month"]))
                @(Html.Kendo().Button()
                            .Name("btn-incomeYear")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "btn btn-primary MyFont-Sarchia-grid ", onclick = "GetIncome('year')" })
                            .Content(Localizer["Year"]))

            </div>


        </div>

        <div id="allRooms" class="col-sm-12 MyFont-Roboto storeDashboardBack" style="direction:rtl;margin-top:1rem;max-height:40rem;overflow:auto">

            @*<div class="col-sm-12 storeDashboardBack" style="margin-top:1rem">

            <div id="chart-Patients-Age">
            </div>

        </div>*@


        </div>

        </div>

    </div>

<script>



    $(document).ready(() => {
        GetIncome('day');
    })


    function GetIncome(type) {

        $("#chart-income").empty();

        $.ajax({

            url: "/Dashboard/GetAllClinicInCome?Type=" + type,
            success: function (response) {
                //if (response != 0) {
                if (response != null) {
                    var options = {
                        chart: {
                            type: 'bar',
                            height: 320
                        },
                        series: [{
                            name: 'IQD',
                            data: response.Value,
                        }],
                        xaxis: {
                            categories: response.Labels
                        },
                        title: {
                            text: 'Income',
                            align: 'left',
                            margin: 20,
                            offsetX: 0,
                            offsetY: 0,
                            floating: false,
                            style: {
                                fontSize: '1.5rem',
                                fontWeight: 'bold',
                                fontFamily: 'Roboto',
                                color: '#34568B'
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            formatter: function (val, opts) {
                                console.log(val);
                                if (val > 1000000) {

                                    return (val / 1000000).toFixed(2) + "M"
                                }
                                else {
                                    return (val / 1000).toFixed(2) + "K"
                                }
                            },
                        }
                    }

                    var chart = new ApexCharts(document.querySelector("#chart-income"), options);

                    chart.render();
                }

            }
        });

    }

    $.ajax({

        url: "/Dashboard/GetNearestOperations",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {
                let ht = "<div class='col-sm-12' style='margin:0 0 1rem 0;padding:0'>" +
                    "<h4 class='MyFont-Roboto-header' style = 'float:left;margin:0;font-size: 1.5rem;color:black ' > Patients</h4 > </div > ";

                for (let i = 0; i < response.Labels.length; i++) {

                    ht += "<div class='col-sm-12' style='border-bottom:solid 2px rgb(146, 168, 209);padding:0;margin:0.5rem'><div class='col-sm-12' style='display:flex;justify-content:space-between'>" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Labels[i] + "</h5 >" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Value[i] + "</h5 ></div ></div > ";
                }
                $("#nearst-operations").html(ht);

            }

        }
    });

    $.ajax({

        url: "/Dashboard/GetPatientsCount",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {
                let ht = "<div class='col-sm-12' style='margin:0 0 1rem 0;padding:0'>" +
                    "<h4 class='MyFont-Roboto-header' style = 'float:left;margin:0;font-size: 1.5rem;color:black ' > Patients</h4 > </div > ";

                for (let i = 0; i < response.Labels.length; i++) {

                    ht += "<div class='col-sm-12' style='border-bottom:solid 2px rgb(146, 168, 209);padding:0;margin:0.5rem'><div class='col-sm-12' style='display:flex;justify-content:space-between'>" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Labels[i] + "</h5 >" +
                        "<h5 class='MyFont-Roboto' style = 'font-size:1.5rem;color:#34568B;font-weight: bold' >" + response.Value[i] + "</h5 ></div ></div > ";
                }
                $("#patients-count").html(ht);

            }

        }
    });

    $.ajax({

        url: "/Dashboard/GetMostOperations",
        success: function (response) {
            //if (response != 0) {
            if (response != null) {

                var pieOptions = {
                    series: response.Value,
                    chart: {
                        type: 'pie',

                    },
                    labels: response.Labels,
                    stroke: {
                        colors: ['#fff']
                    },
                    fill: {
                        opacity: 0.9
                    },
                    title: {
                        text: 'Most Used Analysis',
                        align: 'left',
                        margin: 20,
                        offsetX: 0,
                        offsetY: 0,
                        floating: false,
                        style: {
                            fontSize: '1.5rem',
                            fontWeight: 'bold',
                            fontFamily: 'Roboto',
                            color: '#34568B'
                        }
                    },

                };

                var pieChart = new ApexCharts(document.querySelector("#most-operations"), pieOptions);

                pieChart.render();
            }

        }
    });


    $.ajax({
        type: "Post",
        url: "/Room/GetAllRoomsWithPatients",
        success: function (response) {
            if (response !== 0) {

                let allData = response;

                CreateHospitalDashboard(allData);

            }

        }
    });

    function CreateRoom(room) {

        let roomText = "<div class='col-sm-12 room shadow-border close-room'><div class='col-sm-12' style='margine:0;padding:0;cursor: pointer;z-index:1000' onclick='expandRoom(this);'><span class='room-title MyFont-Merriweather-header'>" + room.RoomName + "</span> <span class='fa fa-angle-down blue' style='font-size:2rem'></span></div>";
        if (room.RoomInfo.length > 0) {
            for (let i = 0; i < room.RoomInfo.length; i++) {
                if (i % 4 === 0) {
                    roomText = roomText +
                        '<div class="col-sm-12 " style="padding:0;margin:1rem 0">';
                }
                let id = "";
                if (room.RoomInfo[i].ReceptionId !== null && room.RoomInfo[i].ReceptionId !== "" && room.RoomInfo[i].ReceptionId !== undefined) {
                    id = room.RoomInfo[i].ReceptionId;
                }

                roomText = roomText +

                    '<div class="col-sm-3 " style = "direction:ltr" onclick="goToHospitalPatient(this)" data-receptionId="' + id + '">\
                                <div class="col-sm-12 room-bed hospital-patient" style = "padding:0.5rem;" >\
                                    <h5 class="MyFont-Merriweather-header bed-header" >' + room.RoomInfo[i].BedName + '</h5>\
                                <div class="col-sm-12 bed-parent" style="display:flex">';
                if (room.RoomInfo[i].BedStatus === "Dirty" || room.RoomInfo[i].BedStatus === "Out Of Service") {
                    roomText = roomText +
                        '<div  class="col-sm-12" style="text-align:center">\
                                    <img src="../Content/Images/DirtyBed.png" />\
                                        <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                                </div>';
                }
                else if (room.RoomInfo[i].BedStatus === "Clean") {
                    roomText = roomText +
                        '<div  class="col-sm-12" style="text-align:center">\
                                    <img src="../Content/Images/CleanBed.png" />\
                                        <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                                </div>';
                }
                else if (room.RoomInfo[i].BedStatus === "Reserved") {
                    roomText = roomText +
                        '<div  class="col-sm-12" style="text-align:center">\
                                <img src="../Content/Images/ReservedBed.png" />\
                                    <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                            </div>';
                }
                else {
                    roomText = roomText +
                        '<div class="bed-info">\
                                     <img src="../Content/Images/BedPatient.png" />\
                                        <div style="text-align:center">\
                                            <h6 class="MyFont-Merriweather-grid">'+ room.RoomInfo[i].PatientName + ' ' + room.RoomInfo[i].Age + '</h6>\
                                        </div>\
                                </div>\
                                <div>\
                                    <h6 class="MyFont-Merriweather-grid" >Reception Date: ' + room.RoomInfo[i].ReceptionDate + '</h6>\
                                    <h6 class="MyFont-Merriweather-grid">Surgery Date: ' + room.RoomInfo[i].SurgeryDate + '</h6>\
                                    <h6 class="MyFont-Merriweather-grid">Surgery: ' + room.RoomInfo[i].Surgery + '</h6>\
                                    <h6 class="MyFont-Merriweather-grid">Doctor: ' + room.RoomInfo[i].Doctor + '</h6>\
                                </div>';
                }

                roomText = roomText + '</div>';
                roomText = roomText + '</div>';
                roomText = roomText + '</div>';
                if ((i + 1) % 4 === 0) {
                    roomText = roomText +
                        '</div>';
                }
                if ((i + 1) === room.RoomInfo.length && (i + 1) % 4 !== 0) {
                    roomText = roomText +
                        '</div>';
                }



            }
            roomText = roomText + '</div>';

        }

        return roomText;

    };

    let prev = "";
    let next = "";

    function expandRoom(event) {

        $(event).parent().toggleClass('expand-room');

        $(event).children().eq(1).toggleClass('fa-angle-down');
        $(event).children().eq(1).toggleClass('fa-angle-up');

    }


    function goToHospitalPatient(event) {

        let receptionId = $(event).attr('data-receptionId');

        if (receptionId === "" || receptionId === null || receptionId === "00000000-0000-0000-0000-000000000000")
            return;

        let link = "/HospitalPatient/Edit?Id=";

        $(".page-content").load(link + receptionId, function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }


    function CreateHospitalDashboard(allBeds) {

        for (let i = 0; i < allBeds.length; i++) {
            next = allBeds[i].RoomName;
            $("#allRooms").append(CreateRoom(allBeds[i]));
        }

    };


    function GoToNewReception() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Reception/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToAllReception() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/PatientReception/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToAllSurgeries() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Surgery/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToRoomManagement() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Room/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToNewbornBabies() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Child/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToService() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/Service/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }

    function GoToHospitalPatient() {

        $(".loader").removeClass("hidden");
        $(".page-content").load("/HospitalPatient/Form", function (responce) {

            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        })

    }


    

</script>









@*<style>

        .room {
            border: solid 1px gray;
            border-radius: 2rem;
            padding: 1rem;
            margin-top: 1rem;
            overflow: hidden;
            background-color: rgba(0,0,0,0.02);
        }

        .room-bed {
            border: solid 0.1rem black;
            border-radius: 2rem;
            padding: 1rem;
            background-color:rgb(255 255 255);
        }

        .room-title {
            font-size: 2rem;
            user-select: none;
        }

        .bed-parent {
            padding: 0;
            margin: 0;
        }

        .bed-info {
            padding-right: 1rem;
            margin-right: 1rem;
            border-right: 1px solid gray;
        }

        .bed-header {
            margin: 0;
            text-align: center;
            padding-bottom: 0.3rem;
            border-bottom: 1px dashed gray;
            color: darkblue;
        }

        .hospital-patient {
            transition: all 0.2s;
        }

            .hospital-patient:hover {
                cursor: pointer !important;
                box-shadow: 2px 2px 20px 5px rgba(0, 0, 0, 0.3);
                transition: all 0.2s;
            }


        .close-room {
            transition: all .3s ease-in-out;
            height: 5rem;
        }

        .expand-room {
            transition: all .3s ease-in-out;
            height: auto;
        }
    </style>

    <div id="allRooms" class="col-sm-12 MyFont-Roboto" style="direction:rtl" >



    </div>


    <script>


        $(document).ready(function () {

            $.ajax({
                type: "Post",
                url: "/Room/GetAllRoomsWithPatients",
                success: function (response) {
                    if (response !== 0) {

                        let allData = response;

                        CreateHospitalDashboard(allData);

                    }

                }
            });


        });

        function CreateRoom(room) {

            let roomText = "<div class='col-sm-12 room shadow-border close-room'><div class='col-sm-12' style='margine:0;padding:0;cursor: pointer;z-index:1000' onclick='expandRoom(this);'><span class='room-title MyFont-Merriweather-header'>" + room.RoomName + "</span> <span class='fa fa-angle-down blue' style='font-size:2rem'></span></div>";
            if (room.RoomInfo.length > 0) {
                for (let i = 0; i < room.RoomInfo.length; i++) {
                    if (i % 4 === 0) {
                        roomText = roomText +
                            '<div class="col-sm-12 " style="padding:0;margin:1rem 0">';
                    }
                    let id = "";
                    if (room.RoomInfo[i].ReceptionId !== null && room.RoomInfo[i].ReceptionId !== "" && room.RoomInfo[i].ReceptionId !== undefined) {
                        id = room.RoomInfo[i].ReceptionId;
                    }

                    roomText = roomText +

                        '<div class="col-sm-3 " style = "direction:ltr" onclick="goToHospitalPatient(this)" data-receptionId="' + id + '">\
                                    <div class="col-sm-12 room-bed hospital-patient" style = "padding:0.5rem;" >\
                                        <h5 class="MyFont-Merriweather-header bed-header" >' + room.RoomInfo[i].BedName + '</h5>\
                                    <div class="col-sm-12 bed-parent" style="display:flex">';
                    if (room.RoomInfo[i].BedStatus === "Dirty" || room.RoomInfo[i].BedStatus === "Out Of Service") {
                        roomText = roomText +
                            '<div  class="col-sm-12" style="text-align:center">\
                                        <img src="../Content/Images/DirtyBed.png" />\
                                            <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                                    </div>';
                    }
                    else if (room.RoomInfo[i].BedStatus === "Clean") {
                        roomText = roomText +
                            '<div  class="col-sm-12" style="text-align:center">\
                                        <img src="../Content/Images/CleanBed.png" />\
                                            <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                                    </div>';
                    }
                    else if (room.RoomInfo[i].BedStatus === "Reserved") {
                        roomText = roomText +
                            '<div  class="col-sm-12" style="text-align:center">\
                                    <img src="../Content/Images/ReservedBed.png" />\
                                        <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
                                </div>';
                    }
                    else {
                        roomText = roomText +
                            '<div class="bed-info">\
                                         <img src="../Content/Images/BedPatient.png" />\
                                            <div style="text-align:center">\
                                                <h6 class="MyFont-Merriweather-grid">'+ room.RoomInfo[i].PatientName + ' ' + room.RoomInfo[i].Age + '</h6>\
                                            </div>\
                                    </div>\
                                    <div>\
                                        <h6 class="MyFont-Merriweather-grid" >Reception Date: ' + room.RoomInfo[i].ReceptionDate + '</h6>\
                                        <h6 class="MyFont-Merriweather-grid">Surgery Date: ' + room.RoomInfo[i].SurgeryDate + '</h6>\
                                        <h6 class="MyFont-Merriweather-grid">Surgery: ' + room.RoomInfo[i].Surgery + '</h6>\
                                        <h6 class="MyFont-Merriweather-grid">Doctor: ' + room.RoomInfo[i].Doctor + '</h6>\
                                    </div>';
                    }

                    roomText = roomText + '</div>';
                    roomText = roomText + '</div>';
                    roomText = roomText + '</div>';
                    if ((i + 1) % 4 === 0) {
                        roomText = roomText +
                            '</div>';
                    }
                    if ((i + 1) === room.RoomInfo.length && (i + 1) % 4 !== 0) {
                        roomText = roomText +
                            '</div>';
                    }



                }
                roomText = roomText + '</div>';

            }

            return roomText;

        };

        let prev = "";
        let next = "";

        //function CreateRoom(room) {
        //    console.log(room);
        //    let roomText = "<div class='col-sm-12 room shadow-border close-room'><div class='col-sm-12' style='margine:0;padding:0;cursor: pointer;z-index:1000' onclick='expandRoom(this);'><span class='room-title MyFont-Merriweather-header'>" + room.RoomName + "</span> <span class='fa fa-angle-down blue' style='font-size:2rem'></span></div>";
        //    if (room.RoomInfo != null) {

        //            if (i % 4 === 0) {
        //                roomText = roomText +
        //                    '<div class="col-sm-12 " style="padding:0;margin:1rem 0">';
        //            }
        //            let id = "";
        //            if (room.RoomInfo[i].ReceptionId !== null && room.RoomInfo[i].ReceptionId !== "" && room.RoomInfo[i].ReceptionId !== undefined) {
        //                id = room.RoomInfo[i].ReceptionId;
        //            }

        //            roomText = roomText +

        //                '<div class="col-sm-3 " style = "direction:ltr" onclick="goToHospitalPatient(this)" data-receptionId="' + id + '">\
        //                            <div class="col-sm-12 room-bed hospital-patient" style = "padding:0.5rem;" >\
        //                                <h5 class="MyFont-Merriweather-header bed-header" >' + room.BedName + '</h5>\
        //                            <div class="col-sm-12 bed-parent" style="display:flex">';
        //            if (room.RoomInfo[i].BedStatus === "Dirty" || room.RoomInfo[i].BedStatus === "Out Of Service") {
        //                roomText = roomText +
        //                    '<div  class="col-sm-12" style="text-align:center">\
        //                                <img src="../Content/Images/DirtyBed.png" />\
        //                                    <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
        //                            </div>';
        //            }
        //            else if (room.RoomInfo[i].BedStatus === "Clean") {
        //                roomText = roomText +
        //                    '<div  class="col-sm-12" style="text-align:center">\
        //                                <img src="../Content/Images/CleanBed.png" />\
        //                                    <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
        //                            </div>';
        //            }
        //            else if (room.RoomInfo[i].BedStatus === "Reserved") {
        //                roomText = roomText +
        //                    '<div  class="col-sm-12" style="text-align:center">\
        //                            <img src="../Content/Images/ReservedBed.png" />\
        //                                <h5 class = "MyFont-Merriweather-grid">' + room.RoomInfo[i].BedStatus + '</h5>\
        //                        </div>';
        //            }
        //            else {
        //                roomText = roomText +
        //                    '<div class="bed-info">\
        //                                 <img src="../Content/Images/BedPatient.png" />\
        //                                    <div style="text-align:center">\
        //                                        <h6 class="MyFont-Merriweather-grid">'+ room.RoomInfo[i].PatientName + ' ' + room.RoomInfo[i].Age + '</h6>\
        //                                    </div>\
        //                            </div>\
        //                            <div>\
        //                                <h6 class="MyFont-Merriweather-grid" >Reception Date: ' + room.RoomInfo[i].ReceptionDate + '</h6>\
        //                                <h6 class="MyFont-Merriweather-grid">Surgery Date: ' + room.RoomInfo[i].SurgeryDate + '</h6>\
        //                                <h6 class="MyFont-Merriweather-grid">Surgery: ' + room.RoomInfo[i].Surgery + '</h6>\
        //                                <h6 class="MyFont-Merriweather-grid">Doctor: ' + room.RoomInfo[i].Doctor + '</h6>\
        //                            </div>';
        //            }

        //            roomText = roomText + '</div>';
        //            roomText = roomText + '</div>';
        //            roomText = roomText + '</div>';
        //            if ((i + 1) % 4 === 0) {
        //                roomText = roomText +
        //                    '</div>';
        //            }
        //            if ((i + 1) === room.RoomInfo.length && (i + 1) % 4 !== 0) {
        //                roomText = roomText +
        //                    '</div>';
        //            }




        //        roomText = roomText + '</div>';

        //    }

        //    return roomText;

        //};

        function expandRoom(event) {

            $(event).parent().toggleClass('expand-room');

            $(event).children().eq(1).toggleClass('fa-angle-down');
            $(event).children().eq(1).toggleClass('fa-angle-up');

        }


        function goToHospitalPatient(event) {

            let receptionId = $(event).attr('data-receptionId');

            if (receptionId === "" || receptionId === null || receptionId === "00000000-0000-0000-0000-000000000000")
                return;

            let link = "/HospitalPatient/Edit?Id=";

            $(".page-content").load(link + receptionId, function (responce) {

                $(".loader").fadeIn("slow");
                $(".loader").addClass("hidden");
            })

        }


        function CreateHospitalDashboard(allBeds) {

            for (let i = 0; i < allBeds.length; i++) {
                next = allBeds[i].RoomName;
                $("#allRooms").append(CreateRoom(allBeds[i]));
            }

        };


    </script>*@