@model Guid
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer

@{
    string font = "", pull = "", direction = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        direction = " ";
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        direction = " direction:rtl; ";
    }
}

@Html.AntiForgeryToken()
<div class="row page-header ">
    <div class="@pull ">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["ProductBarcode"]
        </h1>

    </div>

    @if ((bool)ViewBag.AccessNewProductBarcode)
    {
        <div class="@font @pull" style="margin:0 2rem;transform:translateY(-10%)">
            <a class="btn btn-danger" onClick="AddProductBarcode(this)" href="#" style="padding:0.2rem">
                @Localizer["New"]
                <i class="ace-icon glyphicon  glyphicon-plus align-top bigger-125"></i>
            </a>
        </div>
    }
</div><!-- /.page-header -->


<div class="row Grid-Content @font">
    @await Html.PartialAsync("~/Views/Shared/PartialViews/AppWebForms/ProductBarcode/dgProductBarcodeGrid.cshtml", Model)
</div>


<div id="ProductBarcodeModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeProductBarcodeModal()" aria-hidden="true">&times;</button>
                <h3 id="ProductBarcodeModal-header" class="smaller lighter blue no-margin @font">
                    @Localizer["ProductBarcode"] @Localizer["New"]
                </h3>
            </div>
            <div id="ProductBarcodeModal-body" class="modal-body">
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">
                @(Html.Kendo().Button()
                    .Name("btn-ProductBarcodeModal-accept")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                    .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-ProductBarcodeModal-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeProductBarcodeModal()" })
                    .Content(Localizer["Exit"]))
            </div>
        </div>
    </div>
</div>


<div id="DeleteProductBarcodeModal" class="modal fade bd-example-modal-lg @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="widget-header" style="padding:1rem">
                <button type="button" class="close" onclick="closeDeleteProductBarcodeModal()" aria-hidden="true">&times;</button>
                <h3 class='smaller @font'>
                    <i class='ace-icon fa fa-exclamation-triangle red '></i>@Localizer["DeleteRecordHeader"]
                </h3>
            </div>

            <div id="DeleteProductBarcodeModal-body" class="modal-body">
                @Localizer["DeleteRecordBody"]
            </div>

            <div id="ERROR_ThisRecordHasDependencyOnItInAnotherEntity" class="red label-white middle hidden" style="height:40px;margin-top:2rem">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_ThisRecordHasDependencyOnItInAnotherEntity"]
            </div>
            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_SomeThingWentWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-DeleteProductBarcodeModal-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                .Content(@Localizer["Ok"]))
                @(Html.Kendo().Button()
                .Name("btn-DeleteProductBarcodeModal-close")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeDeleteProductBarcodeModal()" })
                .Content(@Localizer["Exit"]))

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<h3 id="newHeader" class="hidden"> @Localizer["ProductBarcode"] - @Localizer["New"] </h3>
<h3 id="editHeader" class="hidden"> @Localizer["ProductBarcode"] - @Localizer["Edit"]  </h3>


<script>

    function AddProductBarcode(e) {
        $("#ProductBarcodeModal #Barcode-Exist").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_Data").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_SomeThingWentWrong").addClass("hidden");

        let header = $("#newHeader").text();
        var link = "/ProductBarcode/AddNewModal?productId=";
        var Id = "@Model";

        $('#ProductBarcodeModal-header').text(header);

        $(".loader").removeClass("hidden");
        $('#ProductBarcodeModal').modal('toggle');
        $('#ProductBarcodeModal-body').load(link + Id + "", function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }

    function EditProductBarcode(element) {
        $("#ProductBarcodeModal #Barcode-Exist").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_Data").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('#ProductBarcodeModal').modal('toggle');

        let header = $('#editHeader').text();
        $('#ProductBarcodeModal-header').text(header);

        var Id = $(element).attr('data-id');
        var link = "/ProductBarcode/EditModal?Id=";

        $(".loader").removeClass("hidden");
        $('#ProductBarcodeModal-body').load(link + Id + '', function () {
            $(".loader").fadeIn("slow");
            $(".loader").addClass("hidden");
        });
    }


    $('#btn-ProductBarcodeModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#ProductBarcodeModal #Barcode-Exist").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_Data").addClass("hidden");
        $("#ProductBarcodeModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $('.emptybox').addClass('hidden');
        var isEmmpty = true;
        $('.emptybox').each(function () {
            if ($(this).attr('data-isEssential') === 'true') {
                var empty = $(this).attr('id');
                if ($('[data-checkEmpty="' + empty + '"]').val() !== undefined) {
                    let text = $('[data-checkEmpty="' + empty + '"]').val().replace(/ /g, '');
                    if (text === "") {
                        $(this).removeClass('hidden');
                        $('#btn-ProductBarcodeModal-accept').removeAttr("disabled");
                        isEmmpty = false;
                        return;
                    }
                }
            }
        });

        if (isEmmpty === false) {
            return;
        }

        var data = $("#addNewProductBarcodeForm").serialize();
        var link = '/ProductBarcode/AddOrUpdate';


        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                $('#btn-ProductBarcodeModal-accept').removeAttr("disabled");

                if (response !== 0) {
                    if (response === "ValueIsRepeated") {

                        $('#Barcode-Exist').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                    } else if (response === "DataNotValid") {

                        $("#ProductBarcodeModal #ERROR_Data").removeClass("hidden");
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $('#ProductBarcodeModal').modal('hide');
                        $(".modal-backdrop:last").remove();
                        $('#ProductBarcodeModal-body').empty();
                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#kendoProductBarcodeGrid .k-pager-refresh")[0].click();

                    }
                } else {

                    $("#ProductBarcodeModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeProductBarcodeModal() {
        $('#ProductBarcodeModal').modal('toggle');
        $('#ProductBarcodeModal-body').empty();
    }


    function GridDeleteProductBarcodeFunction(element) {
        $("#DeleteProductBarcodeModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteProductBarcodeModal #ERROR_SomeThingWentWrong").addClass("hidden");

        $(".loader").removeClass("hidden");
        $('#DeleteProductBarcodeModal').modal('toggle');
        var Id = $(element).attr('data-id');
        $('#btn-DeleteProductBarcodeModal-accept').attr('data-id', Id);
        $(".loader").fadeIn("slow");
        $(".loader").addClass("hidden");
    }


    $('#btn-DeleteProductBarcodeModal-accept').on("click", function () {
        $(this).attr("disabled", true);

        $("#DeleteProductBarcodeModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").addClass("hidden");
        $("#DeleteProductBarcodeModal #ERROR_SomeThingWentWrong").addClass("hidden");
        
        var Id = $(this).attr('data-id');

        var link = "/ProductBarcode/Remove";

        var token = $(':input:hidden[name*="RequestVerificationToken"]');
        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: {
                __RequestVerificationToken: token.attr('value'),
                productBarcodeId: Id
            },
            success: function (response) {
                $('#btn-DeleteProductBarcodeModal-accept').removeAttr("disabled");

                if (response === "SUCCESSFUL") {
                    $('#DeleteProductBarcodeModal').modal('hide');
                    $(".modal-backdrop:last").remove();
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");

                    $("#kendoProductBarcodeGrid .k-pager-refresh")[0].click();
                }
                else if (response === "ERROR_ThisRecordHasDependencyOnItInAnotherEntity") {
                    $("#DeleteProductBarcodeModal #ERROR_ThisRecordHasDependencyOnItInAnotherEntity").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "ERROR_SomeThingWentWrong") {
                    $("#DeleteProductBarcodeModal #ERROR_SomeThingWentWrong").removeClass("hidden");
                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
                else if (response === "AreYouSure") {
                    AskForDelete(Id);
                }
                else if (response === "CanNotDelete") {
                    CanNotDelete();
                } else {

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    });

    function closeDeleteProductBarcodeModal() {
        $('#DeleteProductBarcodeModal').modal('hide');
        $(".modal-backdrop:last").remove();
    }

</script>