@model WPH.Models.BaseInfo.BaseInfoGeneralsAndPeriodsViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center;">
        @*<i class="fa fa-lg fa-search" aria-hidden="true" style="color:#091093; margin-top:10px !important;"></i>*@
        <i class="" aria-hidden="true" style="font-size: 20px;" >@Localizer["FilterBy"]</i>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        <label class="block MyFont-Roboto-grid clearfix">
            <span class="block input-icon input-icon-right">
                @(Html.Kendo().DropDownList()
                .Name("SearchHumanSalaryName")
                .OptionLabel(" ")
                .DataTextField("Name")
                .DataValueField("Id")
                .DataSource(source =>
                {
                source.Read(read =>
                {
                read.Action("GetAllSearchHumanSalary", "BaseInfo");
                })
                .ServerFiltering(false);
                })
                .Events(e =>
                {
                e.Select("onSelectSearchHumanSalaryDrDo");
                })
                .HtmlAttributes(new { @style = "font-size:1.5rem; width:100%" })
                )
            </span>
        </label>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2"> </div>
    <div id="searchCreateDateBox" class="col-lg-3 col-md-3 col-sm-3 MyFont-Roboto-grid hidden" style="font-size:small !important; ">
        @(Html.Kendo().DropDownList()
        .Name("periodsCreateDate")
        .BindTo(Model.periods)
        .OptionLabel(Localizer["SelectItem"])
        .DataTextField("Name")
        .DataValueField("Id")
        .Events(e =>
        {
        e.Select("onSelectPeriodInHumanSalaryCreateDate");
        })
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "PeriodsChangeSalaryCreateDate()" })
        )
    </div>
    <div id="searchHumanIdBox" class="col-lg-3 col-md-3 col-sm-3 MyFont-Roboto-grid hidden clearfix">

        @(Html.Kendo().AutoComplete()
        .Name("searchHumanName")
        .DataTextField("Gu.Name")
        .Filter(FilterType.Contains)
        .HighlightFirst(true)
        .ClearButton(false)
        .HtmlAttributes(new { style = "width:100%;font-size:1.5rem", @data_checkEmpty = "searchName-box", @class = "boldText" })
        .DataSource(source =>
        {
        source
        .Ajax()
        .PageSize(10)
        .Read(read => read.Action("GetAllHuman", "HumanResource"));
        })
        .Events(e => e.Select("searchGetHumanName"))
        )
        <span id="searchName-box" class="emptybox hidden" data-isEssential="false" style="color:red;">
            @Localizer["ThisFieldIsEmptyPleaseFillIt"]
        </span>
    </div>
</div>


<div class="MyFont-Roboto-grid hidden clearfix" id="DivFromAndtoCreateDate" style="font-size:small !important;display:flex;align-items:center; @if (HttpContextAccessor.HttpContext.Session.GetString("culture") != "en") {
                @:flex-direction: row-reverse;
            }
            else {
                @:flex-direction: row;
            } ">

    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align:center;">

        <h5 class="MyFont-Roboto-grid">@Localizer["From"] @Localizer["Date"]</h5>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
        @(Html.Kendo().DatePicker()
        .Name("KendoFromDateCreate")
        .Value(DateTime.Now)
        .Format("dd/MM/yyyy")
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "dateTimePickerWorkWithSpace(this)" })
        )

    </div>
    <div class="col-lg-2 col-md-2 col-sm-2" style="text-align: center; padding-left:1px !important;">

        <h5 class="MyFont-Roboto-grid">@Localizer["To"] @Localizer["Date"]</h5>

    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">

        @(Html.Kendo().DatePicker()
        .Name("KendoDateToCreate")
        .Value(DateTime.Now)
        .Format("dd/MM/yyyy")
        .HtmlAttributes(new { style = "width: 100%;font-size:1.5rem", onchange = "dateTimePickerWorkWithSpace(this)" })
        )
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1">

        @(Html.Kendo().Button()
        .Name("btn-search-CreateDate")
        .HtmlAttributes(new { style = "font-size:1.5rem;padding:0.7rem", type = "button", @class = "k-primary pull-right", onclick = "btnSearchCreateDateClick()" })
        .Content("<i class='fa fa-search'></i>"))

    </div>
</div>


<script>
    searchHumanAuto = $("#searchHumanName").data("kendoAutoComplete");
    $("#searchHumanName").on('focus', function (e) {
        let value = searchHumanAuto.value();
        //var autocomplete = $("#ContentTagsAddt").data("kendoAutoComplete");
        searchHumanAuto.search(value);
    });
</script>
