
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@inject WPH.Resources.SharedViewLocalizer Localizer


@{
    string font = "", pull = "", direction = "", align = "", marg = "", scrolldirection = "", scrollpull = "";
    if (HttpContextAccessor.HttpContext.Session.GetString("culture") == "en")
    {
        font = " MyFont-Roboto-grid ";
        pull = " pull-left ";
        scrollpull = "pull-right";
        direction = " ";
        scrolldirection = "direction:ltr;";
        align = "right";
        marg = "margin-right:3rem;";
        align = "margin-left:5px;";
        <h3 id="newDiseaseText" class="hidden">@Localizer["New"] @Localizer["Disease"]</h3>
    }
    else
    {
        font = " MyFont-Sarchia-grid ";
        pull = " pull-right ";
        scrollpull = "pull-left";
        direction = " direction:rtl; ";
        scrolldirection = "direction:rtl";
        align = "left";
        marg = "margin-right:1rem;";
        align = "margin-right:5px;";
        <h3 id="newDiseaseText" class="hidden">@Localizer["Disease"] @Localizer["New"]</h3>
    }

}


<style>

    .slotLane {
        background-color: white;
        border-radius: 1rem !important;
        cursor: pointer;
        transition: 0.3s all;
    }

        .slotLane:hover {
            transition: 0.3s all;
            background-color: #66b5ff;
        }

    .fc-timegrid-now-indicator-container {
        background-color: white;
    }

    .Calendar-title {
        padding: 0.3rem;
        font-size: 1.8rem;
        background-color: #EAF2F8;
        width: 40rem;
        color: black;
        font-family: "Sarchia_Baran";
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .Calendar-status {
        padding: 0.3rem;
        font-size: 1.8rem;
        color: black;
        font-family: "Sarchia_Baran";
        margin-right: 1.2rem;
    }

    .page-content {
        overflow: hidden
    }

    .btn-prescription {
        background-color: #BA55D3;
        border: 2px solid #8B008B;
    }

        .btn-prescription:hover {
            background-color: #8B008B;
            border: 2px solid #8B008B;
            color: white;
        }
</style>

<h3 id="CanAddReceptionToPreviousDays" class="hidden">@ViewBag.CanAddReceptionToPreviousDays</h3>

<div id="scrollWindow" class="row" style="position: absolute; width: 40rem; right: -32rem; top: -3rem; padding: 3rem 1rem; direction: rtl; display:flex; flex-direction: row">

    <div class="col-sm-10" style="background-color: #cfe0fc; height: 100vh; z-index: 10; padding-top: 4.5rem; @scrolldirection">

        <div class=" col-sm-12 " style=" height: 35px; padding: 0; margin-bottom: 1rem; font-size: 15px;">

            <div class=" col-sm-3" style="padding:0;margin:0">

                <h5 class="@font">
                    @Localizer["Price"] @Localizer["Visit"]
                </h5>

            </div>

            <div class=" col-sm-6" style="padding:0;margin:0">

                <div class=" col-sm-12" style="margin: 0; padding: 0">
                    @(Html.Kendo().NumericTextBox<decimal>()
                        .Name("VisitPriceInReserve")
                        .Format("#.00")
                        .HtmlAttributes(new { style="width:100%" })
                        .Value(ViewBag.VisitPriceInReserve)
                        )
                </div>

            </div>

            <div class=" col-sm-3 @font" style="padding:0;margin:0">

                <button id="btnChange" class="k-primary pull-left" style="font-size:15px;height:30px;@align" onclick="VisitPriceChange()">@Localizer["Change"]</button>

            </div>
        </div>


        <div class="col-xs-12 " style="padding: 0; margin-bottom: 1rem; font-size: 15px; ">

            <div class=" col-sm-3 " style="padding: 0; margin: 0">
                <h5 class="@font">
                    @Localizer["StartTime"]
                </h5>
            </div>

            <div class=" col-sm-9 @font" style="padding: 0; margin: 0">

                <select id="startTime" name="startTime" style="width:100%;text-align:right" data-value=''>
                    @for (int i = 7; i <= 23; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            </div>
        </div>

        <div id="reserveEnd" class="col-xs-12 " style="padding: 0; margin-bottom: 1rem; font-size: 15px;">

            <div class=" col-sm-3 " style="padding: 0; margin: 0">
                <h5 class="@font">
                    @Localizer["EndTime"]
                </h5>
            </div>

            <div class=" col-sm-9 @font" style="padding: 0; margin: 0">

                <select id="endTime" name="endTime" style="width:100%;text-align:right" data-value=''>
                    @for (int i = 8; i <= 24; i++)
                    {
                        <option value=@i>@i</option>
                    }
                </select>
            </div>
        </div>

        <div id="reserveInterval" class="col-xs-12 " style="padding: 0; margin-bottom: 1rem; font-size: 15px;">

            <div class=" col-sm-3 " style="padding: 0; margin: 0">
                <h5 class="@font">
                    @Localizer["ReserveInterval"]
                </h5>
            </div>

            <div class=" col-sm-9 @font" style="padding: 0; margin: 0">
                <select class="visitInterval" id="visitInterval" name="visitInterval" style="width:100%;text-align:right" data-value=''>
                    <option value=5>5m</option>
                    <option value=10>10m</option>
                    <option value=15>15m</option>
                    <option value=20>20m</option>
                    <option value=30>30m</option>
                    <option value=60>1h</option>
                    <option value=120>2h</option>
                </select>
            </div>
        </div>

        <div class="col-sm-12 @font" style=" padding: 0; margin: 1rem 0;">
            @(Html.Kendo().TextArea()
                .Name("explanition")
                .Resizable("none")
                .Placeholder(Localizer["Explanation"])
                .Rows(3)
                .HtmlAttributes(new { @id = "explanition", style = "width: 100%;background-color:white" })
                )
        </div>

        <div class="col-sm-12 @font" style="padding: 0; margin: 1rem 0">

            <a id="reserveBtn" class="k-primary @scrollpull" href="#">@Localizer["Ok"]</a>

        </div>

    </div>


    <div class="col-sm-1" style="@marg">

        <div class="col-sm-12" style="margin-top:10rem;z-index:1">

            @(Html.Kendo().Button()
            .Name("btn-arrow")
            .HtmlAttributes(new { style = "font-size:15px;height:30px;", type = "button", @class = "k-primary pull-left leftside", onclick = "scrollRight(this)" })
            .Content("<i class='fa fa-arrow-left'></i>"))

        </div>

    </div>

</div>

<script>

    function scrollRight(element) {

        if ($(element).hasClass('leftside')) {
            $("#scrollWindow").animate({ right: '0' });
            $(element).removeClass('leftside');
            $(element).addClass('rightside');
            $(element).children('i').removeClass('fa-arrow-left')
            $(element).children('i').addClass('fa-arrow-right')
        }
        else {
            $("#scrollWindow").animate({ right: '-32rem' });
            $(element).removeClass('rightside');
            $(element).addClass('leftside');
            $(element).children('i').removeClass('fa-arrow-right')
            $(element).children('i').addClass('fa-arrow-left')
        }

    }

</script>


<div class="row page-header" style="@direction display:flex">
    <div class="col-sm-2 @pull " style="padding:0;margin:0">
        <h1 class="@font" style="font-size: 2.3rem">
            @Localizer["Reserve"]
        </h1>

    </div>

    <div class=" col-sm-3  reserve-font" style="font-size:15px;height:35px;padding:0;margin:0">
        <div class="col-sm-11" style="display: flex; justify-content: space-around; align-items: center;">
            <div class=" col-sm-2" style="padding:0;margin:0;">
                <label class="@font" style="font-size: 1.7rem" for="form-field-8">@Localizer["Section"]:</label>
            </div>

            <div class=" col-sm-9" style="padding:0;margin:0">

                @(Html.Kendo().DropDownList()
                .Name("ClinicSectionId")
                .DataTextField("Name")
                .DataValueField("Guid")
                .Filter("contains")
                //.DataSource(source =>
                //{
                //source.Read(read => read.Action("GetAllClinicSectionsChild", "ClinicSection").Data("GetClinicSectionId"))
                //.ServerFiltering(false);
                //})
                .HtmlAttributes(new { style = "width: 100%;font-size: 1.5rem" })
                )

            </div>
        </div>
    </div>

    <div class=" col-sm-3  reserve-font" style="font-size:15px;height:35px;padding:0;margin:0">
        <div class="col-sm-11" style="display: flex; justify-content: space-around; align-items: center;">
            <div class=" col-sm-2" style="padding:0;margin:0;">
                <label class="@font" style="font-size: 1.7rem" for="form-field-8">@Localizer["Doctor"]:</label>
            </div>

            <div class=" col-sm-9" style="padding:0;margin:0">

                @(Html.Kendo().DropDownList()
                .Name("Doctor")
                .DataTextField("UserName")
                .DataValueField("Guid")
                .Filter("contains")
                //.DataSource(source =>
                //{
                //source.Read(read => read.Action("GetAllClinicSectionsChild", "ClinicSection").Data("GetClinicSectionId"))
                //.ServerFiltering(false);
                //})
                .HtmlAttributes(new { style = "width: 100%;font-size: 1.5rem" })
                )
                @*<input class="@font" id="Doctor" style="width: 100%; font-size: 1.5rem" />*@
            </div>
        </div>
    </div>

    <div class=" col-sm-offset-1 col-sm-3 " style="font-size: 15px; height: 35px; padding: 0">

        @(Html.Kendo().DatePicker()
        .Name("DatePick")
        .Format("dd/MM/yyyy")
        .HtmlAttributes(new { @id = "chooseDate", title = "datepicker", @class = "font", style= "font-size: 1.6rem" })
            )

        <button id="btnGo" class="k-primary @font" style="font-size:1.7rem;height:30px;margin:2px;">@Localizer["Accept"]</button>
    </div>



</div><!-- /.page-header -->

<div id="reserve_content" class="@font">
    <div class="row">

        <input id="date" class="hidden" value='' data-accessPrescription="@ViewBag.AccessPrescription" data-delete=@Localizer["Delete"] data-edit=@Localizer["Edit"] data-send=@Localizer["Send"]
               data-today=@Localizer["Today"] data-day=@Localizer["Day"] data-week=@Localizer["Week"] data-month=@Localizer["Month"] data-reserveTime data-newResreve="@Localizer["New"]" data-editResreve="@Localizer["Edit"]">

        <label id="data-reserveTime" class="hidden">@Localizer["EndTimeMustBeMoreThanStratTime"]</label>
        <label id="reserveVisited" class="hidden">@Localizer["ThisReserveAlreadyIsVisited"]</label>
        <label id="reserveVisiting" class="hidden MyFont-Sarchia-grid" style="font-size:2rem">@Localizer["ThisPatientAlreadyIsInDoctorRoom"]</label>
        <label id="reserveToQueue" class="hidden">@Localizer["PleaseFirstSendPatientToWaitingQueue"]</label>
        <label id="reserveToVisit" class="hidden">@Localizer["PleaseFirstSendPatientToDoctorsRoom"]</label>
        <label id="reserveToDoctor" class="hidden MyFont-Sarchia-grid" style="font-size:2rem">@Localizer["DoYouWantToSendPatientToDoctorsRoom"]</label>
        <label id="cannotInsertReserve" class="hidden">@Localizer["CannotInsertReserveInThisDay"]</label>
        <label id="patientLastVisitDateIs" class="hidden">@Localizer["PatientLastVisitDateIs"]</label>
        <label id="PatientVisitingCannotDeleted" class="hidden">@Localizer["PatientVisitingCannotDeleted"]</label>
        <label id="reserveVisitedCannotDelete" class="hidden">@Localizer["ReserveVisitedCannotDelete"]</label>
        <label id="removeReserveFromQueue" class="hidden">@Localizer["DoYouWantToRemovePatientFromQueue?"]</label>
        <label id="doYouWantGetMoney" class="hidden">@Localizer["DoYouWantGetMoney?"]</label>
        <label id="Yes" class="hidden">@Localizer["Yes"]</label>
        <label id="No" class="hidden">@Localizer["No"]</label>

        <label id="reserveEdit" class="hidden">@Localizer["Edit"]</label>
        <label id="reserveDelete" class="hidden">@Localizer["Delete"]</label>
        <label id="reserveQueue" class="hidden">@Localizer["WaitingQueue"]</label>
        <label id="reserveSend" class="hidden">@Localizer["Send"]</label>
        <label id="reservePrescription" class="hidden">@Localizer["Prescription"]</label>
        <label id="reserveServices" class="hidden">@Localizer["Services"]</label>
        <label id="reserveOk" class="hidden">@Localizer["Visited"]</label>
        <label id="reserveTransform" class="hidden">@Localizer["CannotMoveThisReserve"]</label>
        <label id="hasQueue" class="hidden"></label>

        <div class="col-sm-offset-2 col-sm-12" style="@direction">

        </div>

        <div class="col-sm-offset-1 col-sm-10" style="@direction">

        </div>

    </div>

    <div class="row @font" style="font-size:1.3rem">

        <div id="calendar" style="width: 100%"></div>

    </div>


    <div id="my-modal-reserve" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeReserveModal()" aria-hidden="true">&times;</button>
                    <h3 id="reserve-modal-header" class="smaller lighter blue no-margin @font">
                        @Localizer["New"]
                    </h3>
                </div>

                <div id="reserve-modal-body" class="modal-body">

                </div>

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_InsertWrong"]
                </div>

                <div id="VisitedChange" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ReserveStausChanged"]
                </div>

                <div class="modal-footer">
                    @(Html.Kendo().Button()
                        .Name("btn-reserve-accept")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                        .Content(Localizer["Ok"]))
                    @(Html.Kendo().Button()
                        .Name("btn-reserve-accept-close")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeReserveModal()" })
                        .Content(Localizer["Exit"]))

                </div>
            </div>
        </div>
    </div>


    <div id="my-modal-qeue" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeQeueModal()" aria-hidden="true">&times;</button>
                    <h3 id="qeue-modal-header" class="smaller lighter blue no-margin @font"></h3>
                </div>

                <div id="qeue-modal-body" class="modal-body row" style="width:50vw">

                </div>

                <div class="modal-footer">
                    @(Html.Kendo().Button()
                        .Name("btn-qeue-accept")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right" })
                        .Content(Localizer["Ok"]))
                    @(Html.Kendo().Button()
                        .Name("btn-qeue-accept-close")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeQeueModal()" })
                        .Content(Localizer["Exit"]))

                </div>
            </div>
        </div>
    </div>

    <div id="my-modal-Receive" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeReceiveModal()" aria-hidden="true">&times;</button>
                    <h3 id="Receive-modal-header" class="smaller lighter blue no-margin @font">
                        @Localizer["Received"]
                    </h3>
                </div>

                <div id="Receive-modal-body" style="overflow:hidden;" class="modal-body">

                </div>

                <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_InsertWrong"]
                </div>

                <div id="EmptyDoctor" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["InsertDoctorName"]
                </div>

                <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["ERROR_DataNotValid"]
                </div>

                <div id="InvalidReceptionService" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["InvalidReceptionService"]
                </div>

                <div id="InvalidReception" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["InvalidReception"]
                </div>

                <div id="NotEnoughProductCount" class="red label-white middle hidden" style="height:40px;display:block">
                    <i class="ace-icon fa fa-stop bigger-120"></i>
                    @Localizer["NotEnoughProductCount"]
                </div>


                <div class="modal-footer">
                    @*@(Html.Kendo().Button()
                        .Name("btn-Receive-accept")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "()" })
                        .Content(Localizer["Ok"]))*@
                    @(Html.Kendo().Button()
                        .Name("btn-Receive-accept-close")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeReceiveModal()" })
                        .Content(Localizer["Exit"]))

                </div>
            </div>
        </div>
    </div>

    <div id="my-modal-VisitPrice" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="closeVisitPriceModal()" aria-hidden="true">&times;</button>
                    <h3 id="VisitPrice-modal-header" class="smaller lighter blue no-margin @font">
                        @Localizer["ChangeVisitPrice"]
                    </h3>
                </div>

                <div id="VisitPrice-modal-body" class="modal-body">

                    @(Html.Kendo().NumericTextBox<decimal>()
                                    .Name("ChangeVisitPriceInReserve")
                                    .Format("#.00")
                    )

                </div>

                <div class="modal-footer">

                    @(Html.Kendo().Button()
                        .Name("btn-VisitPrice-accept")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "VisitPriceInReserveChange()" })
                        .Content(Localizer["Ok"]))
                    @(Html.Kendo().Button()
                        .Name("btn-VisitPrice-accept-close")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "closeVisitPriceModal()" })
                        .Content(Localizer["Exit"]))

                </div>
            </div>
        </div>
    </div>



    <div id="CameraModal" class="modal fade " data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="HideCameraModal()" aria-hidden="true">&times;</button>
                    @*<h3 id="CameraModal-header" class="smaller lighter blue no-margin"></h3>
                        <h4 class="modal-title" id="CameraModalLabel">@ViewBag.DiseaseRecord</h4>*@
                </div>

                <div id="CameraModal-body" class="modal-body">


                    <div class="contentarea">

                        <div id="Camera" class="camera">
                            <video id="video">Video stream not available.</video>
                        </div>
                        <div id="startButtonDiv"><button id="startbutton">Take photo</button></div>

                        <canvas id="canvas"></canvas>
                        <div id="Output" class="output" style="padding:0;margin:0">

                            <img id="photo" alt="">

                            <div class="col-sm-12" style="margin-top:1rem">
                                <a href="\\#" class="k-link k-button k-button-icon" onclick="acceptCameraPic()" style="padding:0.8rem;width:10rem">@Localizer["Ok"]</a>
                                <a href="\\#" class="k-link k-button k-button-icon" onclick="cancelCameraPic()" style="padding:0.8rem;width:10rem"> @Localizer["Exit"]</a>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="modal-footer">



                    @(Html.Kendo().Button()
                            .Name("btn-acceptPatientQueuDisease")
                            .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "HideCameraModal()" })
                            .Content(Localizer["Exit"]))
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>




<div id="PatientQueuRecordModal" class="modal fade @font" tabindex="-1" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="patientQueuHide()" aria-hidden="true">&times;</button>
                <h3 id="modalform-header" class="smaller lighter blue no-margin"></h3>
                <h4 class="modal-title blue  hidden" id="myModalLabel">
                    @Localizer["DiseaseRecord"]
                </h4>
                <h4 class="modal-title blue hidden" id="myModalLabel2">
                    @Localizer["MedicineRecord"]
                </h4>
            </div>

            <div id="PatientQueuRecordModal-body" class="modal-body" style="height:50rem;width:60rem">

            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                        .Name("btn-acceptPatientQueuDisease")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", @data_id = "", type = "button", @class = "pull-right", onclick = "patientQueuHide()" })
                        .Content(Localizer["Exit"]))
                @*<button id="exit" class=" pull-right" style="font-size:15px;height:35px;margin:2px;">
                        @Localizer["Exit"]
                    </button>*@

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div id="prescriptionModal" class="modal fade @font" tabindex="-1" data-backdrop="static" data-keyboard="false" style="direction:ltr">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closePrescriptionModal()" aria-hidden="true">&times;</button>
                <h3 id="prescriptionModal-header" class="smaller lighter blue no-margin">@Localizer["Prescription"]</h3>

            </div>

            <div id="prescriptionModal-body" class="modal-body" style="width:80vw">

            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                        .Name("btn-prescriptionModal-close")
                        .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "closePrescriptionModal()" })
                        .Content(Localizer["Exit"]))


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div id="AddMedicineModal" class="modal fade" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="addMedicineHide()" aria-hidden="true">&times;</button>
                <h3 id="modalform-header" class="smaller lighter blue no-margin"></h3>
                <h4 class="modal-title" id="myModalLabel">@Localizer["NewMedicine"]</h4>
            </div>

            <div id="AddMedicineModal-body" class="modal-body">

            </div>

            <div id="ERROR_MedicineWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addMedicine-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addNewMedicine()" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-addMedicine-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick = "addMedicineHide()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div>
    </div>
</div>

<div id="AddDiseaseModal" class="modal fade @font" data-backdrop="static" data-keyboard="false" style="@direction">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closeAddDiseaseModal()" aria-hidden="true">&times;</button>
                <h3 id="AddDiseaseModal-header" class="smaller lighter blue no-margin MyFont-Roboto-grid"></h3>
            </div>

            <div id="AddDiseaseModal-body" class="modal-body" style="width:60rem">

            </div>

            <div id="ERROR_SomeThingWentWrong" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_InsertWrong"]
            </div>

            <div id="ERROR_Data" class="red label-white middle hidden" style="height:40px;display:block">
                <i class="ace-icon fa fa-stop bigger-120"></i>
                @Localizer["ERROR_DataNotValid"]
            </div>

            <div class="modal-footer">

                @(Html.Kendo().Button()
                .Name("btn-addDisease-accept")
                .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "k-primary pull-right", onclick = "addNewDisease()" })
                .Content(Localizer["Ok"]))
                @(Html.Kendo().Button()
                    .Name("btn-addDisease-close")
                    .HtmlAttributes(new { style = "font-size:15px;height:35px;margin:2px;", type = "button", @class = "pull-right", onclick="closeAddDiseaseModal()" })
                    .Content(Localizer["Exit"]))

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script>

    function closePrescriptionModal() {

        $('#prescriptionModal').modal('hide');
        $('#prescriptionModal-body').empty();

    }

    function EditVisitReceptionService(element) {

        $("#my-modal-Receive #ERROR_SomeThingWentWrong").addClass("hidden");
        $("#my-modal-Receive #EmptyDoctor").addClass("hidden");
        $("#my-modal-Receive #ERROR_Data").addClass("hidden");

        var data = {
            receptionServiceId: $(element).attr('data-id'),
        };

        var link = "/Visit/PayVisit";

        $(".loader").removeClass("hidden");
        $.ajax({
            type: "Post",
            url: link,
            data: data,
            success: function (response) {
                if (response !== 0) {
                    if (response === "ERROR_Data") {

                        $('#my-modal-Receive #ERROR_Data').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else if (response === "InvalidReceptionService") {

                        $('#my-modal-Receive #InvalidReceptionService').removeClass('hidden');

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");

                    } else {

                        $(".loader").fadeIn("slow");
                        $(".loader").addClass("hidden");
                        $("#serviceKendoGrid .k-pager-refresh")[0].click();

                        //calendar1.refetchEvents();
                        //RefreshReservePrice(("#TxtReserveDetailId").val());
                    }
                } else {

                    $('#my-modal-Receive #ERROR_SomeThingWentWrong').removeClass('hidden');

                    $(".loader").fadeIn("slow");
                    $(".loader").addClass("hidden");
                }
            }
        });
    };

    

    

</script>

@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_GridAndModalLinks.cshtml")
@await Html.PartialAsync("~/Views/Shared/PartialViews/InterfacePartials/_Modal.cshtml")


<script src="~/Content/assets/js/moment.min.js"></script>
<script src="~/Content/assets/js/fullcalendar.js"></script>
<script src="~/Content/js/Reserve.js"></script>
<script src="~/Content/assets/js/bootbox.js"></script>
